﻿@model ClinicWebApp.Models.WebsiteGallery

@{
    ViewData["Title"] = "ایجاد گالری جدید";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />


<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4 col-xs-12 pull-right">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="WebsiteId" value="@ViewData["WebsiteId"]" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                 <input asp-for="Date" type="hidden" class="ndate"/>
                <input id="show_date" type="text" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label asp-for="Show" class="control-label"></label>
                <input asp-for="Show" class="checkbox"/>
                <span asp-validation-for="Show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>
<div class="box-footer right margin-top-sm">
    <a asp-action="Index">
        بازگشت به دسته بندی ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   <script>

        $(document).ready(function () {
            $("#show_date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            }).datepicker("setDate", 'now');
        });
    </script>

 <script>
$(document).ready(function(){
 var jd=moment($("#show_date").val(), 'jYYYY-jM-jD').format('YYYY/M/D');
      $("#Date").val(jd);

})

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
    }