﻿@model ClinicWebApp.Models.WebsiteGallery

@{
    ViewData["Title"] = "حذف گالری";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="eDate">
            @Model.Date.ToString("yyyy-MM-dd")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Show)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-action="Index">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>