﻿@model IEnumerable<ClinicWebApp.Models.WebsiteGallery>

@{
    ViewData["Title"] = "گالری تصاویر";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-image"></i> ایجاد گالری جدید</a>
</p>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Website)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="eDate">
                @item.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Website.Id)
        </td>*@
            <td>
                <a asp-controller="WebsiteGalleryImages" asp-action="Create" asp-route-id="@item.Id" class="btn btn-black">تصاویر این گالری</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">ویرایش</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>