﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | سامانه مدیکاتو</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/owl.carousel.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/fonts/icons/flaticon.css" rel="stylesheet">
        <link href="~/css/master.css" rel="stylesheet">
        <link href="~/css/admin.css" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/css/sm.css" />
    <!--[if lt IE 9]>
        <script src="dist/js/html5shiv.js"></script>
      <![endif]-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
<noscript>جاواسکریپت در مرورگر شما فعال نیست. برای استفاده از این 
نرم افزار باید جاواسکریپت در تنظیمات مرورگر فعال باشد</noscript>
    <style>
        aside .spec-img img {
            width: 45px;
            margin: 16px auto;
        }
    </style>
</head>
<body>
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <header class="col-xs-12 shadow">
                <img src="~/images/logo.png" class="admin-logo hidden-xs">
                    <img src="~/images/menu-black.svg" id="menu-icon" class="hidden visible-sm visible-xs">
                    <h1>سامانه مدیریت مطب مدیکاتو</h1>
                    <span class="icons">
                       <a onclick="window.history.back()"> <i class="fa fa-angle-left fa-2x pull-left" title="بازگشت"></i></a>
                    </span>
                </header>
                <main class="col-md-10">
                    <div class="col-md-12">
                        <div class="panel-box shadow padding col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </main>
                <aside class="col-md-2">

                    <div class="spec-img shadow">
                        <img src="~/images/logo.png">
                    </div>
                    <h4>پنل مدیریت</h4>

                    <hr />

                    <div class="menu-header">
                            <a asp-controller="Clinics" asp-action="Index">
                            <h3>
                                <span class="flaticon-024-tabs"></span>کلینیک ها
                            </h3>
                        </a>
                    </div>
                   
                    <div class="menu-header">
                            <a asp-controller="Notifications" asp-action="Index">
                          <h3>
                            <span class="flaticon-020-info"></span>اعلان ها
                          </h3>
                        </a>
                    </div>

                    <div class="menu-header">
                        <a asp-controller="Messages" asp-action="Index">
                            <h3>
                                <span class="flaticon-014-email"></span>تیکت ها
                            </h3>
                        </a>
                    </div>

                    <div class="menu-header">
                        <a asp-action="Index" asp-controller="Manage">
                            <h3>
                                <span class="flaticon-034-settings"></span>تنظمیات پنل
                            </h3>
                        </a>
                    </div>
                    
                   <div class="menu-header" id="logout">
                        <form id="logout-form" method="post" asp-controller="Account" asp-action="Logout" class="logout-icon">

                        <button type="submit" asp-controller="Account" asp-action="Logout">
                         <h3>
                            <span class="flaticon-009-logout"></span>خروج
                        </h3>
                        </button>
                        </form>
                    </div>

                </aside>
            </div>
        </div>
    </div>




    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ClinicWebApp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - مدیکاتو</p>
            </footer>
        </div>*@

    @*<environment include="Development">*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    @*</environment>*@
    @*<environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("Scripts", required: false)
    <script>
        //$('.menu-header+ul').slideUp();
        $('.menu-header').click(function () {
            $(this).next('ul').slideToggle();
        });
    </script>




<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
      for(var i=0;i<document.getElementsByClassName("eDate").length;i++){
          var elem=document.getElementsByClassName("eDate")[i];
         elem.innerHTML=moment(elem.innerHTML, 'YYYY-M-D').format('jYYYY/jM/jD')
      }

    </script>
    <script>
      $("#menu-icon").click(function(){
          $("aside").toggleClass("toright");
           $("body").toggleClass("no-overflow");
      })
      </script>
      <script>
$(document).ready( function () {
    $('.datatable').DataTable();
} );
</script>
</body>
</html>
