﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - سامانه مدیکاتو</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/fonts/icons/flaticon.css" rel="stylesheet" type="text/css">
        <link href="~/css/master.css" rel="stylesheet">
        <link href="~/css/admin.css" rel="stylesheet">
       <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/css/sm.css" />

      <script src="~/js/ckeditor_full/ckeditor.js"></script>
      <script src="~/js/ckeditor_full/config.js"></script>
<!--[if lt IE 9]>
        <script src="dist/js/html5shiv.js"></script>
      <![endif]-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
<noscript>جاواسکریپت در مرورگر شما فعال نیست. برای استفاده از این 
نرم افزار باید جاواسکریپت در تنظیمات مرورگر فعال باشد</noscript>

  
</head>
<body>
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <header class="col-xs-12 shadow">
                <img src="~/images/logo.png" class="admin-logo hidden-xs">
                    <img src="~/images/menu-black.svg" id="menu-icon" class="hidden visible-sm visible-xs">
                    <h1>سامانه مدیریت مطب مدیکاتو</h1>
                   <span class="icons">
                       <a onclick="window.history.back()"> <i class="fa fa-angle-left fa-2x pull-left" title="بازگشت"></i></a>
                    </span>
                </header>
                <main class="col-md-10">
                    <div class="col-md-12">
                        <div class="panel-box shadow padding col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </main>
                <aside class="col-md-2">
                    @await Component.InvokeAsync("Info")

                 <div class="menu-header" id="webadmin">
                        <a asp-controller="Websites" asp-action="Create">
                         <h3>
                            <span class="flaticon-022-website"></span>اطلاعات اولیه
                        </h3>
                        </a>
                    </div>

                    <div class="menu-header">
                        <a asp-controller="WebsitePosts" asp-action="Index">
                          <h3>
                            <span class="flaticon-002-pencil"></span>نوشته ها
                          </h3>
                        </a>
                    </div>

                    <div class="menu-header">
                       <a asp-controller="Categories" asp-action="Index">
                          <h3>
                            <span class="flaticon-024-tabs"></span>دسته بندی ها
                          </h3>
                        </a>
                    </div>


                    <div class="menu-header">
                            <a asp-controller="WebsitePages" asp-action="Index">
                          <h3>
                            <span class="flaticon-047-link"></span>صفحات
                          </h3>
                        </a>
                    </div>


                    <div class="menu-header">
                            <a asp-controller="WebsiteContactForms" asp-action="Index">
                          <h3>
                            <span class="flaticon-014-email"></span>نظرات
                          </h3>
                        </a>
                    </div>

                    <div class="menu-header">
                            <a asp-controller="WebsiteGalleries" asp-action="Index">
                          <h3>
                            <span class="flaticon-021-circled"></span>مدیریت تصاویر
                          </h3>
                        </a>
                    </div>

                    @if (!User.IsInRole("webadmin"))
                    {
                    <div class="menu-header">
                        <a asp-controller="Home" asp-action="Index">
                             <h3>
                                <span class="flaticon-001-browser"></span>مدیریت مطب
                            </h3>
                        </a>
                    </div>
                    }


                     <div class="menu-header" id="logout">
                        <form id="logout-form" method="post" asp-controller="Account" asp-action="Logout" class="logout-icon">

                        <button type="submit" asp-controller="Account" asp-action="Logout">
                         <h3>
                            <span class="flaticon-009-logout"></span>خروج
                        </h3>
                        </button>
                        </form>
                    </div>


                </aside>
            </div>
        </div>
    </div>




    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ClinicWebApp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - ClinicWebApp</p>
            </footer>
        </div>*@

   
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

         <script src="~/taggle/js/jquery-ui.js"></script>
    <script src="~/taggle/js/rainbow-custom.min.js"></script>
    <script src="~/taggle/js/taggle.min.js"></script>

    
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>

 @RenderSection("Scripts", required: false)
 
    <script>
        //$('.menu-header+ul').slideUp();
        $('.menu-header').click(function () {
            $(this).next('ul').slideToggle();
        });
    </script>
   <script>
 var editor = CKEDITOR.replace( 'txteditor' );
 CKEDITOR.editorConfig = function( config ) {
    config.language = 'fr';
    config.uiColor = '#AADC6E';
};
</script>
  
<script>
      for(var i=0;i<document.getElementsByClassName("eDate").length;i++){
          var elem=document.getElementsByClassName("eDate")[i];
         elem.innerHTML=moment(elem.innerHTML, 'YYYY-M-D').format('jYYYY/jM/jD')
      }

    </script>
      <script>
      $("#menu-icon").click(function(){
          $("aside").toggleClass("toright");
           $("body").toggleClass("no-overflow");
      })
      </script>
       <script>
     var fileTypes = [
    'image/jpeg',
    'image/pjpeg',
    'image/png'
  ]
  
  function validFileType(file) {
    for(var i = 0; i < fileTypes.length; i++) {
      if(file.type === fileTypes[i]) {
        return true;
      }
    }
  
    return false;
  }
   
  function returnFileSize(number) {
    if(number < 1024) {
      return number + 'bytes';
    } else if(number >= 1024 && number < 1048576) {
      return (number/1024).toFixed(1) + 'KB';
    } else if(number >= 1048576) {
      return (number/1048576).toFixed(1) + 'MB';
    }
  }

    function updateImageDisplay() {
        document.getElementsByClassName("mainpagepic")[0].style.display="none";
        var input = document.getElementById("file-1");
        var preview = document.getElementById('selectedFiles');

        while(preview.firstChild) {
          preview.removeChild(preview.firstChild);
        }
      
        var curFiles = input.files;
        if(curFiles.length === 0) {
          var para = document.createElement('p');
          para.textContent = 'فایلی برای آپلود انتخاب نشده است';
          preview.appendChild(para);
        } else {
          var list = document.createElement('ul');
          preview.appendChild(list);
          for(var i = 0; i < curFiles.length; i++) {
            var listItem = document.createElement('li');
            var para = document.createElement('p');
            if(validFileType(curFiles[i])) {

                if(curFiles[i].size<3048576){
              para.textContent = 'فایل: ' + curFiles[i].name + ' - حجم: ' + returnFileSize(curFiles[i].size) + '.';
              var image = document.createElement('img');
              image.src = window.URL.createObjectURL(curFiles[i]);
      
              listItem.appendChild(image);
              listItem.appendChild(para);
                }
                else{
                    para.textContent = 'حجم فایل باید کمتر از 3 مگابایت باشد';
                    listItem.appendChild(para);
                }

            } else {
              
              para.textContent = 'فایل ' + curFiles[i].name + ': فرمت مجاز ارسال ندارد. فایل با فرمت jpg,jpeg,png مجاز هستند';
              listItem.appendChild(para);
              
            }
      
            list.appendChild(listItem);
          }
        }
      }
      </script>
</body>
</html>
