﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - سامانه مدیکاتو</title>


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/owl.carousel.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
         <link href="~/fonts/icons/flaticon.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="~/bseditor/bootstrap-wysiwyg.css">
        <link href="~/css/master.css" rel="stylesheet">
        <link href="~/css/admin.css" rel="stylesheet">
        <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/css/sm.css" />
          <script src="~/js/ckeditor/ckeditor.js"></script>
<!--[if lt IE 9]>
        <script src="dist/js/html5shiv.js"></script>
      <![endif]-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
<noscript>جاواسکریپت در مرورگر شما فعال نیست. برای استفاده از این 
نرم افزار باید جاواسکریپت در تنظیمات مرورگر فعال باشد</noscript>
</head>
<body>
    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <header class="col-xs-12 shadow" style="z-index:999">
                <img src="~/images/logo.png" class="admin-logo hidden-xs">
                    <a id="menu-icon" href="#" class="hidden visible-sm visible-xs">
                    <img src="~/images/menu-black.svg">
                    </a>                    
                    <h1>سامانه مدیریت مطب مدیکاتو</h1>
                   <span class="icons">
                       <a onclick="window.history.back()"> <i class="fa fa-angle-left fa-2x pull-left" title="بازگشت"></i></a>
                    </span>
                </header>


                <main class="col-md-10 col-xs-12">
                    <div class="col-md-12 reset-padding">
                        <div class="panel-box shadow col-xs-12 reset-padding">
                            @RenderBody()
                        </div>

                    </div>
                </main>
                <aside class="col-md-2">
                    @await Component.InvokeAsync("Info")
            <div class="menu-header" id="menu_dashboard">
                        <a asp-action="Index" asp-controller="Home">
                            <h3>
                                <span class="flaticon-001-browser"></span>امروز
                            </h3>
                        </a>
                    </div>
@{
    if(User.IsInRole("doctor")){
                <div class="menu-header">
                       <a asp-controller="Reservations" asp-action="IndexVisit">
                           <h3>
                                 <span class="flaticon-013-attached"></span>ویزیت
                           </h3>
                        </a>
                    </div>
    }
}
                    <div class="menu-header">
                       <a asp-controller="Patients" asp-action="Index">
                           <h3>
                                 <span class="flaticon-024-tabs"></span>پرونده
                           </h3>
                        </a>
                    </div>

                   

                    <div class="menu-header">
                        <a asp-controller="ReservationFreeDates" asp-action="Create">
                        <h3>
                            <span class="flaticon-002-pencil"></span>نوبت&zwnj;دهی
                        </h3>
                        </a>
                    </div>
                    <div class="menu-header">
                    <a asp-controller="Reservations" asp-action="Financial">
                        <h3>
                            <span class="flaticon-010-notepad"></span>گزارش مالی
                        </h3>
                    </a>
                    </div>

                    
                    <div class="menu-header" id="menu_phone">
                    <a asp-controller="Phonebook" asp-action="Index">
                        <h3>
                            <span class="flaticon-017-bookmark"></span>دفتر تلفن
                        </h3>
                    </a>
                    </div>

 <div class="menu-header" id="menu_note">
                    <a asp-controller="Note" asp-action="Index">
                        <h3>
                            <span class="flaticon-043-add-folder"></span>دفتر یادداشت
                        </h3>
                    </a>
                    </div>

                      <div class="menu-header" id="menu_checkin">
                    <a asp-controller="EntranceLog" asp-action="report">
                        <h3>
                            <span class="flaticon-049-checked"></span>ثبت ورود
                        </h3>
                    </a>
                    </div>

                    <div class="menu-header" id="webadmin">
                         <a asp-controller="Reservations" asp-action="FinancialCheck">
                         <h3>
                            <span class="flaticon-022-website"></span>کنترل مالی
                        </h3>
                        </a>
                    </div>
                    
                    
                      <div class="menu-header" id="logout">
                        <form id="logout-form" method="post" asp-controller="Account" asp-action="Logout" class="logout-icon">

                        <button type="submit" asp-controller="Account" asp-action="Logout">
                         <h3>
                            <span class="flaticon-009-logout"></span>خروج
                        </h3>
                        </button>
                        </form>
                    </div>

                </aside>
            </div>
        </div>
    </div>




    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ClinicWebApp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - ClinicWebApp</p>
            </footer>
        </div>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
   <script src="~/js/sigpad.js"></script>
    @RenderSection("Scripts", required: false)
   
    <script>
        $('.menu-header+ul').slideUp();
        $('.menu-header').click(function () {
            $(this).next('ul').slideToggle();
        });
    </script>
   

  <script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
      for(var i=0;i<document.getElementsByClassName("eDate").length;i++){
          var elem=document.getElementsByClassName("eDate")[i];
         elem.innerHTML=moment(elem.innerHTML, 'YYYY-M-D').format('jYYYY/jM/jD')
      }

    </script>
   <script>
      $("#menu-icon").click(function(){
          $("aside").toggleClass("toright");
           $("body").toggleClass("no-overflow");
      })
      </script>

<script>
$(document).ready( function () {
    $('.datatable').DataTable();
} );
</script>




</body>
</html>
