﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>

    <title>@ViewData["Title"] - سامانه مدیکاتو</title>




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link href="~/css/owl.carousel.css" rel="stylesheet">

    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/fonts/icons/flaticon.css" rel="stylesheet" type="text/css">

    <link href="~/css/master.css" rel="stylesheet">

    <link href="~/css/admin.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/css/sm.css" />
<script src="~/js/image-compressor.js"></script>
 <!--[if lt IE 9]>
        <script src="dist/js/html5shiv.js"></script>
      <![endif]-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
<noscript>جاواسکریپت در مرورگر شما فعال نیست. برای استفاده از این 
نرم افزار باید جاواسکریپت در تنظیمات مرورگر فعال باشد</noscript>
   <style>
       #queuedate{
           opacity:0;
           width:0;
           height:0;
           margin:0;
       }
.hidden-scr{
    display:none;
}
       @@media print {
           @@page {size: landscape}
    /*header,aside,.queue,.box-header,#queueinfo,#queuelist > label,
    .modal-header,.modal-footer*/

    .box-header,#queuelist > label,#queueinfo,.modal-header,.modal-footer
    {
        display: none !important;
    }
    #queuelist .col-md-4{
        display:none !important;
    }
    #receiptModal,.receipt-signature-area {
        display: block !important;
    }
    .modal-content{
        border:none !important;
    }
    .receipt table {
    width: 100%;
    }
.receipt table td {
    padding: 10px;
    border: 1px solid rgba(123, 123, 123, 0.1);
}
.receipt table td:first-of-type{
    background-color:#dedede !important;
    width:30%;
}
.hidden-scr{
    display:block;
    margin-bottom:10px;
}
   .hidden-scr,.hidden-scr td{
      border:0 !important;
  } 
  #cinfo #clinic_img{
      width:50px;
  } 
  #cinfo #clinic_info{
      font-size:14px;
      display:inline-block;
      margin-right:10px;
  }
}
#menu-icon{
     -webkit-appearance: none;
}
#PaymentType{
    width:55%;
}
#total__money__sub{
    background-color:#dedede;
}
#total__money__sub{
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    width: 100px;
    text-align: center;
}
#total_paid{
    font-size: 1.1em;
    font-weight: bold;
    width: 65px;
    text-align: center;
}
@@media only screen and (max-width:768px){
    #PaymentType{
    width:100%;
}
}
.check-label-select{
   background-color:rgba(0, 0, 0, 0.64)
}
   </style>
</head>
<body>
<input type="hidden" id="hidden__clinicId" value="@UserInfo.ClinicId">

    <div class="main-wrapper">
        <div class="container-fluid">
            <div class="row">
                <header class="col-xs-12 shadow" style="z-index:999">
                <img src="~/images/logo.png" class="admin-logo hidden-sm">
                    <a id="menu-icon" href="#" class="hidden visible-sm visible-xs">
                    <img src="~/images/menu-black.svg">
                    </a>  
                    <h1>سامانه مدیریت مطب مدیکاتو</h1>
                    <span class="icons">
                       <a onclick="window.history.back()"> <i class="fa fa-angle-left fa-2x pull-left" title="بازگشت"></i></a>
                    </span>
                </header>


                <main class="col-md-10 col-xs-12">
                    <div class="col-md-12 main-area col-xs-12 reset-padding">
                        <div class="panel-box shadow col-md-12 col-xs-12 reset-padding">
                            @RenderBody()
                        </div>
                    </div>
                </main>
                <aside class="col-md-2">
                    @await Component.InvokeAsync("Info")

                    <div class="menu-header" id="menu_dashboard">
                        <a asp-action="Index" asp-controller="Home">
                            <h3>
                                <span class="flaticon-001-browser"></span>امروز
                            </h3>
                        </a>
                    </div>
                 @if(User.IsInRole("doctor")){
                         <div class="menu-header" id="menu_visit">
                       <a asp-controller="Reservations" asp-action="IndexVisit">
                           <h3>
                                 <span class="flaticon-013-attached"></span>ویزیت
                           </h3>
                        </a>
                        </div>
                    }
                    <div class="menu-header" id="menu_patients">
                       <a asp-controller="Patients" asp-action="Index">
                           <h3>
                                 <span class="flaticon-024-tabs"></span>پرونده
                           </h3>
                        </a>
                    </div>

                    <div class="menu-header" id="menu_reservation">
                        <a asp-controller="ReservationFreeDates" asp-action="Create">
                        <h3>
                            <span class="flaticon-002-pencil"></span>نوبت&zwnj;دهی
                        </h3>
                        </a>
                    </div>
                   
                    <div class="menu-header" id="menu_financial">
                    <a asp-controller="Reservations" asp-action="Financial">
                        <h3>
                            <span class="flaticon-010-notepad"></span>گزارش مالی
                        </h3>
                    </a>
                    </div>

                     <div class="menu-header" id="menu_phone">
                    <a asp-controller="Phonebook" asp-action="Index">
                        <h3>
                            <span class="flaticon-017-bookmark"></span>دفتر تلفن
                        </h3>
                    </a>
                    </div>
                     <div class="menu-header" id="menu_note">
                    <a asp-controller="Note" asp-action="Index">
                        <h3>
                            <span class="flaticon-043-add-folder"></span>دفتر یادداشت
                        </h3>
                    </a>
                    </div>
 @if(User.IsInRole("doctor")){
                   <div class="menu-header" id="menu_checkin">
                    <a asp-controller="EntranceLog" asp-action="report">
                        <h3>
                            <span class="flaticon-049-checked"></span>ثبت ورود
                        </h3>
                    </a>
                    </div>  
 }else{
 <div class="menu-header" id="menu_checkin">
                    <a asp-controller="EntranceLog" asp-action="Index">
                        <h3>
                            <span class="flaticon-049-checked"></span>ثبت ورود
                        </h3>
                    </a>
                    </div>
 }
                    <div class="menu-header" id="webadmin">
                         <a asp-controller="Reservations" asp-action="FinancialCheck">
                         <h3>
                            <span class="flaticon-022-website"></span>کنترل مالی
                        </h3>
                        </a>
                    </div>

                    <div class="menu-header" id="logout">
                        <form id="logout-form" method="post" asp-controller="Account" asp-action="Logout" class="logout-icon">

                        <button type="submit" asp-controller="Account" asp-action="Logout">
                         <h3>
                            <span class="flaticon-009-logout"></span>خروج
                        </h3>
                        </button>
                        </form>
                    </div>

            

                   

                </aside>
            </div>
        </div>
    </div>


    

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script>
    function rowbtn(id){
        $("#pid-upload").val(id);
        $("#attachLink").attr("href", "/RecordAttachments/Index?patientId=" + id);
    }
</script>

    @RenderSection("Scripts", required: false)
    <script>
        $('.menu-header+ul').slideUp();
        $('.menu-header').click(function () {
            $(this).next('ul').slideToggle();
        });
    </script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
    <script src="~/js/sweetalert2.all.js"></script>

    <script>
        $(document).ready(function () {
            
$("#queuedate").click(function(){
    $("main").addClass("blur-back");
})
$("#queuedate").change(function(){
     $("main").removeClass("blur-back");
})


            $("#Date:not(.ndate)").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            }).datepicker("setDate", 'now');

            $("#queuedate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd",
                ignoreReadonly: true,
                autoclose: false
            });

            $("#show_date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            }).datepicker("setDate", 'now');
        });
    </script>


    <script>
        $(document).ready(function () {

            // code to read selected table row cell data (values).
            $("table").on('click', '.btnSelect', function () {
                // get the current row
                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st table cell TD value
                //alert(col1);
                $("#PatientId").val(col1);
            });


        });
    </script>
    <script>
        $(function () {
            $('input[type="time"][value="now"]').each(function () {
                var d = new Date(),
                    h = d.getHours(),
                    m = d.getMinutes();
                if (h < 10) h = '0' + h;
                if (m < 10) m = '0' + m;
                $(this).attr({
                    'value': h + ':' + m
                });
            });
        });
    </script>

    <script>
        //رسید بیمه
           $(document).on("click", ".receipt_btn", function() { 
            $("#patient_extra").html("");
            $("#cinfo").html("<img id='clinic_img' width='100' src='"+$(".spec-img img").attr("src")+"'>");
            $("#cinfo").append("<h2 id='clinic_info'>"+$("aside h4").html()+"</h2>");
            $("#patient_time").html($(this).parents(".pid-box").find(".timeHdn").val());
            $("#patient_date").html(new Date($(this).parents(".pid-box").find(".dateHdn").val()).toLocaleDateString('fa-IR'));
            $("#patient_name").html($(this).parents(".pid-box").prev(".pname").html());
            $("#patient_payment").html($(this).parents(".pid-box").find(".paymentprice").val()+" تومان ");
            var rowId=$(this).parents(".pid-box").find(".rowId").val();
            var html_extra;
            
            $.ajax({
                    type: "get",
                    url: '/Reservations/GetExtraPayment?rid='+rowId,
                    contentType: "application/json",
                    success: function (data) {
                        console.log("success",data);
                       for(var i=0;i<data.data.length;i++){
                         html_extra=`<span>${data.data[i].extra.title}:  ${data.data[i].amount} تومان </span>`;
                          $("#patient_extra").append(html_extra)
                       }
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
           })
    </script>
    <script>
        //باکس مالی
var pId,rowId,price,paymentTypeHdn,paymentsts,timeHdn,dateHdn,visitedHdn,cid,nc;
var get_array=[];
var fin_total=0;
        $(document).ready(function () {
              $(document).on("click", ".pname", function() { 
                fin_total=0;
                get_array=[];


                var acc=$(this).next(".pid-box").children(".acceptance_hidden").val();
               
                if(acc!="1"){
                    alert("ابتدا باید بیمار پذیرش شود");
                    return false;
                }
                else{
                
                $("#moneyModal").modal("show")
                $("input").removeProp("disabled");
                $("input").removeAttr("checked");

                var currentRow = $(this).next(".pid-box");
                  $("#status").html("");
                pId = currentRow.children("input.pId").val();
                rowId = currentRow.children("input.rowId").val();
                price=currentRow.children("input.paymentprice").val();
                paymentTypeHdn = currentRow.children("input.paymentTypeHdn").val();
                paymentsts=currentRow.children("input.paymentsts").val();
                timeHdn=currentRow.children("input.timeHdn").val();
                dateHdn=currentRow.children("input.dateHdn").val();
                visitedHdn=currentRow.children("input.visitedHdn").val();
                cid=@UserInfo.ClinicId;
                nc=currentRow.children(".nc").html();
                console.log(pId,rowId,paymentsts,price,paymentTypeHdn,timeHdn,dateHdn,visitedHdn,cid)
                $("#total_paid").html(price);
            
                
                
                console.log(rowId)
                $(".check-label").removeClass("check-label-select");
                
                console.log(get_array)
                $.ajax({
                    type: "get",
                    url: '/Reservations/GetExtraPayment?rid='+rowId,
                    contentType: "application/json",
                    success: function (data) {
                       for(var i=0;i<data.data.length;i++){

                            get_array.push(data.data[i])
                            console.log("get_array",get_array)
                            
                            if(get_array.length>0){

                            $("input#"+data.data[i].extraId).parent().addClass("check-label-select");
                            $("input#"+data.data[i].extraId).attr("disabled","disabled");
                            
                            $("input#"+data.data[i].extraId).siblings('.inp_number').val(data.data[i].amount);
                            
                            $("input#"+data.data[i].extraId).siblings('.row__id').html(data.data[i].id);
                           
                            
                            fin_total+=Number(data.data[i].amount)
                            }
                           
                       }


                      


                   if(get_array.length==0){
                       $("#moneyModal .modal-body div").hide();
                       $("#moneyModal .modal-body").append("<h2 id='text-alert' style='text-align:center;padding-top:20px'>هیچ هزینه ای برای بیمار ثبت نشده است</h2>");
                   }
                   else{

                       $("#moneyModal .modal-body div").show();
                       $("#text-alert").hide()
                   }

                    if(nc=="True"){
                    $("#status").html("");
                    $("#status").append("<p class='alert alert-success'>ویزیت رایگان می باشد</p>")
                }
                else if(nc!="True"){
                
                if (paymentTypeHdn.length>0) {
                    $("#PaymentType").val(paymentTypeHdn);
                }
                else {
                    $("#PaymentType").val("1");
                }

                console.log("from above",get_array);

                if(paymentsts==1 && get_array.length==0){
                    $("#status").append("<p class='alert alert-success' online-pay='true' >ویزیت آنلاین پرداخت شده است</p>")
                }

                }

          
        
           /* fnc_show=0
            //onload
            $('.check-label-select').each(function (index,elem) {
            if(!$(this).children("input[type='checkbox']").prop("disabled")){
                fnc_show+=Number($(this).children("input[type='number']").val());
            }
            });
             $("#total__money__sub").val(fnc_show);
*/

 $("#total__money__sub").val(fin_total)
  if($("#total__money__sub").val()==$("#total_paid").html()){
                            $(".pay-btn").prop("disabled",true)
   }

                //on keyup
                $("#queuelist input[type='number']").keyup(function(){
                fnc_show=0
                $('.check-label-select').each(function (index,elem) {
                    if(!$(this).children("input[type='checkbox']").prop("disabled")){
                fnc_show+=Number($(this).children("input[type='number']").val());
                    }
                });
                $("#total__money__sub").val(fnc_show);
                    })
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
                }
            })
              
        });



     
    </script>
    <script>
        $(document).on("click", ".pay-btn", function() {
            $(this).prop("disabled",true)
            if ($("#Payment").val() == null || $("#PaymentType").val() == null) {
                alert("لطفا مبلغ و نوع پرداخت را وارد کنید");
            }
            else{
               var fin=0;
               $('.check-label-select').each(function (index,elem) {

                   if(!$(this).children("input[type='checkbox']").prop("disabled")){
                     
                    fin+=Number($(this).children("input[type='number']").val());
                    var extra={
                    ExtraId: $(this).children("input[type='checkbox']").prop("id"),
                    ReservationId:Number(rowId),
                    Amount: $(this).children("input[type='number']").val()
                    }

                    console.log("extra items",extra) 
                    
                    //send new records
                    $.ajax({
                    type: "post",
                    url: '/Reservations/UpdateExtra',
                    contentType: "application/json",
                    data: JSON.stringify(extra),
                    success: function (data) {
                        console.log("success",data)
                    },
                    error: function(data){
                        console.log(data);
                    }
                    }) 
                   }
                   else{
                       //disabled checkbox__before added
                        fin+=Number($(this).children('input[type="number"]').val());
                        console.log(fin)
                        var extradis={
                        Id: $(this).children(".row__id").html(),
                        ExtraId: $(this).children("input[type='checkbox']").prop("id"),
                        ReservationId:Number(rowId),
                        Amount: $(this).children("input[type='number']").val()
                        }

                        $.ajax({
                    type: "post",
                    url: '/Reservations/UpdateExtra',
                    contentType: "application/json",
                    data: JSON.stringify(extradis),
                    success: function (data) {
                        console.log("success",data)
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
                   }
                    
                })

                 //update payment field
                    console.log("total",fin)
                    $("#Payment").val(fin)

                    var data = {
                    Id: Number(rowId),
                    PatientId:Number(pId),
                    Payment:$("#Payment").val(),
                    Time: timeHdn,
                    Date: dateHdn,
                    PaymentType: Number($("#PaymentType").val()),
                    ClinicId:Number(cid),
                    Visited:(visitedHdn?true:false)
                }
                $.ajax({
                    type: "post",
                    url: '/Reservations/UpdatePayment',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log("success",data)
                        swal({
                            title: "پرداخت ویزیت",
                            text: "پرداخت ویزیت با موفقیت ثبت شد",
                            type: "success",
                            confirmButtonText: '<i class="fa fa-check"></i> قبول',
                        }).then(function () {
                            location.reload();
                        }

                        );
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
            }
        });
    </script>
    <script>
$(document).on("change","#FileUrl",function(){
 if (this.files && this.files[0]) {
    $("#upform").submit();
  }
})

 $(document).on("click", ".accept-btn", function() { 
            var currentRow = $(this).parent(".pid-box");
           
            var col1 = currentRow.children("input.rowId").val();
            $("#rowid").val(col1);
            
            var data = {
                Id: $("#rowid").val()
            }
            console.log(data)
            $.ajax({
                type: "post",
                url: '/Reservations/EditAcceptance',
                data: data,
                success: function (data) {
                    console.log(data)
                    swal({
                        title: "پذیرش بیمار",
                        text: "بیمار مورد نظر پذیرش شد",
                        type: "success",
                        confirmButtonText: '<i class="fa fa-check"></i> قبول',
                    }).then(function () {
                        location.reload();
                    })
                },
                error: function () {
                    alert("متاسفانه خطایی رخ داده است");
                }
            })
        });

    </script>
    <script>
        $(document).on("click", ".visit-btn", function() { 
            var currentRow = $(this).parent(".pid-box");
            var col1 = currentRow.children("input.rowId").val();
            $("#rowid").val(col1);
            
            var data = {
                Id: $("#rowid").val()
            }
            console.log(data)
            $.ajax({
                type: "post",
                url: '/Reservations/UpdateVisit',
                data: data,
                success: function (data) {
                    console.log(data)
                    swal({
                        title: "ویزیت بیمار",
                        text: "بیمار مورد نظر ویزیت شد",
                        type: "success",
                        confirmButtonText: '<i class="fa fa-check"></i> قبول',
                    }).then(function () {
                        location.reload();
                    })
                },
                error: function () {
                    alert("متاسفانه خطایی رخ داده است");
                }
            })
        });
    </script>


   
    <script>
   var success = @((TempData["status"] != null).ToString().ToLower());
    $(window).load(function()
    {
        $(document).ready(function()
        {
            

            if (success == true) {
                swal({
                    title: "مدارک پرونده",
                    text: "پرونده بیمار با موفقیت ویرایش شد",
                    type: "success",
                    confirmButtonText: '<i class="fa fa-check"></i> قبول'
                })
            };
    });
    });

    </script>
<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>

    
queuecom(new Date().toISOString());
   
$("#persiandate").text(" تاریخ "+new Date().toLocaleDateString('fa-IR'));


    function queuecom(dateparam){
         var container = $("#componentcontainer");

         var jd=moment(dateparam, 'YYYY/M/D').format('jYYYY/jM/jD');
         $("#queuedate").val(jd);


        $.ajax({
            type: 'get',
            url: '/Patients/QueueIndex',
            data: {
                dt:dateparam
            },
            success: function (data) {
                container.html(data);
                
            },
            error:function(err){
                console.error(err)
            }
        })
    }



$("#queuedate").change(function(){
   var d= moment($("#queuedate").val(), 'jYYYY/jM/jD').format('YYYY/M/D');
    $("#persiandate").text(" تاریخ "+new Date(d).toLocaleDateString("fa-IR"));

queuecom(d);
})

</script>
<script>
      for(var i=0;i<document.getElementsByClassName("eDate").length;i++){
          var elem=document.getElementsByClassName("eDate")[i];
         elem.innerHTML=moment(elem.innerHTML, 'YYYY-M-D').format('jYYYY/jM/jD')
      }
</script>
 
<script>
        var selected_extra=[];
        var fnc_show=0;
       
          $(document).ready(function(){             
              $("#queuelist").on("click",".check-label",function(){
                if(!$(this).children("input").prop('disabled')){               
                if($(this).children("input").prop('checked')){
                  $(this).addClass("check-label-select");
              }
              else{
                  $(this).removeClass("check-label-select");
              }
            }
        })




            /*fnc_show=0
            $('.check-label-select').each(function (index,elem) {
            fnc_show+=Number($(this).children("input[type='number']").val());
            });
            $("#total__money__sub").val(fnc_show);*/



      })
</script>
     

<script>

$(document).on("change","input:not(#Address)",function(){
    if(/[١۲۳۴۵۶۷۸۹۰]/g.test($(this).val())){
        alert("کیبورد باید انگلیسی باشد");
        $(this).val("")
    }
    /*switch($(this).val()){
        case "١":$(this).val(1);
        break;

        case "":$(this).val(2);
        break;

        case "":$(this).val(3);
        break;

        case "":$(this).val(4);
        break;

        case "":$(this).val(5);
        break;

        case "":$(this).val(6);
        break;

        case "":$(this).val(7);
        break;

        case "":$(this).val(8);
        break;

        case "":$(this).val(9);
        break;

        case "":$(this).val(0);
        break;

    }*/
})

</script>
<script>

if($("#hidden__clinicId").val()==0){
    window.location.href="/";
}

</script>
<script>
    $("form").submit(function(){
        $("button[type='submit']").prop("disabled",true);
    })
</script>
<script>
      $("#menu-icon").click(function(){
          $("aside").toggleClass("toright");
           $("body").toggleClass("no-overflow");
      })
      </script>
<script>
$(document).ready( function () {
    $('.datatable').DataTable();
} );
</script>
</body>
</html>
