﻿@model ClinicWebApp.Models.Patient

@{
    ViewData["Title"] = "مشخصات بیمار";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainDisease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainDisease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedMedication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsedMedication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reagent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reagent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic.Address)
        </dd>
    </dl>
</div>
<div class="box-footer right">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a> |
    <a onclick="history.go(-1);">
        بازگشت به لیست
    </a>
</div>
