﻿@model IEnumerable<ClinicWebApp.Models.Reservation>
@foreach (var item in Model)
{
    <div class="queue">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="badge badge-primary">
            <i class="fa fa-clock-o"></i> @Html.DisplayFor(modelItem => item.Time)
        </span>
        <p>@Html.DisplayFor(modelItem => item.Patient.FullName)</p>
        <button class="btn shadow" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-clock-o icon"></i> در انتظار
        </button>
    </div>
}