﻿@model ErrorViewModel
@{
    ViewData["Title"] = "اخطار";
    Layout = "_LayoutDoctor";
}


<p style="text-align:center;margin-top:100px">
لطفا مجددا وارد شوید
</p>
<form method="post" asp-controller="Account" asp-action="Logout" style="text-align:center">
    <button class="btn btn-black" type="submit" title="خروج">
       ورود مجدد
    </button>
</form>