﻿@model ClinicWebApp.Models.Phonebook

@{
    ViewData["Title"] = "ویرایش شماره";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

 <div class="box-header col-xs-12 reset-padding" id="queue-header">
        <h2>@ViewData["Title"]</h2>
<hr>
</div>
<hr />
<div class="row">
    <div class="col-md-4 col-xs-12 pull-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group hidden">
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class ="form-control" value="@ViewData["cid"]">
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class ="form-control">
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class ="form-control">
            </div>
             <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class ="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class ="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
