﻿@model IEnumerable<ClinicWebApp.Models.Phonebook>

@{
    ViewData["Title"] = "دفتر تلفن";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-xs-12 reset-padding">
    <h2>دفتر تلفن</h2>
<hr>
    <p class="margin-top-sm">
        <a asp-action="Create" class="btn btn-black"><i class="fa fa-user"></i> افزودن</a>
    </p>
    <div class="table-resposnive">
    <table class="table margin-top-md">
        <thead>
                <th>
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.LName)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Tel)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.LName)
                    </td>
                     <td>
                        <a href="tel:@item.Tel">@item.Tel</a>
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                        <a  class="btn btn-black" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    </div>