﻿@{
    ViewData["Title"] = "دسترسی مسدود!";
     Layout = null;
}

<header style="text-align:center;margin-top:100px" dir="rtl">
    <img src="~/images/error.png" width="20%">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">شما اجازه دسترسی به این بخش را ندارید</p>
    <a href="/Account/Login">بازگشت</a>
</header>
