﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "ورود";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <title>مدیکاتو</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/fonts/icons/flaticon.css" rel="stylesheet">
    <link href="~/css/master.css" rel="stylesheet">
    <link href="~/css/admin.css" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/css/sm.css" />
     <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#000000">
<style>
input{
    -webkit-appearance: none;
}
</style>
</head>
<body class="no-bg-xs">

<div class="row">
    <div class="col-xs-12">

        <section class="col-md-4 col-xs-12 login-box">
            <img src="~/images/medicato.png" id="icon">
            <!-- <h3>ورود به سامانه مدیکاتو</h3> -->
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Username" class="form-control" type="text" placeholder="نام کاربری" autocomplete="on" />
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="رمز عبور" />
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control gradient-btn">ورود</button>
                </div>
               
                <small>سامانه <a href="https://medicato.me" target="_blank" noopenner noreferrer>مدیکاتو</a> - نسخه 5.1.1</small>
            </form>
        </section>
    </div>
</div>
</body>
</html>