﻿@model RegisterViewModel

@{
    ViewData["Title"] = "ثبت اکانت کاربری کلینیک";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4 pull-right">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" type="text" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cid"></label>
                <input asp-for="Cid" value="@ViewData["tmpid"]" class="form-control" readonly />
                <span asp-validation-for="Cid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>نقش</label>
                <select class="form-control" asp-for="RoleSelect">
                    <option value="1">پزشک</option>
                    <option value="2">منشی</option>
                    <option value="3">مسئول سایت</option>
                </select>
                @*<select class="form-control" id="rolesddl" asp-items="ViewBag.roles"></select>*@
                @*@Html.DropDownListFor(m => m.Role, Model.RoleList, "Select Role", new { @class = "form-control" })*@
            </div>
            <button type="submit" class="btn btn-black">ثبت نام</button>
        </form>
    </div>
</div>
<div class="box-footer right margin-top-sm">
    <a asp-action="Index" asp-controller="UserClinics" asp-route-id="@ViewData["tmpid"]">
    بازگشت به لیست کاربران
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
