﻿@model ClinicWebApp.Models.WebsiteGalleryImage

@{
    ViewData["Title"] = "افزودن تصویر";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>گالری تصاویر "@ViewData["GalleryTitle"]"</h2>
<hr />
<form class="col-xs-12 reset-padding" asp-action="Create" enctype="multipart/form-data">
 <div class="col-sm-12">
                 <button type="submit" class="btn btn-black pull-left" id="sbmt_btn" style="display:none"><i class="fa fa-check"></i> انتشار</button>
                <input type="file" name="FileUrl" id="FileUrl" class="inputfile inputfile-1 pull-left" data-multiple-caption="{count} فایل انتخاب شده است" multiple />
                <label for="FileUrl"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>آپلود فایل جدید&hellip;</span></label>
                <span asp-validation-for="FileUrl" class="text-danger"></span>
            
            <div class="form-group hidden">
                <input type="hidden" asp-for="GalleryId" value="@ViewData["GalleryId"]" />
            </div>
        </div>
        <div class="col-sm-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div id="selectedPic"></div>
            </div>
        </div>
</form>
<div class="table-responsive col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>عملیات</th>
                 <th class="text-left">
                    لینک تصویر
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["GalleryImages"] as IEnumerable<WebsiteGalleryImage>)
            {
            <tr>
                <td>
                    <img src="/@item.FileUrl" class="img-on-page" />
                </td>
                <td>
                    @{
                        if (item.Title == null)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">افزودن عنوان برای تصویر</a>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>

                        }
                    }
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                </td>
                 <td dir="ltr">
                    <label>https://app.medicato.me/@item.FileUrl</label>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-12">
    <div class="box-footer right margin-top-sm">
        <a asp-controller="WebsiteGalleries" asp-action="Index">
            بازگشت به دسته بندی ها
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        /*
By Osvaldas Valutis, www.osvaldas.info
Available for use under the MIT License
*/

        'use strict';

        ; (function (document, window, index) {
            var inputs = document.querySelectorAll('.inputfile');
            Array.prototype.forEach.call(inputs, function (input) {
                var label = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener('change', function (e) {
                    $("#sbmt_btn").show();
                    var fileName = '';
                    if (this.files && this.files.length > 1)
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    else
                        fileName = e.target.value.split('\\').pop();

                    if (fileName)
                        label.querySelector('span').innerHTML = fileName;
                    else
                        label.innerHTML = labelVal;
                });

                // Firefox bug fix
                input.addEventListener('focus', function () { input.classList.add('has-focus'); });
                input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
            });
        }(document, window, 0));
    </script>
    <script>
        var selDiv = "";
        document.addEventListener("DOMContentLoaded", init, false);
        function init() {
            document.querySelector('#FileUrl').addEventListener('change', handleFileSelect, false);
            selDiv = document.querySelector("#selectedPic");
        }

        function handleFileSelect(e) {

            if (!e.target.files || !window.FileReader) return;

            selDiv.innerHTML = "";

            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            filesArr.forEach(function (f) {
                //var f = files[i];
                if (!f.type.match("image.*")) {
                    return;
                }

                var reader = new FileReader();
                reader.onload = function (e) {
                    var html = "<div class='col-xs-12 col-sm-6 col-md-4 select-img pull-right'><img src=\"" + e.target.result + "\"></div>";
                    selDiv.innerHTML += html;
                }
                reader.readAsDataURL(f);
            });

        }
    </script>
}