﻿@model ClinicWebApp.Models.WebsiteGalleryImage

@{
    ViewData["Title"] = "حذف تصویر";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           
        </dt>
        <dd>
            <img src="/@Model.FileUrl" class="img-on-page" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gallery.Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-controller="WebsiteGalleryImages" asp-action="Create" asp-route-id="@Model.GalleryId">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>
