﻿@model ClinicWebApp.Models.WebsiteGalleryImage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebsiteGalleryImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gallery.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
