﻿@model ClinicWebApp.Models.WebsiteGalleryImage

@{
    ViewData["Title"] = "عنوان تصویر";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4 pull-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FileUrl" class="form-control" />
            <input type="hidden" asp-for="GalleryId" />

            <div class="form-group">
                <img src="/@Model.FileUrl" class="img-on-page" />
            </div>


            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-black" />
            </div>
        </form>
        </div>
    </div>

<div class="box-footer right margin-top-sm">
    <a asp-action="Create" asp-controller="WebsiteGalleryImages" asp-route-id="@Model.GalleryId">
        بازگشت به دسته بندی ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>

