@model ClinicWebApp.Models.ReservationFreeDate

@{
    ViewData["Title"] = "ثبت نوبت های روزانه";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/css/fullcalendar.min.css" rel="stylesheet" />
<link href="~/css/fullcalendar.print.css" rel="stylesheet" media="print" />


<link rel="stylesheet" href="~/js/jalalijscalendar/skins/aqua/theme.css">
<div class="col-xs-12 reset-padding">
    <h2>@ViewData["Title"]</h2>
    <hr>
</div>

<div class="content-box col-xs-12 margin-top-md" id="calender"></div>


<div id="reservations" class="table-responsive col-xs-12 margin-top-md">
    <table class="table">
        <thead>
            <tr>
                <th>تاریخ</th>
                 <th>ساعت شروع</th>
                  <th>ساعت پایان</th>
                  <th>رزرو اینترنتی</th>
                   <th>نوبت های آنلاین</th>
                  <th>تعداد کل نوبت ها</th>
                   <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>





<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span>جزئیات فعالیت</span></h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 function-bar">
                    <button id="btnEdit" class="btn btn-yellow " style="margin-right:5px;">
                        <span class="fa fa-pencil"></span> ویرایش
                    </button>
                    <button id="btnDelete" class="btn btn-danger ">
                        <span class="fa fa-trash"></span> حذف
                    </button>
                   
                </div>
                <h3 id="eventTitle"></h3>
                <p class="col-xs-12" id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>




<!--time modal Start-->
<div id="timeModalStart" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span>ساعت</span></h4>
            </div>
            <div class="modal-body">

                <input name="min" id="min"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       type="number"
                       maxlength="2" max="59" min="00" />
                <label class="dots">:</label>
                <input name="hour" id="hour"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       type="number"
                       maxlength="2" max="23" min="00" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="timechange();" data-dismiss="modal">تائید</button>
                <button type="button" class="btn gray" data-dismiss="modal">لغو</button>
            </div>
        </div>
    </div>
</div>


<!--time modal End-->
<div id="timeModalEnd" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span>ساعت</span></h4>
            </div>
            <div class="modal-body">

                <input name="minEnd" id="minEnd"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       type="number"
                       maxlength="2" max="59" min="00" />
                <label>:</label>
                <input name="hourEnd" id="hourEnd"
                       oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                       type="number"
                       maxlength="2" max="23" min="00" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success " onclick="timeEndchange();" data-dismiss="modal">تائید</button>
                <button type="button" class="btn gray" data-dismiss="modal">لغو</button>
            </div>
        </div>
    </div>
</div>




<div id="myModalSave" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تعیین جزئیات ویزیت</h4>
            </div>
            <div class="modal-body col-xs-12">
                <form class="col-md-12">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input asp-for="Id" type="hidden"/>
            <div class="form-group hidden">
                <label asp-for="Date" class="control-label"></label>
                <input id="StartDate" type="text" class="form-control white-readonly d-blur" autocomplete="off" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
                
                <input asp-for="Date" type="hidden"/>
            </div>
                   <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" value="15:00" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" value="20:00" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="PatientPerDay" class="control-label"></label>
                <input asp-for="PatientPerDay" class="form-control" />
                <span asp-validation-for="PatientPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePerVisit" class="control-label"></label>
                <input asp-for="TimePerVisit" type="number" class="form-control icon-inside" value="10" /><i>دقیقه</i>
                <span asp-validation-for="TimePerVisit" class="text-danger"></span>
            </div>
             <div class="form-group">
                <div class="checkbox">
                    <label>
                       رزرو اینترنتی دارد؟ <input type="checkbox" asp-for="OnlineEnabled" id="OnlineEnabled" name="OnlineEnabled" /> 
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" id="ClinicId" value="@ViewData["cid"]" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" value="ثبت زمان" class="btn btn-black" id="btnSave" />
                 <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>









@section Scripts{
    <script src="~/js/polyfill.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/moment-jalaali.js"></script>
    <script src='~/js/fullcalendar.min.js'></script>
    <script src='~/js/locale-all.js'></script>
    <script src="~/js/rome.standalone.js"></script>
    <script src="~/js/mdtpicker/material-datetime-picker.js" charset="utf-8"></script>




    <script>

            $(document).ready(function () {
            var initialLocaleCode = 'fa';
            var selectedEvent = null;
            FetchEventAndRenderCalendar(new Date());



            function FetchEventAndRenderCalendar(dt) {
            var events = [];
                $.ajax({
                    type:'GET',
                    url: 'GetEvents',
                    success: function (data) {
                        json=data.data;
                          var html="";
                          var td=new Date()
                          var today=td.getFullYear()+"-"+(('0'+(Number(td.getMonth())+1)).slice(-2))+"-"+(('0'+td.getDate()).slice(-2));
                          console.log(today)
                          $("#reservations table tbody").html("");
                          $(json).each(function (index, item) {
                              if(item.date.split('T')[0]>=today){
                               html+=`<tr>
                               <td class='eDate'>
                                   <a href="/ReservationFreeDates/Details/${item.id}">
                                   ${new Date(item.date).toLocaleDateString('fa-IR')}
                                   </a>
                                   </td>
                               <td>${item.startTime}</td>
                               <td>${item.endTime}</td>
                                <td>${(item.onlineEnabled?"<label class='label label-info'>رزرو اینترنتی دارد</label>":"<label class='label label-success'>رزرو اینترنتی ندارد</label>")}</td>
                                   <td>${item.onlines}&nbsp;<label class='hidden-md hidden-lg'>نفر رزرو آنلاین</label></td>
                                  <td>${item.title}&nbsp;<label class='hidden-md hidden-lg'>نفر کل نوبت ها</label></td>
                               <td>
                            <a class="btn btn-link" href="/ReservationFreeDates/Details/${item.id}">مشاهده</a> |
                            <a class="btn btn-link" href="/ReservationFreeDates/Edit/${item.id}">ویراش</a> |
                            <a class="btn btn-link" href="/ReservationFreeDates/Delete/${item.id}">حذف</a>
                                   </td>
                               </tr>`;
                               }
                            });
                        $("#reservations table tbody").append(html);
                        GenerateCalender(json,dt);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
                GenerateCalender();
            }


var result;

            function GenerateCalender(events,dt) {
                console.log(events)
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 800,
                    defaultDate: dt,
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    isJalaali: true,
                    locale: initialLocaleCode,
                    timezone: 'local',
                    timeFormat: 'hh:mm',
                    eventLimit: 3,
                    longPressDelay:500,
                    eventTextColor: '#fff',
                     eventColor: '#000000',
                    events: events,
                    eventLimit:true,
                    eventOverlap:false,
                    
                    dayClick: function (date) {
                       result = events.filter(event => (new Date(event.date).toLocaleDateString('en-US')) == new Date(date).toLocaleDateString('en-US'));
                       console.log(result)
                       
                     console.log('dayClick', new Date(date).toLocaleDateString('en-US'));
                        $("#StartDate").val(new Date(date).toLocaleDateString('en-US'));
                        

                         if(result.length>0){
                        window.location.href="/ReservationFreeDates/Details/"+result[0].id;  
                       }
                       
                    },
                    eventClick: function (calEvent, jsEvent, view) {
                    window.location.href="/ReservationFreeDates/Details/"+calEvent.id;  
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            Date: '',
                            TimePerVisit: '',
                            PatientPerDay: '',
                            StartTime: '',
                            EndTime: ''
                        };
                        if(result.length>0){
                           return false;
                        window.location.href="/ReservationFreeDates/Details/"+calEvent.id;  
                       }
                       else{
                            openAddEditForm();
                          return true;
                       }
                        
                        $('#calendar').fullCalendar('unselect');
                    },
                    eventRender: function (event, element, view) {

                        switch(event.status){
                            case "0":  $(element).css('background-color', '#ff0000');
                            break;

                            case "1":  $(element).css('background-color', '#009688');
                            break;

                            case "2":  $(element).css('background-color', 'darkorange');
                            break;
                        }
                        $(element).css("margin-top", "5px");
                        $(element).css("margin-bottom", "5px");
                    },
                    editable: true,
                    disableDragging: true
                })
            }


            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                $("#form-details").show();
                $("#workStatus").hide();
                openAddEditForm();
            })

            $('#btnStatus').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
                $("#form-details").hide();
                $("#workStatus").show();
            })

            $('#btnDelete').click(function () {
                 swal(
                {
                    title: 'حذف فعالیت',
                    text: "ایا مایل به حذف این فعالیت هستید؟ این عملیات قابل برگشت نمی باشد",
                    type: 'warning',
                    confirmButtonText: 'قبول',
                    cancelButtonText: 'لغو',
                    showCancelButton:true
                }
            ).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'DELETE',
                          url: DATABASE+"/"+selectedEvent._id+"?rev="+selectedEvent._rev,
                        success: function () {
                            swal(
                                {
                                    title: 'حذف فعالیت',
                                    text: "فعالیت مورد نظر حذف شد",
                                    type: 'success',
                                    confirmButtonText: 'قبول',
                                }
                            ).then((result) => {
                                 FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                                })
                        }
                    })
                }
            });
            })


 function openAddEditForm() {

                if (selectedEvent != null) {
                    /*$('#Id').val(selectedEvent.Id);
                    $('#ClinicId').val(selectedEvent.ClinicId);
                    $('#TimePerVisit').val(selectedEvent.TimePerVisit);
                    $('#PatientPerDay').val(selectedEvent.PatientPerDay);

                    $('#Date').val(new Date(selectedEvent.Date).toLocaleDateString('fa-FA'));
                    $('#StartTime').val(new Date(selectedEvent.StartTime).getHours());
                    $('#EndTime').val(new Date(selectedEvent.EndTime).getHours());*/
                }



                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            function getQueryString (field, url) {
                var href = url ? url : window.location.href;
                var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
                var string = reg.exec(href);
                return string ? string[1] : null;
            };




            $('#btnSave').click(function () {
                //Validation/
                if ($('#StartTime').val().trim() == "") {
                    alert('ساعت شروع را وارد کنید');
                    return;
                }
                if ($('#EndTime').val().trim() == "") {
                    alert('ساعت پایانی را وارد کنید');
                    return;
                }
                 /*if ($('#PatientPerDay').val().trim() == "") {
                    alert('تعداد را وارد کنید');
                    return;
                }*/
                if ($('#TimePerVisit').val().trim() == "") {
                    alert('مدت ویزیت را وارد کنید');
                    return;
                }               
                else {
                    if (StartTime > EndTime) {
                        alert('ساعت پایان قبل از ساعت شروع انتخاب شده است!');
                        return;
                    }
                }
                var uid = getQueryString('data');
                var data = {
                    ClinicId: $('#ClinicId').val(),
                    TimePerVisit:$('#TimePerVisit').val(),
                    PatientPerDay:0,
                    OnlineEnabled:$("#OnlineEnabled").prop("checked"),
                    Date: $('#StartDate').val(),
                    StartTime: $('#StartTime').val(),
                    EndTime: $('#EndTime').val()
                }
                console.log(data);
                if($("#Id").val()==""){
                    SaveEvent(data);
                }
                else{
                     UpdateEvent(data);
                }               
            })



            function SaveEvent(dt) {
                console.log("save");
                $.ajax({
                    type: 'POST',
                    url: '/ReservationFreeDates/SaveEvent',
                    data: JSON.stringify(dt),
                    headers: { 
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                    },
                    success: function (data) {
                            //Refresh the calender
                            console.log("passed",dt.Date);
                            FetchEventAndRenderCalendar(dt.Date);
                            $('#myModalSave').modal('hide');
                        
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }




            function UpdateEvent(data) {
                console.log("save");
                $.ajax({
                    type: 'PUT',
                    url: DATABASE+"/"+$('#hdEventID').val()+"?rev="+$("#hdRev").val(),
                    data: JSON.stringify(data),
                    headers: { 
                    'Accept': 'application/json',
                    'Content-Type': 'application/json' 
                    },
                    success: function (data) {
                            //Refresh the calender
                            console.log("ok");
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }    
        })
    </script>




    <script src="~/js/jalalijscalendar/jalali.js"></script>
    <script src="~/js/jalalijscalendar/calendar.js"></script>
    <script src="~/js/jalalijscalendar/calendar-setup.js"></script>
    <script src="~/js/jalalijscalendar/lang/calendar-fa.js"></script>

    <script>
        Calendar.setup({
            inputField: 'txtStart',
            button: 'start-btn',
            ifFormat: '%Y-%m-%d',
            dateType: 'jalali',
        });
        Calendar.setup({
            inputField: 'txtEnd',
            button: 'end-btn',
            ifFormat: '%Y-%m-%d',
            dateType: 'jalali'
        });

    </script>
    <script>
        var georgianDate;
        var timeInput;
        var georgianDateEnd;
        var timeInputEnd;


        //startdDate
        function changestart() {
            var enc = $('#txtStart').val();

            m = moment(enc, 'jYYYY/jM/jD')
            georgianDate = m.format('YYYY-M-D')
        }


        //startTime
        function timechange() {
            timeInput = $("#hour").val() + ":" + $("#min").val();
            $("#txtTimeStart").val(timeInput);
        }


        //EndDate
        function changeend() {
            var encEnd = $('#txtEnd').val();
            mEnd = moment(encEnd, 'jYYYY/jM/jD')
            georgianDateEnd = mEnd.format('YYYY-M-D')
        }


        //EndTime
        function timeEndchange() {
            timeInputEnd = $("#hourEnd").val() + ":" + $("#minEnd").val();
            $("#txtTimeEnd").val(timeInputEnd);
        }

        


    </script>
}
