﻿@model ClinicWebApp.Models.ReservationFreeDate

@{
    ViewData["Title"] = "افزودن زمان ویزیت";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

<div class="box-header">
    <i class="flaticon-004-telephone-2"></i>
    <h3>@ViewData["Title"]</h3>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 pull-right">

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input id="StartDate" type="text" class="form-control white-readonly d-blur" autocomplete="off" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
                
                <input asp-for="Date" type="hidden"/>
            </div>
        <!-- <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input id="StartDate" type="text" class="form-control white-readonly d-blur" autocomplete="off" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
                
                <input asp-for="Date" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" value="13:00" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" value="14:00" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientPerDay" class="control-label"></label>
                <input asp-for="PatientPerDay" class="form-control" />
                <span asp-validation-for="PatientPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePerVisit" class="control-label"></label>
                <input asp-for="TimePerVisit" type="number" class="form-control" />
                <span asp-validation-for="TimePerVisit" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" value="@ViewData["cid"]" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت زمان" class="btn btn-black" />
            </div>
        </form> -->
    </div>
</div>
<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd",
                multidate: 5,
                closeOnDateSelect: false
            })
        });
    </script>


    <script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
      $("#StartDate").change(function(){
      var d=moment($("#StartDate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
}


