﻿@model ClinicWebApp.Models.ReservationFreeDate

@{
    ViewData["Title"] = "جزئیات نوبت دهی";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    #today_date{
        display:none !important;
        text-align:center
    }
    .show-on-delete{
        display:none !important;
    }
@@media print{
    .show-on-delete{
        display:block !important;
    }
    .main-area,#today_date{
        display:block !important;
    }
    .day-details,.btns,#online_reserved_table{
        display: none !important;
    }
    #today-reserved table,#today-reserved table tr td,#today-reserved table tr th{
        border:1px solid rgba(123,123,1230.2);
    }
    #today-reserved table tr td:last-of-type{
        width:40%;
    }
    .panel-box{
        width:100%;
    }
    .hidden-print{
        display:none !important;
    }
    .margin-top-md{
        margin-top:0 !important;
    }
    .padding-box{
        padding:0 !important;
    }
    main{
        width:100% !important;
    }
    main > .col-md-4{
        display:none !important;
    }
    .main-area{
        width:100%;
    }
}

</style>
<input hidden id="maindate" type="date" value="@Model.Date.ToString("yyyy-MM-dd")">
<div class="col-xs-12 reset-padding day-details">
    <dl class="dl-horizontal">
        
       <h2>
           <time>@Model.Date</time>&nbsp;
           <span class="eDate bold">@Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")</span>
       
       </h2>
       
        نوبت اینترنتی:  @{
            if(Model.OnlineEnabled==true){
                <label class="label label-info">دارد</label>
            }else{
                 <label class="label label-success">ندارد</label>
            }
        }
        <a onclick="window.print()" class="pull-left"><i class="fa fa-print fa-2x"></i></a>
        <hr>
       <p>
           از ساعت: @Html.DisplayFor(model => model.StartTime)
       &nbsp;
           تا ساعت:  @Html.DisplayFor(model => model.EndTime)
       </p>

        <p>
             زمان هر ویزیت:
            @Html.DisplayFor(model => model.TimePerVisit) دقیقه
        </p>
        <hr>
        <p>
           تعداد کل نوبت های این تاریخ
            <span id="perday" class="label label-success"></span>
نفر
<br>
تعداد نوبت تائید شده
<span id="reserved_patients" class="label label-info">@ViewData["Count"]</span> نفر
<br>
تعداد باقیمانده
            <span id="remains" class="label label-info"></span> نفر
            
        </p>
        
   
</div>
<div class="col-xs-12 reset-padding btns">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">ویرایش</a>
    <a asp-action="Create" class="btn btn-default">بازگشت به تقویم</a>
</div>
<div class="table-responsive col-xs-12 reset-padding margin-top-md" id="online_reserved_table">
    <h2>نوبت های آنلاین تائید نشده</h2>
    <hr>
<table class="table margin-top-sm" id="reserve_table">
    <thead>
        <tr>
        <th>
        شناسه
        </th>
            <th>
               نام
            </th>
            <th>
                موبایل
            </th>
            <th>
               ساعت
            </th>
            <th>پرداخت</th>
            <th>مبلغ</th>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var res in @ViewData["OnlineReserves"] as IEnumerable<ClinicWebApp.Models.OnlineReserve>)
        {
            <tr>
            <td>
             @Html.DisplayFor(modelItem => res.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => res.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => res.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => res.Time)
                </td>
                 <td>
                 @{
                     if(res.PaymentStatus==true){
                        <span class="label label-info">موفق</span>
                 }
                 else{
                      <span class="label label-danger">ناموفق</span>
                 }
                 }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => res.Payment)
                </td>
                <td>
                       
                       <button onclick="checkpatient('@res.Id','@res.FirstName','@res.LastName','@res.Time','@res.Mobile','@res.Payment')" class="btn btn-black">
                       بررسی و تائید <i class="fa fa-search"></i>
                        </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="SearchedArea">
<ul></ul>
</div>

</div>
<div class="table-responsive col-xs-12 margin-top-md" id="today-reserved">
    <h2>نوبت های امروز</h2>
    <h2 id="today_date" class="eDate">@Model.Date.ToString("yyyy-MM-dd")</h2>
    <hr>
<table class="table" id="today_reserves">
    <thead>
        <tr>
        <th>
            ساعت
            </th>
            <th>
                بیمار
            </th>
             <th>
                موبایل
            </th>
            <th>
                پرداختی
            </th>
            
            <th class="hidden-print">
               نوع
            </th>
            <th class="hidden-print"></th>
            <th class="hidden-print"></th>
            <th class="hidden-print"></th>
            <th><span class="show-on-delete">توضیحات</span></th>
        </tr>
    </thead>
    <tbody>

 <span hidden id="counts">@ViewData["Count"]</span>  

@foreach (var item in @ViewData["Reserves"] as IEnumerable<ClinicWebApp.Models.Reservation>)
{
        <tr>
        <td hidden data-id="@Html.DisplayFor(modelItem => item.Patient.Id)">
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Patient.Mobile)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td class="hidden-print">
                @{
                    byte ptype = Convert.ToByte(item.PaymentType);
                    switch (ptype)
                    {
                        case 1:
                            <label class="label label-success">نقدی</label>
                            break;
                        case 2:
                            <label class="label label-info">کارتی</label>
                            break;
                        case 3:
                            <label class="label label-primary">آنلاین</label>
                            break;
                        case 4:
                            <label class="label label-primary">ویزیت آنلاین - سایر نقدی</label>
                            break;
                        case 5:
                            <label class="label label-primary">ویزیت آنلاین - سایر کارت</label>
                            break;
                        default:
                            <label class="label label-danger">--</label>
                            break;
                    }
                }
            </td>
            <td class="hidden-print">
                <a class="btn btn-black" asp-controller="Patients" asp-action="Details" asp-route-id="@item.Patient.Id">پرونده</a>
                </td>
                <td class="hidden-print">
                <a class="btn btn-info" asp-controller="Reservations" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                </td>
                
                 <td class="hidden-print">
                     @if(item.Payment==null){
                <a class="btn btn-default" asp-controller="Reservations" asp-action="Delete" asp-route-id="@item.Id" asp-route-resid="@ViewData["resid"]">حذف</a>
                     }
            </td>
            <td></td>
        </tr>
        }
    </tbody>
</table>

<div class="col-xs-12 reset-padding hidden-print" id="new_reserve_area_box">
    <h2>نوبت جدید</h2>
     <div class="form-group">
    <select class="form-control" id="TimeArea"></select>
     </div>
    <div class="form-group">
 
 <input type="hidden" id="PatientId" placeholder="بیمار">

<div class="input-group">
    <input maxlength="3" type="search" placeholder="ابتدای نام یا نام خانوادگی بیمار" id="PatientSearch" class="form-control">
      <span class="input-group-btn">
        <button type="button" id="btnserach" class="btn btn-black">جستجو</button>
      </span>
    </div>
</div>

<div class="form-group">
 <ul id="PatientArea" class="list-group">

    </ul>
<div id='panel' class='margin-top-sm'>
   <div class="form-group">
        <input type="text" id="new_firstname" placeholder="نام" class="form-control">
            </div>
        <div class="form-group">
            <input type="text" id="new_lastname" placeholder="نام خانوادگی" class="form-control">
        </div>
        <div class="form-group">
            <input type="tel" id="new_tel" placeholder="شماره تماس" class="form-control">
        </div>
        <div class="form-group">
            <button onclick='submit_new()' class='btn btn-black'>ثبت و نوبت</button>
        </div>
    </div>                         
</div>
     @*<div class="form-group">
        <input type="button" hidden="true" id="save_reserve" value="نوبت" class="btn btn-black" />
    </div>*@
    <!-- <div class="form-group">
        <input type="text" name="firstname" placeholder="نام" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" placeholder="نام خانوادگی" class="form-control">
    </div> -->
   
</div>

@section Scripts{

<script>
     $("#panel").hide();
  /*let remains= document.getElementById("perday").innerHTML-document.getElementById("counts").innerHTML
document.getElementById("remains").innerHTML=remains;
if(remains==0){
    $("#save_reserve").disabled=true;
}*/

// Get the input field
var input = document.getElementById("PatientSearch");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("btnserach").click();
  }
});
</script>
<script>

function submit_new(){

 
var user={
    FirstName:$("#new_firstname").val(),
    Lastname:$("#new_lastname").val(),
    Mobile:$("#new_tel").val(),
    ClinicId:@Model.ClinicId
}
     $.ajax({
                url:'/Patients/SavePatient',
                type:'POST',
                data:JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   console.log(data)
                   if(data.status==true){
                       console.log(data.pid)
                      setvalue(data.pid)
                   }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})
 }

</script>
<script type="text/javascript">
 $.ajax({
                url:'/OnlineReserves/GetTimes',
                type:'GET',
                data: { DateId: $("#maindate").val() },
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                    console.log(data)
                     
                      $("#perday").text(data.times);
                       //$("#reserved_patients").text(data.times-data.freeTimeArray.length);
                      $('#TimeArea').append("");
                    $("#remains").text(data.times-$("#reserved_patients").text());
                    $.each(data.freeTimeArray, function (i, value) {
                        $('#TimeArea').append($('<option>').text(value).attr('value', value));
                       
                    })
                     if(data.freeTimeArray.length==0){
                            $("#new_reserve_area_box").hide();
                            $("#save_reserve").attr("hidden",true);
                            $("#new_reserve_area_box").after("<p class='alert alert-warning'>تعداد نوبت های مجاز به پایان رسیده است</p>")
                        }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})
</script>
<script>
var ps=0;
var online_reserved_id=0;
function checkpatient(id,firstname,lastname,time,mobile,pmnt){
            online_reserved_id=id;
            var fn=firstname;
            var ln=lastname;
            var tm=time;
            var mb=mobile;
            ps=pmnt;
            console.log(ps);
            $.ajax({
                url:'/Patients/GetPatients',
                type:'GET',
                /*data:{'pname': fn.replace(/\s/g, '')},*/
                 data:{'fname': fn.substring(0,3),'lname':ln.substring(0,3)},
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   $("#SearchedArea ul").html("");
                   if(data.data.length>0){
                       
                   $.each(data.data,function(index,item){
                       $("#SearchedArea ul").append(
                           `<li class="list-group-item">
                                <span>${item.docNumber}</span>
                                 <span>${item.fullName}</span>
                                 <span>${(item.tel?item.tel:"_")}</span>
                                 <span>${(item.mobile?item.mobile:"_")}</span>
                              <button type='button' onclick='setvalue(${item.id},"${time}")' class='btn btn-default pull-left'>
                                   انتخاب <i class='fa fa-check'></i>
                               </button>
                           </li>`
                       )
                   })
                   $("#SearchedArea ul").append(`
                   <li class="list-group-item">
                        <button type="button" class="btn btn-black pull-left" onclick="savenew_reserve('${id}','${fn}','${ln}','${mb}','${tm}')"><i class='fa fa-check'></i> ثبت جدید </button>
                   </li>
                   `)
                }
                else{
                    
                    $("#SearchedArea ul").append(
                    `<li class="list-group-item">
                        <p class='alert alert-danger' style="margin-bottom:0">بیماری با این مشخصات یافت نشد</p>
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-black pull-left" onclick="savenew_reserve('${id}','${fn}','${ln}','${mb}','${tm}')"><i class='fa fa-check'></i> ثبت جدید </button>
                   </li>
                    `)
                    $("#panel").show();
                }

                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})

}
</script>

<script>
$("#btnserach").click(function(){
     $("#PatientArea").html("")
   if($("#PatientSearch").val()!=null){
       let pname =$("#PatientSearch").val()
    $.ajax({
                url:'/Patients/GetSearchedPatients',
                type:'GET',
                data:{'pname': pname},
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   
                   if(data.data.length>0){
                   $.each(data.data,function(index,item){
                       $("#PatientArea").append(
                           `<li class="list-group-item">
                                <span>${item.docNumber}</span>
                                 <span>${item.fullName}</span>
                                 <span>${(item.tel?item.tel:"_")}</span>
                                 <span>${(item.mobile?item.mobile:"_")}</span>
                              <button type='button' onclick='setvalue(${item.id})' class='btn btn-default pull-left'>
                                   انتخاب <i class='fa fa-check'></i>
                               </button>
                           </li>`
                       )
                   })
                   $("#PatientArea").append(`
                   <li class="list-group-item">
                        <button type="button" class="btn btn-black pull-left" onclick="showpanel()"><i class='fa fa-angle-down'></i> ثبت جدید </button>
                   </li>
                   `)
                  $("#save_reserve").attr("hidden",false);
                }
                else{
                    $("#PatientArea").append(
                    `<li class="list-group-item">
                        <p class='alert alert-danger' style="margin-bottom:0">بیماری با این مشخصات یافت نشد</p>
                    </li>`)
                    $("#panel").show();
                    $("#new_firstname").val((($("#PatientSearch").val()).split(" "))[0])
                    $("#new_lastname").val((($("#PatientSearch").val()).split(" "))[1])
                }

                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})
   }
})

</script>
<script>



function showpanel(){
    $("#panel").slideToggle();
   
}
    </script>
<script>
 var today_arr=[];
 function setvalue(pid,time){


//tody reserves


     $("#today_reserves tbody tr td:first-of-type").each(function(){
   today_arr.push($(this).data("id"))
        })


//find pid in today reserves
    var finded = today_arr.find((n)=>{
        return n==pid
    })



    if(finded){
        alert("برای این بیمار رزرو انجام شده است")
    }
    else{

        var restime;
        var _resid;
        console.log(time)
        if(time!=null){
            restime=time;
        }
        else{
            restime=$("#TimeArea").val()
        }

            var data= { 
                    PatientId:pid,
                    ClinicId:@Model.ClinicId,
                    Date: $("#maindate").val(),
                    Time : restime,
                    Payment:(ps==0?null:ps),
                    PaymentType:(ps==0?0:3),
                    Visited:false
                }

                $.ajax({
                url:'/ReservationFreeDates/saveReserve',
                type:'POST',
                data:JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   if(data.st==true){
                       var _dt = {
                         Id: online_reserved_id
                        }
                        
                         _resid=data.res;

                    //for online reserves> verify reserves and then add extraPayment
                    if(time!=null){
                       $.ajax({
                       url:'/ReservationFreeDates/verifyOnline',
                        type:'POST',
                        data:JSON.stringify(_dt),
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data){
                                $.ajax({
                                    url:'/Reservations/ExtraOnline/'+_resid,
                                    type:'GET',
                                    contentType: "application/json; charset=utf-8",
                                cache: false,
                                success: function (data){
                                    console.log(data);
                                }
                                })
                            
                 window.location.reload();
                }
                        })
                          }
                       window.location.reload();
                   }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})

    }
 }
</script>


<script>

function savenew_reserve(id,fname,lname,mobile,time){
var onres=id;
var user={
    FirstName:fname,
    Lastname:lname,
    Mobile:mobile,
    ClinicId:@Model.ClinicId
}
     $.ajax({
                url:'/Patients/SavePatient',
                type:'POST',
                data:JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   console.log(data)
                   if(data.status==true){
                       console.log(data.pid)
                        var _dt = {
                         Id: onres
                        }
                       $.ajax({
                        url:'/ReservationFreeDates/verifyOnline',
                        type:'POST',
                        data:JSON.stringify(_dt),
                        contentType: "application/json; charset=utf-8",
                        cache: false,
                        success: function (data){
                        console.log(data)
                        }
                        })
                      setvalue(data.pid,time)
                   }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})
 }
    </script>
     <script>
        var _d=$("time").text();
        var _day=new Date(_d).getDay();
        var _fday;
        switch(_day){
            case 0: 
            _fday="یکشنبه";
            break;
            case 1: 
            _fday="دوشنبه";
            break;
            case 2: 
            _fday="سه شنبه";
            break;
            case 3: 
            _fday="چهارشنبه";
            break;
            case 4: 
            _fday="پنجشنبه";
            break;
            case 5: 
            _fday="جمعه";
            break;
            case 6: 
            _fday="شنبه";
            break;

        }
       $("time").text(_fday)
    </script>
}