﻿@model ClinicWebApp.Models.ReservationFreeDate

@{
    ViewData["Title"] = "ویرایش زمان های نوبت دهی";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

<div class="box-header">
    <i class="flaticon-004-telephone-2"></i>
    <h3>@ViewData["Title"]</h3><br>
<h3>تاریخ: <span class="eDate bold">@Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")</span></h3>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 pull-right">
        
            @{
                @if(ViewData["editstatus"]=="0"){
                @*<p class="alert alert-warning">
                به دلیل رزرو نوبت در این تاریخ امکان ویرایش وجود ندارد
                
                </p>*@

<form asp-action="Edit">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group hidden">
                 <label asp-for="Date" class="control-label"></label>
                <input id="StartDate" type="text" class="form-control white-readonly d-blur" autocomplete="off" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
                
                <input asp-for="Date" type="hidden"/>
            </div>
            <div class="form-group hidden">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                       @Html.DisplayNameFor(model => model.OnlineEnabled) <input asp-for="OnlineEnabled" /> 
                    </label>
                </div>
            </div>
            <div class="form-group hidden">
                <label asp-for="PatientPerDay" class="control-label"></label>
                <input asp-for="PatientPerDay" class="form-control" />
                <span asp-validation-for="PatientPerDay" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="TimePerVisit" class="control-label"></label>
                <input asp-for="TimePerVisit" type="number" class="form-control icon-inside" /><i>دقیقه</i>
                <span asp-validation-for="TimePerVisit" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-black" />
            </div>
        </form>





                }
                else
                {
<form asp-action="Edit">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group hidden">
                 <label asp-for="Date" class="control-label"></label>
                <input id="StartDate" type="text" class="form-control white-readonly d-blur" autocomplete="off" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
                
                <input asp-for="Date" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="time" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                       @Html.DisplayNameFor(model => model.OnlineEnabled) <input asp-for="OnlineEnabled" /> 
                    </label>
                </div>
            </div>
            <div class="form-group hidden">
                <label asp-for="PatientPerDay" class="control-label"></label>
                <input asp-for="PatientPerDay" class="form-control" />
                <span asp-validation-for="PatientPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePerVisit" class="control-label"></label>
                <input asp-for="TimePerVisit" type="number" class="form-control icon-inside" /><i>دقیقه</i>
                <span asp-validation-for="TimePerVisit" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-black" />
            </div>
        </form>
   
                }
            }
      </div>
</div>
      
           
<div class="box-footer right">
    <a asp-action="Details" asp-route-id="@Model.Id">
        بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#StartDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            })
        });
    </script>
            <script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
$(document).ready(function(){
 var jd=moment($("#Date").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#StartDate").val(jd);

})
     

      $("#StartDate").change(function(){
      var d=moment($("#StartDate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
}


