﻿@model IEnumerable<ClinicWebApp.Models.ReservationFreeDate>

@{
    ViewData["Title"] = "لیست زمان های نوبت دهی آنلاین";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="box-header">
    <i class="flaticon-008-stethoscope"></i>
    <h3>@ViewData["Title"]</h3>
</div>
<a asp-action="Create" class="btn shadow gradient-btn">
    <i class="fa fa-calendar-check-o"></i> افزودن زمان نوبت دهی</a>
    <div class="table-responsive margin-top-sm">
<table class="table margin-top-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePerVisit)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Clinic)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="eDate">
                @item.Date.ToString("yyyy-M-d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePerVisit)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Clinic.Id)
        </td>*@
            <td>
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">ویراش</a> |
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    </div>
@section Scripts{
<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
    $(document).ready(function(){
      for(var i=0;i<document.getElementsByClassName("eDate").length;i++){
          var elem=document.getElementsByClassName("eDate")[i];
         elem.innerHTML=moment(elem.innerHTML, 'YYYY-M-D').format('jYYYY/jMM/jDD')
      }
})
    </script>
}
