﻿@model ClinicWebApp.Models.Speciality

@{
    ViewData["Title"] = "جزئیات تخصص";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd>
           <img src="/@Html.DisplayFor(model => model.ImageFile)" class="img-on-page"/>
        </dd>
    </dl>
</div>
<div class="box-footer right">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a> |
    <a asp-action="Index">
        بازگشت به لیست
    </a>
</div>
