﻿@model IEnumerable<ClinicWebApp.Models.Speciality>

@{
    ViewData["Title"] = "لیست تخصص ها";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn">ثبت تخصص جدید</a>
</p>
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                   <img src="/@Html.DisplayFor(modelItem => item.ImageFile)" width="60" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
