﻿@model IEnumerable<ClinicWebApp.Models.EntranceLog>

@{
    ViewData["Title"] = "ثبت ورود و خروج";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
 @@media print{
     main{
         width:100% !important;
     }
     .no-print{
         display:none !important;
     }
     .panel-box{
         width:100%;
     }
     table{
         width:100%;
     }
 }

</style>
<div class="col-xs-12 reset-padding no-print">
<h2 class="pull-right">@ViewData["Title"]</h2>
<a onclick="window.print()" class="pull-left" style="margin-top:20px"><i class="fa fa-print fa-2x"></i></a>
<hr class="col-xs-12 reset-padding">
</div>

    <p class="col-xs-12 margin-top-sm no-print">
        <form asp-controller="EntranceLog" asp-action="Create" method="POST">
        <input type="hidden" name="UserId" value="@ViewData["uid"]">
        <input type="hidden" name="Checkin" value="@DateTime.Now">
        <button class="btn btn-black no-print"><i class="fa fa-user"></i> ثبت ورود</button>
        </form>
    </p>
    <div class="table-resposnive col-xs-12">
    <table class="table margin-top-md">
        <thead>
                <th>
                    @Html.DisplayNameFor(model => model.Checkin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Checkout)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>جمع ساعت</th>
                <th class="no-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="time-col">
                        <span class="eDate">@Convert.ToDateTime(item.Checkin).ToString("yyyy-MM-dd")</span>
                        <span class="label label-success sd">@item.Checkin.ToString("HH:mm")</span>
                    </td>
                     <td class="time-col">
                         @{
                             if(item.Checkout!=Convert.ToDateTime("0001-01-01 00:00:00.0000000")){
                        <span class="eDate">@Convert.ToDateTime(item.Checkout).ToString("yyyy-MM-dd")</span>
                        <span class="label label-success ed">@item.Checkout.ToString("HH:mm")</span>
                             }
                         }
                    </td>
                     <td>
                        <span class="times">
                         @{
                            if(item.Checkout!=Convert.ToDateTime("0001-01-01 00:00:00.0000000"))
                            {
                            @(@item.Checkout-@item.Checkin)
                            }
                         }
                        </span>
                    </td>
                     <td hidden>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td class="no-print">
                        <form asp-action="Edit" asp-controller="EntranceLog" style="display:inline-block">
                            <input type="hidden" name="Id" value="@item.Id">
                            <input type="hidden" name="UserId" value="@UserInfo.UserId">
                            <input type="hidden" name="Checkin" value="@item.Checkin">
                            <input type="hidden" name="Checkout" value="@DateTime.Now">
                             <button class="btn btn-black"><i class="fa fa-flag-checkered"></i> ثبت خروج </button>
                        </form> |
                        <form onsubmit="return confirm_del()" asp-action="Delete" asp-controller="EntranceLog" style="display:inline-block">
                         <input type="hidden" name="Id" value="@item.Id">
                         <button class="btn btn-default">حذف</button>
                         </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>


@section Scripts {
    <script>
        function confirm_del(){
        var cnf;
           cnf= confirm("آیا مایل به حذف هستید؟");
           if(cnf==true){
               return true;
           }
           else{
               return false;
           }
        }
        </script>
     
}