﻿@model IEnumerable<ClinicWebApp.Models.EntranceLog>

@{
    ViewData["Title"] = "ثبت ورود و خروج";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
 @@media print{
     main{
         width:100% !important;
     }
     .no-print{
         display:none !important;
     }
     .panel-box{
         width:100%;
     }
     table{
         width:100%;
     }
 }

</style>
<div class="col-xs-12 reset-padding no-print">
<h2 class="pull-right">@ViewData["Title"]</h2>
<a onclick="window.print()" class="pull-left" style="margin-top:20px"><i class="fa fa-print fa-2x"></i></a>
<hr class="col-xs-12 reset-padding">
</div>

<div class="col-xs-12">

@foreach (var itm in ViewData["users"] as IEnumerable<ClinicWebApp.Models.UserClinic>)
{
    if(@itm.User.Id!=UserInfo.UserId){
    <a class="btn btn-default no-print margin-top-sm" asp-route-usid="@itm.User.Id">نمایش گزارش @itm.User.UserName</a>
    }
}


</div>

    <div class="table-resposnive col-xs-12">
    <table class="table margin-top-md">
        <thead>
                <th>
                    @Html.DisplayNameFor(model => model.Checkin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Checkout)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>جمع ساعت</th>
                <th class="no-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="time-col">
                        <span class="eDate">@Convert.ToDateTime(item.Checkin).ToString("yyyy-MM-dd")</span>
                        <span class="label label-success sd">@item.Checkin.ToString("HH:mm")</span>
                    </td>
                     <td class="time-col">
                         @{
                             if(item.Checkout!=Convert.ToDateTime("0001-01-01 00:00:00.0000000")){
                        <span class="eDate">@Convert.ToDateTime(item.Checkout).ToString("yyyy-MM-dd")</span>
                        <span class="label label-success ed">@item.Checkout.ToString("HH:mm")</span>
                             }
                         }
                    </td>
                     <td>
                        <span class="times">
                            @(@item.Checkout-@item.Checkin)
                            
                        </span>
                    </td>
                     <td hidden>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>


@section Scripts {
    <script>
        function confirm_del(){
        var cnf;
           cnf= confirm("آیا مایل به حذف هستید؟");
           if(cnf==true){
               return true;
           }
           else{
               return false;
           }
        }
        </script>
     
}