﻿@model PaginatedList<ClinicWebApp.Models.Patient>

    @{
    ViewData["Title"] = "تائید رزروهای اینترنتی";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }

    <div class="box-header">
        <i class="flaticon-008-stethoscope"></i>
        <h3>@ViewData["Title"]</h3>
        <a onclick="window.history.back()" class="btn btn-black">بازگشت</a>
    </div>

    @ViewData["cid"]
    @ViewData["uid"]
    
    <p class="grey patding">
        نام بیمار را در پرونده های موجود جستجو کنید و در صورتی که قبلا پرونده ای برای وی تشکیل شده است، آن را انتخاب نمایید.
        در غیر این صورت تشکیل پرونده بدهید
    </p>
    <form asp-action="Index" method="get" class="margin-top-md">
        <div class="form-actions no-color">
            <p>
                جستجوی نام بیمار <input class="serachbox" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="جستجو" class="btn btn-default" /> <span class="hitden-xs">|</span>
                <a asp-action="Index" asp-controller="SearchPatients">نمایش لیست کامل بیماران</a>
            </p>
        </div>
    </form> 
    <div class="table-responsive">
    <form asp-action="SelectPatient" asp-controller="Reservations" asp-route-det="@ViewData["det"]" method="post">

        <input hidden name="Date" value="@ViewData["date"]">
        <input hidden name="Time" value="@ViewData["time"]">
        <input hidden id="PatientId" name="PatientId"/>

       
        <table class="table margin-top-sm">
            <thead>
                <tr>
                    <th>
                        شناسه
                    </th>
                    <th>
                        شماره پرونده
                    </th>
                    <th>
                        نام
                    </th>
                    <th>
                        نام خانوادگی
                    </th>
                    <th>
                        موبایل
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
        {
                <tr>
                    <td class="pid">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        <button type="submit" @*asp-controller="Reservations" asp-action="SelectPatient" asp-route-id="@item.Id"*@ class="btn btn-black btnSelect">
                            <i class="fa fa-check"></i> انتخاب
                        </button>
                        <a class="btn btn-link" data-toggle="modal" data-target='#@item.Id'>
                            جزئیات بیشتر
                        </a>
                        <div id='@item.Id' class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hitden="true">&times;</span>
                                        </button>
                                        <h5 class="modal-title">مشخصات بیمار</h5>
                                    </div>
                                    <div class="modal-body">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.DocNumber)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.DocNumber)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.FirstName)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.LastName)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.FatherName)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.FatherName)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.Tel)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.Tel)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.Mobile)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.Mobile)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.Email)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.Address)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.MainDisease)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.MainDisease)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.UsedMedication)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.UsedMedication)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(modelItem => item.Reagent)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(modelItem => item.Reagent)
                                            </dd>
                                            <dd hidden>
                                                <input name="ClinicId" value="@Html.DisplayFor(modelItem => item.ClinicId)" />
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary">انتخاب</button>*@
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

        }
            </tbody>
        </table>
       
    </form> 
    </div>
    <div class="margin-top-md">
        <a asp-action="CreateNew" asp-controller="Patients" asp-route-id="@ViewData["id"]" class="btn shadow gradient-btn">
            <i class="fa fa-calendar-check-o"></i> افزودن پرونده جدید
        </a>

        @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
<div class="col-xs-12 reset-padding margin-top-sm">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            صفحه قبل
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            صفحه بعد
        </a>
        </div>
    </div>

    @section Scripts {
    <script>
            //function patientIdShow() {
            //    //$('table tr td.pid').each(function () {
            //    //    alert($(this).html());
            //    //});

            //}
            $(document).ready(function () {

                // code to read selected table row cell data (values).
                $("table").on('click', '.btnSelect', function () {
                    // get the current row
                    var currentRow = $(this).closest("tr");

                    var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st table cell TD value
                    //alert(col1);
                    $("#PatientId").val(col1);
                });
            });
    </script>
    }
