﻿@model ClinicWebApp.Models.AspNetUserRoles

@{
    ViewData["Title"] = "جزئیات اکانت";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @{
                switch (Model.Role.Name)
                {
                    case "doctor":
                        <span>پزشک</span>
                        break;
                    case "webadmin":
                        <span>ادمین سایت</span>
                        break;
                    case "secretary":
                        <span>منشی</span>
                        break;
                    case "admin":
                        <span>مدیر نرم افزار</span>
                            break;
                        default:
                            break;
                    } 
                }
            </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    @*@Html.ActionLink("ویرایش", "Edit", "AspNetUsers", new { id = Model.UserId }) |*@  
    <a onclick="history.go(-1);">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>
