﻿@model ClinicWebApp.Models.OnlineReserve

@{
    ViewData["Title"] = "جزئیات رزرو";
      Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="eDate">
            @Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div class="box-footer right">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a> |
    <a asp-action="Index">
        بازگشت به لیست
    </a>
</div>
