﻿@model ClinicWebApp.Models.OnlineReserve

@{
    ViewData["Title"] = "ویرایش رزرو آنلاین";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

<div class="box-header">
    <i class="flaticon-004-telephone-2"></i>
    <h3>@ViewData["Title"]</h3>
</div>
<div class="row">
    <div class="col-xs-12 pull-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <select asp-for="Date" class="form-control" asp-items="ViewBag.rfd" onchange="javascript:GetTimes(this.value);">
                  
                </select>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script language="javascript" type="text/javascript">
        function GetTimes(_DateId) {
            $('#Time').empty();
            var procemessage;
            $("#Time").html(procemessage).show();
            var url = "/OnlineReserves/GetTimes/";

            $.ajax({
                url: url,
                data: { DateId: _DateId },
                contentType: "application/json; charset=utf-8",
                cache: false,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    //alert(data);
                    $.each(data.freeTimeArray, function (i, value) {
                        $('#Time').append($('<option>').text(value).attr('value', value));
                    });
                    // var markup = "<option value='0'>ساعت انتخابی</option>";
                    // for (var x = 0; x < data.length; x++) {
                    //     markup += "<option value=" + data[x].value + ">" + data[x].value + "</option>";
                    // }
                    //$("#Time").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
}
