﻿@model IEnumerable<ClinicWebApp.Models.OnlineReserve>
@{
    ViewData["Title"] = "نوبت های رزرو شده";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="box-header">
    <i class="flaticon-008-stethoscope"></i>
    <h3>@ViewData["Title"]</h3>

    <a asp-action="Index" asp-controller="Reservations" class="pull-left">
        مشاهده تائیده شده ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>
<a asp-action="Create" class="btn shadow gradient-btn">
    <i class="fa fa-calendar-check-o"></i> رزرو نوبت
</a>
<div class="table-responsive">
<table class="table margin-top-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@
                <td class="eDate">
            @Convert.ToDateTime(item.Date).ToString("yyyy-MM-dd")
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    @*<a class="btn btn-black" href="/SearchPatients?fname=@Html.DisplayFor(modelItem => item.FirstName)&lname=@Html.DisplayFor(modelItem => item.LastName)&date=(Convert.ToDateTime(item.Date))&time=@Html.DisplayFor(modelItem => item.Time)&mobile=@Html.DisplayFor(modelItem => item.Mobile)">*@
                    <a class="btn btn-black" href="/SearchPatients?id=@Html.DisplayFor(modelItem => item.Id)">
                        <i class="fa fa-search"></i>
                        بررسی و تائید
                    </a>
                    <a class="btn text-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
