﻿@model ClinicWebApp.Models.PatientRecord

@{
    ViewData["Title"] = "Delete";
     Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
       <a onclick="window.history.back()">
        بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
    </form>
</div>
