﻿@model ClinicWebApp.Models.PatientRecord

@{
ViewData["Title"] = "جزئیات پرونده";
string d=ViewData["flag"].ToString();
if(d=="1"){
Layout = "~/Views/Shared/_LayoutDoctor.cshtml"; 
}
else{
  Layout = "~/Views/Shared/_LayoutUser.cshtml";   
}

}
<style>
    .record_box p{
        font-family:'VazirLatin' !important;
    }
</style>
<div class="col-xs-12">
<div class="alert alert-warning">
<h3>هزینه پرداختی</h3>
<ul class="no-list-style">
@{
    foreach(var itm in ViewData["extrapayment"] as IEnumerable<ClinicWebApp.Models.ExtraPayment>){
            <li>@itm.Extra.Title : @itm.Amount تومان</li>
    }
}
</ul>
</div>
</div>

@{
if(ViewData["notfound"]=="true"){
    
<div class="alert alert-warning">در این تاریخ رکوردی در پرونده بیمار ثبت نشده است</div>
}
else{
<div class="col-xs-12 record-header">
    <img src="~/images/medical-history.svg" />
    <h2>@Model.Reservation.Patient.FullName</h2>
    <p>شماره پرونده: @Model.Reservation.Patient.DocNumber</p>
    <p>
        تاریخ مراجعه: <span class="eDate">@Convert.ToDateTime(Model.Reservation.Date).ToString("yyyy-MM-dd")</span>
    </p>
    @*<a title="پرینت پرونده" href="#" onclick="window.print()" id="print"><img src="~/images/print.svg" class="pull-left" /></a>*@
</div>

<div class="col-xs-12 record_box">
    <dl class="dl-horizontal">
    <dt>
        شرح حال
    </dt>
        <dd>
            <div class="block" style="text-align:left;direction:ltr">
                @Html.Raw(Model.DescriptionText)
            </div>
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

    </dl>
</div>


}
}
<div class="box-footer right col-xs-12">
   @*@if(User.IsInRole("doctor")){
 <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a><span>|</span>
   }*@
   
    <a onclick="window.history.back()">
        بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts{
 
}