﻿@model ClinicWebApp.Models.PatientRecord

@{
    ViewData["Title"] = "ویرایش پرونده";
     Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/taggle/css/taggle.css">
<style>
    .record_box{
        font-family:'VazirLatin' !important;
    }
</style>
<script src="~/js/ckeditor.js"></script>
<div class="col-xs-12 record-header">
    <img src="~/images/medical-history.svg" />
    <h2>@ViewData["patientName"]</h2>
    @*<p>شماره پرونده: @ViewData["DocumentId"]</p>*@
    <p>تاریخ: <span class="eDate">@Convert.ToDateTime(@ViewData["Date"]).ToString("yyyy-MM-dd")</span></p>
    <a id="fin-btn" class="btn btn-black">هزینه ها</a>

</div>
<div class="col-xs-12 records">
    @*@await Component.InvokeAsync("RecordList")
    @await Component.InvokeAsync("AttachmentList")*@



<div class="toggle col-xs-12">
    <h2 class="toggle-btn">اطلاعات دموگرافیک &nbsp;<i class="fa fa-angle-down"></i></h2>
    <div class="toggle-content">

<p>پزشک ارجاع دهنده: @ViewData["Reagent"]</p>
<p>شغل: @ViewData["Job"]</p>
<p>بیماری اصلی: @ViewData["MainDisease"]</p>
<p>داروهای مصرفی: @ViewData["UsedMedication"]</p>

    </div>
</div>

<div class="toggle col-xs-12">

    <h2 class="toggle-btn">فایل های پرونده &nbsp;<i class="fa fa-angle-down"></i></h2>

    <div class="toggle-content">
      
          @if( @ViewData["Attachment"]!=null){
               <div class="row">
                  @foreach (var item in @ViewData["Attachment"] as IEnumerable<ClinicWebApp.Models.RecordAttachment>)
                    {
                    <figure class="col-md-4">
                    <img class="img-on-page" onclick="imgmodal('/Patients/Recordfile/@item.FileUrl')" data-target="#lightmodal" data-toggle="modal" src="~/images/office-material.png"/>
                    <figcaption>@item.Title
                        <span class="eDate">@Convert.ToDateTime(@item.UploadDateTime).ToString("yyyy-MM-dd")</span>
                    </figcaption>
                    </figure>
                    } 
                    </div>
          }
          else{
              <p class="alert alert-warning">هیچ فایلی به پرونده بیمار ضمیمه نشده است</p>
          }
        
    </div>
    </div>

</div>






<div id="lightmodal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img class='img-responsive' style="margin:0 auto;display:block" id='lightimg' src=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>



<div class="col-xs-12">
<div class="toggle col-xs-12">
    <h2 class="toggle-btn">سوابق مراجعات &nbsp;<i class="fa fa-angle-down"></i></h2>
    <div class="toggle-content" id="patient-history">
 @if( @ViewData["PatientRecord"]!=null){
     <div class="col-xs-12 margin-top-sm">
           @foreach (var item in @ViewData["PatientRecord"] as IEnumerable<ClinicWebApp.Models.Reservation>)
            {
        <div class="col-md-3 pull-right margin-top-sm">
            <div class="box shadow padding-box">
                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id" asp-route-d="1">
                    <span class="eDate">@Convert.ToDateTime(item.Date).ToString("yyyy-MM-dd")</span> 
                    &nbsp; &nbsp; <small>@item.Time</small>
                </a>
            </div>
        </div>
            }
    </div>
 }
 else{
                   <p class="alert alert-warning">بیمار مراجعه قبلی نداشته است</p>
 }
</div>
</div>
    
</div>
<hr />
<div class="row">
    <div class="col-md-12 record_box">
        <form asp-action="Edit" class="sticky">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ReservationId" class="control-label"></label>
                 <input value="@ViewData["id"]" name="Id" id="Id" class="form-control" />
                <input asp-for="ReservationId" class="form-control" />
            </div>
            <ul class="nav nav-tabs col-xs-12">
                <li class="active" ><a data-toggle="tab" href="#keyboard"> کیبورد <img src="~/images/typewriter-with-paper.svg" width="30" /></a></li>
                <li><a data-toggle="tab" href="#med"> دارو <img src="~/images/pills.svg" width="30" /></a></li>
            </ul>

            <div class="tab-content col-xs-12">
                
                <div id="keyboard" class="tab-pane fade in active">
                    <div class="form-group margin-top-sm">
                        <textarea asp-for="DescriptionText" hidden></textarea>
                    <textarea name="txteditor" id="txteditor" rows="10" cols="80"></textarea>
                    <span asp-validation-for="DescriptionText" class="text-danger"></span>
                </div>
                </div>

                <div id="med" class="tab-pane fade">
                    <div class="form-group" style="margin-top:10px;">
                        <textarea placeholder="نام دارو را بنویسید" rows="3" type="text" id="meds" asp-for="Medication" name="Medication" class="form-control" value=""></textarea>
                        <span asp-validation-for="Medication" class="text-danger"></span>
                    </div>
                </div>
                
            </div>


            <div class="form-group margin-top-md col-xs-12">
                <input id="btn_set" type="submit" value="ذخیره در پرونده" class="btn gradient-btn" onclick="submitfields();" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right col-xs-12">
    <a asp-action="IndexVisit" asp-controller="Reservations">
       بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
             var editor = CKEDITOR.replace( 'txteditor' );
            editor.setData($("#DescriptionText").val());
    </script>
    <script>
        function submitfields() {
            $("#DescriptionText").val(editor.getData());         
        }
    </script>  
    <script>
        $(".toggle-btn").click(function () {
            $(this).next(".toggle-content").slideToggle();
        })
        $("#patient-history").slideDown();
    </script>
 <script>
     function imgmodal(a){
         $("#lightimg").attr("src",a);
     }
 </script>
 <script>
 $(document).ready(function(){

        var urlParams = new URLSearchParams(window.location.search);
        var rnum;




        if(urlParams.has('resid')){
            rnum=urlParams.get('resid');
            $("#fin-btn").attr("href","/Reservations/AddFinancialData?pid="+rnum)
        }


        
          

        setInterval(function(){ 
            $("#btn_set").prop('disabled',true);
            $("#btn_set").after("<span>&nbsp;در حال ذخیره</span>")
              var pr_data={
                Id:$("#Id").val(),
                ReservationId:rnum,
                Description:"",
                Medication:$("#meds").val(),
                DescriptionText:editor.getData()
            }    
        $.ajax({
            url:'saveRecord',
            type:'POST',
            dataType: 'json',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            data:JSON.stringify(pr_data),
            success:function(data){
                console.log(data)
                $("#btn_set + span").remove()
                $("#btn_set").prop('disabled',false);
            }
        })
        },10000)
    })


     </script>
}