﻿@model IEnumerable<ClinicWebApp.Models.Reservation>

@{
    ViewData["Title"] = "پرونده بیمار";

string d=ViewData["flag"].ToString();
if(d=="1"){
Layout = "~/Views/Shared/_LayoutDoctor.cshtml"; 
}
else{
  Layout = "~/Views/Shared/_LayoutUser.cshtml";   
}
    
}


<h2>@ViewData["Title"] @ViewData["patientName"]</h2>


<div class="table-responsive col-xs-12 margin-top-sm">
<table class="table">
    <thead>
        <tr>
            <th>
               تاریخ مراجعه
            </th>
            <th>
                زمان مراجعه
            </th>
            <th>پرداختی (به تومان)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   @if(item.Acceptance){
      <tr>
            <td class="eDate">
                @Convert.ToDateTime(item.Date).ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                <a class="btn btn-black" asp-action="Details" asp-route-id="@item.Id" asp-route-d="0">مشاهده جزئیات</a> 
            </td>
        </tr>
   }
}
    </tbody>
</table>
</div>
<div class="box-footer right col-xs-12">
    <a onclick="window.history.back()">
        بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
</div>