﻿@model IEnumerable<ClinicWebApp.Models.PatientRecord>

@{
    ViewData["Title"] = "پرونده بیمار";

    if(User.IsInRole("doctor")){
 Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    }
    else{
Layout = "~/Views/Shared/_LayoutUser.cshtml"; 
    }
    
}

<h2>@ViewData["Title"] @ViewData["patientName"]</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>*@
            <th>
               تاریخ مراجعه
            </th>
            <th>
                زمان مراجعه
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      <a asp-action="Details" asp-route-id="@item.Id">  <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication)
            </td>*@
            <td class="eDate">
                @Convert.ToDateTime(item.Reservation.Date).ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Time)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">مشاهده</a> 
            </td>
        </tr>
        </a>
}
    </tbody>
</table>
</div>
<div class="box-footer right">
    <a onclick="window.history.back()">
        بازگشت
        <i class="fa fa-angle-left"></i>
    </a>
</div>