﻿@model ClinicWebApp.Models.Patient

@{
    ViewData["Title"] = "ثبت پرونده جدید";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/taggle/css/taggle.css">


<div class="box-header">
    <i class="flaticon-008-stethoscope"></i>
    <h3>افزودن بیمار جدید</h3>
</div>
<div class="row">
    <div class="col-xs-12 pull-right">
        <form asp-action="CreateNewp">
            <input type="hidden" value="@ViewData["date"]">
            <input type="hidden" value="@ViewData["time"]">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @ViewData["result"]
            <fieldset>
                <legend>اطلاعات پایه بیمار</legend>
                <div class="form-group">
                    <label asp-for="DocNumber" class="control-label"></label>
                    <input asp-for="DocNumber" type="number" value="@ViewData["docnumber"]" class="form-control" required />
                    <span asp-validation-for="DocNumber" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" value="@ViewData["fname"]" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" value="@ViewData["lname"]" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FatherName" class="control-label"></label>
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reagent" class="control-label"></label>
                    <input asp-for="Reagent" class="form-control" />
                    <span asp-validation-for="Reagent" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>اطلاعات تماس</legend>
                <div class="form-group">
                    <label asp-for="Tel" class="control-label"></label>
                    <input asp-for="Tel" type="number" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" type="number" value="@ViewData["mobile"]" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" value="@ViewData["email"]" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea rows="4" asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>بیماری و داروهای مصرفی</legend>
                <div class="form-group">
                    <label asp-for="MainDisease" class="control-label"></label>
                    <input asp-for="MainDisease" class="form-control" />
                    <span asp-validation-for="MainDisease" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="ClinicId" class="control-label"></label>
                    <input asp-for="ClinicId" value="@ViewData["cid"]" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UsedMedication" class="control-label"></label>
                    <div id="medinput" name="medinput" class="input textarea form-control"></div>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UsedMedication" class="control-label"></label>
                    <input type="text" asp-for="UsedMedication" class="form-control" value="" />
                    <span asp-validation-for="UsedMedication" class="text-danger"></span>
                </div>
                <input type="hidden" value="@ViewData["date"]" id="date" name="date" />
                <input type="hidden" value="@ViewData["time"]" id="time" name="time" />
            </fieldset>
            <div class="form-group">
                <input type="submit" value="ثبت پرونده" class="btn btn-black" onclick="submitdrugs()" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/taggle/js/jquery-1.10.1.js"></script>
    <script src="~/taggle/js/jquery-ui.js"></script>
    <script src="~/taggle/js/rainbow-custom.min.js"></script>
    <script src="~/taggle/js/taggle.min.js"></script>
    @*<script src="~/taggle/js/scripts.js"></script>*@

    <script>
        var faux = ['آسپیرین', 'آتروواستاتین', 'acting', 'adobe creative suite', 'advertising', 'aerobatics', 'aikido', 'air hockey', 'air sports', 'airlines', 'ajax', 'algorithms', 'alpine skiing', 'alternative medicine', 'alumni relations', 'amazon web services', 'administration', 'amusement parks', 'angel investing', 'animation', 'app development', 'apparel', 'applied mathematics', 'applied physics', 'archery', 'architecture', 'army', 'art directing', 'arts & crafts', 'asp', 'assembler', 'asset protection', 'astrology', 'auditing', 'auto racing', 'auto repair', 'autocross', 'automotive', 'aviation', 'B2B', 'B2C', 'back-end development', 'backpacking', 'badminton', 'baking', 'ballet', 'ballroom dancing', 'bar management', 'bars', 'base jumping', 'baseball', 'basic', 'basketball', 'beach volleyball', 'behavior management', 'behavioral health', 'benefits', 'biathlon', 'bicycle', 'billiards', 'biology', 'biotechnology', 'blogging', 'BMX', 'bookkeeping', 'books', 'botany', 'bowling', 'boxing', 'branding', 'bricolage', 'bridal consulting', 'bridal design', 'broadcast journalism', 'broadcast media', 'broadcast media consulting', 'brokerage', 'business development', 'business publicism', 'business supplies', 'business-to-business sales', 'business-to-consumer sales', 'c', 'c#ˇ', 'c++', 'cafes', 'camping', 'canyoning', 'capital markets', 'career advice', 'casinos', 'ceramics', 'chamber of commerce', 'chatting', 'cheerleading', 'chemicals', 'chemistry', 'chess', 'child development', 'child welfare', 'chiropractic', 'cinema', 'cinematography', 'circus art', 'climbing', 'clinical research', 'clothing design', 'clubs', 'cms', 'cobol', 'coffee shops', 'coffeescript', 'collecting antiques', 'comedy', 'commercial real estate', 'commercials', 'computer hardware', 'computer networking', 'computer science', 'computer security', 'computer software', 'concerts', 'construction', 'consumer electronics', 'consumer goods', 'consumer services', 'content creation', 'content strategy', 'cooking', 'copywriting', 'corporate law', 'corporate recruiting', 'cosmetics', 'credit unions', 'cricket', 'criminal justice', 'criminology', 'cross fit', 'cruise planning', 'css', 'css3', 'customer support', 'cycling', 'd language', 'dairy', 'dancing', 'data aggregation', 'data integration', 'data mining', 'database development', 'defense', 'design', 'design management', 'diagnostics', 'dietitian', 'digital production', 'digital strategy', 'direct sales', 'diving', 'donations', 'door-to-door sales', 'drawing', 'dreamweaver', 'driving', 'e-commerce', 'e-learning', 'ecmascript', 'economics', 'education', 'electrical engineering', 'electronics', 'email marketing', 'emergencies', 'emergency response consulting', 'empirical studies', 'energy', 'energy medicine', 'engineering', 'engineering recruiting', 'enterprise sales', 'entertainment', 'entrepreneurship', 'environmental planning', 'environmental services', 'eveningwear design', 'event management', 'event production', 'event promotion', 'event services', 'executive compensation', 'executive office', 'executive production', 'executive recruiting', 'exploring new places', 'facebook', 'facilities services', 'family law', 'family services', 'farming', 'fashion', 'fencing', 'festivals', 'film music', 'film production', 'filmmaking', 'financial analysis', 'financial services', 'fine art', 'fire extinguishing', 'fishery', 'fishing', 'fitness', 'football', 'forensic consulting', 'forensics', 'formula racing', 'forth', 'fortran', 'freelance art', 'freelance design', 'freelance development', 'freelance video production', 'freight delivery', 'frisbee', 'front-end development', 'fundraising', 'gadgets', 'gambling', 'game development', 'gardening', 'git', 'github', 'global talent management', 'government administration', 'government relations', 'graphic design', 'guitar instructor', 'half marathon', 'haml', 'haskell', 'healing consultant', 'health', 'health care', 'health coaching', 'hedge funds', 'higher education', 'hiking', 'hockey', 'holistic medicine', 'homeland security', 'hospitality', 'hotels', 'html', 'html5', 'human biology', 'human resources', 'hunting', 'hypnotherapy', 'illustrator', 'immigration law', 'import & export', 'independent motion pictures', 'independent theater production', 'industrial automation', 'industrial engineering', 'information security', 'information services', 'information technology', 'insurance', 'integrative medicine', 'intellectual property', 'interaction design', 'interior design', 'internal revenue service', 'international affairs', 'international development', 'international recruitment', 'international trade', 'international travel', 'internet', 'internet marketing', 'internet security', 'investigations', 'investment banking', 'investment management', 'IT recruiting', 'java', 'javascript', 'jazz clubs', 'jazz instructor', 'jewelry', 'jogging', 'joomla', 'journalism', 'jquery', 'jquery mobile', 'judiciary', 'karaoke', 'kart racing', 'kickboxing', 'knitting', 'lacrosse', 'land surveying', 'landscape design', 'law enforcement', 'law practice', 'law protection', 'legal services', 'legislative office', 'leisure', 'libraries', 'limousine service', 'linux', 'lisp', 'localization', 'Logic', 'logistics', 'lua', 'luxury goods', 'machinery', 'magic', 'malls', 'management', 'management consulting', 'maritime', 'market research', 'marketing', 'marketing strategy', 'massage', 'mathematics', 'mechanical design', 'mechanical engineering', 'media production', 'medical devices', 'medical practice', 'meditation', 'meeting planning', 'mental healthcare', 'merchandise planning', 'mergers & acquisitions', 'military', 'mining', 'mobile development', 'modeling', 'modula', 'mongodb', 'mootools', 'motion pictures', 'motocross', 'motorcycle racing', 'movie theaters', 'ms office', 'museums', 'music', 'musical instruments instructor', 'musical theater', 'mysql', 'nanotechnology', 'napping', 'nascar', 'natural healthcare', 'natural resources', 'neo4j', 'netrexx', 'network security', 'newspapers', 'nonprofit consulting', 'nonprofit organization', 'nursery', 'oberon', 'offshoring', 'oil', 'online marketing', 'online media', 'opera', 'outsourcing', 'packaging', 'paintball', 'painting', 'parachuting', 'parks', 'pascal', 'patent protection', 'payroll', 'perl', 'personal PR', 'personal shopping', 'personal training', 'pharmaceuticals', 'philanthropy', 'phonegap', 'photography', 'photoshop', 'php', 'physics', 'piano instructor', 'ping pong', 'playing cards', 'playing computer games', 'playing sports', 'playing video games', 'playwriting', 'police', 'policy counseling', 'policy institutes', 'policy strategy', 'political consulting', 'political organization', 'PR', 'primary education', 'private equity', 'product engineering', 'product management', 'professional networking', 'professional training', 'program development', 'programming', 'project engineering', 'project estimation', 'project management', 'prolog', 'proofreading', 'property control', 'property management', 'prosecution', 'psychology', 'psychotherapy', 'public policy', 'public relations', 'public safety', 'public speaking', 'publishing', 'python', 'quantitative analysis', 'racquetball', 'railroad', 'railroad manufacturing', 'ranching', 'reading', 'real estate', 'rebol', 'recreational facilities', 'recreational services', 'recruiting', 'recruitment consulting', 'redis', 'religious institutions', 'renewables', 'renovations', 'reporting', 'research', 'residential real estate', 'restaurants', 'resume writing', 'risk management', 'robotics', 'rock climbing', 'roller coasters', 'rowing', 'ruby', 'ruby on rails', 'rugby', 'running', 'sailing', 'sales', 'scala', 'scheme', 'scrabble', 'screenwriting', 'scriptol', 'scuba diving', 'sculptures', 'secondary education', 'securities trading', 'security', 'semiconductors', 'SEO', 'sewing', 'sexology', 'shipbuilding', 'shooting', 'sinatra', 'singing', 'ski jumping', 'skiing', 'skysurfing', 'smalltalk', 'snooker', 'snowboarding', 'soccer', 'social entrepreneurship', 'social media marketing', 'softball', 'software design', 'software engineering', 'songwriting', 'spirits', 'spoken word', 'sporting events', 'sporting goods', 'sports', 'sql', 'squash', 'staffing', 'stand-up comedy', 'startup accelerators', 'startups', 'statistics', 'storage', 'subversion', 'supermarkets', 'supply chain', 'swimming', 'swing dancing', 'systems engineering', 'table tennis', 'taekwondo', 'talent acquisition', 'talent management', 'tango', 'tax planning', 'tcl', 'teaching', 'technical recruiting', 'technical writing', 'technology law', 'telecommunications', 'telemarketing', 'tennis', 'textiles', 'theater', 'therapeutic massage', 'think tanks', 'tobacco', 'tourism', 'trade shows', 'traditional Chinese medicine', 'training & development', 'translation', 'transportation', 'travel', 'traveling', 'triathlon', 'trucking', 'TV production', 'unicycling', 'unix', 'urban planning', 'user experience', 'user interface', 'utilities', 'UX/UI', 'VC', 'venture capital', 'veterinary', 'visual design', 'visual effects', 'volleyball', 'walking', 'warehousing', 'watching cartons', 'watching movies', 'watching TV', 'web design', 'web development', 'weight loss', 'wellness', 'wholesale', 'windsurfing', 'wine', 'wireless', 'wiring', 'wordpress', 'wrestling', 'writing', 'writing poems', 'xml', 'yoga', 'youth counseling', 'youth development', 'zoology'];
        var med = new Taggle('medinput', {
            placeholder: [String = 'نام دارو را بنویسید']
        });
        var container = med.getContainer();
        var input = med.getInput();

        $(input).autocomplete({
            source: faux, // See jQuery UI documentaton for options
            appendTo: container,
            position: { at: "left bottom", of: container },
            select: function (event, data) {
                event.preventDefault();
                //Add the tag if user clicks
                if (event.which === 1) {
                    med.add(data.item.value);
                }

            }
        });
    </script>
    <script>
        function submitdrugs() {
            var values = med.getTagValues();
            $("#UsedMedication").val(values)
        }
    </script>
}
