﻿@model ClinicWebApp.Models.Patient

@{
    ViewData["Title"] = "Delete";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NationalId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainDisease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainDisease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedMedication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsedMedication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reagent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reagent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic.Address)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.NoCharge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoCharge)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Supplementary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplementary)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
