﻿@model ClinicWebApp.Models.Patient

@{
    ViewData["Title"] = "مشخصات بیمار";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
.btn-block-xs{
    margin:15px 5px
}
input{
    height:auto;
}
</style>
<div class="col-xs-12 reset-padding">
<h2 class="pull-right">@ViewData["Title"]</h2>

<a asp-controller="RecordAttachments" asp-action="Index" asp-route-patientId="@Model.Id" class="btn btn-black pull-left btn-block-xs">مدارک بیمار</a>
<a class="btn btn-black pull-left btn-block-xs" href="/PatientRecords/Index?patientId=@Model.Id&d=0">مراجعات قبلی</a>
<a class="btn btn-info pull-left btn-block-xs" asp-action="Edit" asp-route-id="@Model.Id">ویرایش پرونده</a>
<a class="btn btn-info pull-left btn-block-xs" href="javascript: void(0)" onclick="window.history.back()">بازگشت</a>
</div>
<div class="col-xs-12 reset-padding" style="margin-top:-10px;">
 <hr />
</div>



<div id="dateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">انتخاب تاریخ و زمان</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="AddToReservationList" asp-controller="Reservations" method="post">
                <input type="hidden" id="PatientId" name="PatientId" value="@Model.Id">
                   <input type="hidden" id="ClinicId" name="ClinicId" value="@Model.ClinicId" />
                    <div class="form-group">
                        <p>تاریخ مورد نظر</p>
                        <input id="show_date" type="text" class="form-control" autocomplete="off" />
                        <input id="Date" class="ndate" name="Date" type="hidden" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <p>زمان مورد نظر</p>
                        <input id="Time" name="Time" type="time" class="form-control" value='now' />
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="setdate()" type="submit" class="btn btn-black">افزودن به لیست</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                </div>
                </form>
            </div>

        </div>
        </div>





<div class="col-xs-12">
   
    <div class="col-xs-12">
  <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocNumber)
        </dt>
        <dd>
            <h3>
           <label class="label label-success">@Html.DisplayFor(model => model.Id)</label> 
        </h3>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <hr>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job)
        </dd>
         <hr>
         <dt>
            @Html.DisplayNameFor(model => model.Reagent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reagent)
        </dd>
       @* <dt>
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NationalId)
        </dd>*@
       
        
       
       
        <dt>
            @Html.DisplayNameFor(model => model.MainDisease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainDisease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsedMedication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsedMedication)
        </dd>
        
        
         <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Supplementary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplementary)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
       
           @{
               if(Model.NoCharge){
                    <hr>
                   <dt>ویزیت رایگان</dt>
                   <dd>
                   <label class='label label-info'>ویزیت رایگان</label>
                   </dd>
               }
           }
        
    </dl>
    </div>
    
    @*<div class="col-xs-12 pictures-box">
          @foreach (var item in ViewData["attachment"] as IEnumerable<ClinicWebApp.Models.RecordAttachment>)
        {
            <div class="col-md-4 pull-right">
                <a href="/Patients/Recordfile/@item.FileUrl" data-toggle="lightbox" data-gallery="example-gallery">
                <img id="@item.Id" src="/Patients/Recordfile/@item.FileUrl" class="img-on-page" /></a>
                <small>
                    <span class="eDate">@Convert.ToDateTime(item.UploadDateTime).ToString("yyyy-MM-dd")</span>
                    <br>
                    <span class="break">@item.Title</span>
                </small>
            </div>
        }
    </div>*@
</div>
<a data-toggle="modal" data-target="#dateModal" class="btn btn-black pull-left btn-block-xs" style="margin-top:15px"> افزودن به صف</a>


@section Scripts{
  <script src="/js/lightbox.js"></script>
  <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
  </script>  
  <script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>

function setdate(){
    var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
}
    

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
}

