﻿@model PaginatedList<ClinicWebApp.Models.Patient>
<link href="~/DataTables/datatables.min.css" rel="stylesheet"/>
@{
    ViewData["Title"] = "پرونده بیماران";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- <label id="price">@ViewData["VisitPrice"]</label> -->
@TempData["status"]
<div class="box-header col-xs-12 reset-padding">
    <h2>@ViewData["Title"]</h2>
    <hr>
</div>
<div class="col-xs-12 reset-padding" id="form_btns">
<a asp-action="Create" class="btn shadow btn-black">
    <i class="fa fa-check"></i> افزودن پرونده جدید
</a>
</div>

<span hidden>
    @ViewData["cid"]
    @ViewData["uid"]
</span>
<div  class="col-xs-12 reset-padding margin-top-md no-margin-xs">
<form asp-action="Index" method="get">
    <div class="form-actions no-color margin-top-sm">

        <input type="text" placeholder="نام یا نام خانوادگی" name="SearchString" value="@ViewData["currentFilter"]" />
        <input type="submit" value="جستجو" class="btn btn-default" />
        <a asp-action="Index" class="margin-xs pull-left btn btn-default no-float-xs">لیست کامل</a>

    </div>
</form>
<form asp-action="AddToReservationList" asp-controller="Reservations" method="post">

    <input hidden id="PatientId" name="PatientId" />
    <input hidden id="ClinicId" name="ClinicId" value="@ViewData["cid"]" />
    <div class="table-responsive">
    <table class="table margin-top-sm">
        <thead>
            <tr>
                <th hidden>
                   شناسه
                </th>
                <th>
                    شماره پرونده
                    <!-- <a asp-action="Index" asp-route-sortOrder="@ViewData["idSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">شماره پرونده</a> -->
                </th>
                <th>
                    نام
                </th>
                <th>
                    نام خانوادگی
                    <!-- <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">نام خانوادگی</a> -->
                </th>
                <th>
                    تلفن همراه
                </th>
                 <th>
                    پزشک معرف
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                       <a href="tel:@item.Mobile">@Html.DisplayFor(modelItem => item.Mobile)</a>
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.Reagent)
                    </td>
                    <td class="btngroup">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-black">
                            <i class="fa fa-book"></i> پرونده
                        </a>
                        <button type="button" class="btn btn-default btnSelect" onclick="setdate()" data-toggle="modal" data-target='#dateModal'>
                            <i class="fa fa-list"></i> افزودن به صف
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
  </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        قبل
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        بعد
    </a>
      </div>
    <!-- Modal -->
    <div id="dateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">انتخاب تاریخ و زمان</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>تاریخ مورد نظر</p>
                        <input id="show_date" type="text" class="form-control" autocomplete="off" />
                        <input id="Date" class="ndate" name="Date" type="hidden" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <p>زمان مورد نظر</p>
                        <input id="Time" name="Time" type="time" class="form-control" value='now' />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-black">افزودن به لیست</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    
      
    <!-- <script>
        (function ($, undefined) {

            "use strict";

            // When ready.
            $(function () {

                var $form = $("form");
                var $input = $form.find("#Payment");

                $input.on("keyup", function (event) {


                    // When user select text in the document, also abort.
                    var selection = window.getSelection().toString();
                    if (selection !== '') {
                        return;
                    }

                    // When the arrow keys are pressed, abort.
                    if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                        return;
                    }


                    var $this = $(this);

                    // Get the value.
                    var input = $this.val();

                    var input = input.replace(/,/g, "");
                    input = input ? parseInt(input, 10) : 0;

                    $this.val(function () {
                        return (input === 0) ? "" : input.toLocaleString("en-US");
                    });
                });

                /**
                 * ==================================
                 * When Form Submitted
                 * ==================================
                 */
                $form.on("submit", function (event) {

                    //var $this = $(this);
                    var $form = $("form");
                    var $input = $form.find("#Payment");
                    var arr = $input.serializeArray();

                    for (var i = 0; i < arr.length; i++) {
                        arr[i].value = arr[i].value.replace(/[($)\s\._\,]+/g, ''); // Sanitize the values.
                    };

                    //console.log(arr);

                    //event.preventDefault();
                });

            });
        })(jQuery);
    </script> -->




<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script src="~/DataTables/datatables.min.js"></script>
<script>

function setdate(){
    var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
}
    

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
}
