﻿@model IEnumerable<ClinicWebApp.Models.RecordAttachment>

@{
    ViewData["Title"] = "فایل های پرونده";
}

<div class="toggle">

    <h2 class="toggle-btn">@ViewData["Title"] &nbsp;<i class="fa fa-angle-down"></i></h2>

    <div class="toggle-content">
        @foreach (var item in Model)
        {
            <img src="~/images/records_images/@(item.FileUrl)" class="img-on-page" data-toggle="modal" data-target="#@(item.Id)" />
            <!-- Modal -->
            <div id="@(item.Id)" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img src="~/images/records_images/@(item.FileUrl)"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

</div>