﻿@model ClinicWebApp.Models.Message

@{
    ViewData["Title"] = "تیکت ها";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-12">


        
        <form asp-action="Create" class="col-xs-12">
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <label asp-for="SenderId" class="control-label"></label>
                <input asp-for="SenderId" type="hidden" class="form-control" value="@ViewData["SenderId"]"/>
            </div>
            <div class="form-group">
                <label asp-for="MessageText" class="control-label"></label>
                <textarea name="MessageText" id="MessageText" class="form-control" rows="4"></textarea>
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ارسال تیکت" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="IndexMessage">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>
