﻿@model ClinicWebApp.Models.Message

@{
    ViewData["Title"] = "تیکت";
}

<h2>@ViewData["Title"] شماره @Html.DisplayFor(model => model.Id)</h2>

<div class="col-xs-12">
    <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MessageText)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MessageText)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                 <span class="eDate">@Model.Date.ToString("yyyy-MM-dd")</span>
               --
               <span>@Model.Date.ToString("hh:mm")</span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Reply)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Reply)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sender.FullName)
            </dd>
        </dl>
</div>
<div class="box-footer right col-xs-12">
     <a asp-action="Edit" asp-route-id="@Model.Id">
        پاسخ
    </a> |
    <a asp-action="IndexMessage">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>