﻿@model ClinicWebApp.Models.Message

@{
    ViewData["Title"] = "تیکت";
    Layout="~/Views/Shared/_LayoutUser.cshtml";

}

<h2>@ViewData["Title"] شماره @Html.DisplayFor(model => model.Id)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
             <span class="eDate">@Model.Date.ToString("yyyy-MM-dd")</span>
               --
               <span>@Model.Date.ToString("hh:mm")</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reply)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Sender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sender.FullName)
            </dd>*@
    </dl>
</div>
<div class="box-footer right">
    <a asp-action="IndexMessage">
        بازگشت به لیست
         <i class="fa fa-angle-left"></i>
    </a>
</div>