﻿@model ClinicWebApp.Models.Message

@{
    ViewData["Title"] = "پاسخ به تیکت";
}

<h2>@ViewData["Title"] @Model.Id</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <input asp-for="SenderId" type="hidden" class="form-control" />
             <input asp-for="Date" type="hidden" class="form-control"/>

             <div class="form-group">
                 <label>فرستنده: </label> @ViewData["FullName"] <br />
                 <label>تاریخ: </label> 
                 
                 <span class="eDate">@Model.Date.ToString("yyyy-MM-dd")</span>
               --
               <span>@Model.Date.ToString("hh:mm")</span>
             </div>

            <div class="form-group">
                <label asp-for="MessageText" class="control-label"></label>
                <textarea asp-for="MessageText" class="form-control" readonly></textarea>
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply" class="control-label"></label>
                <textarea asp-for="Reply" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Reply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ارسال پاسخ" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

