﻿@model IEnumerable<ClinicWebApp.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>تیکت ها</h2>

<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MessageText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reply)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    if (item.MessageText.Length < 30)
                    {
                        @item.MessageText;

                    }
                    else
                    {
                        @(item.MessageText.Substring(0, 30)); <span>...</span>

                    }
                }
            </td>
            <td>
               <span class="eDate">@item.Date.ToString("yyyy-MM-dd")</span>
               --
               <span>@item.Date.ToString("hh:mm")</span>
            </td>
            <td>
                @{
                    if (item.Reply != null)
                    {
                        if (item.Reply.Length < 30)
                        {
                            @item.Reply;

                        }
                        else
                        {
                            @(item.Reply.Substring(0, 30)); <span>...</span>

                        }
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FullName)
            </td>
            <td>
                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">مشاهده</a> |
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">پاسخ</a> |
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>