﻿@model PaginatedList<ClinicWebApp.Models.Message>

@{
    ViewData["Title"] = "Index";
    Layout="~/Views/Shared/_LayoutUser.cshtml";
}



<!-- <p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-envelope"></i> ارسال تیکت جدید </a>
</p> -->
<div class="table-responsive col-xs-12">
    <h2>تیکت ها</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                   پیام
                </th>
                <th>
                    تاریخ
                </th>
                <th>
                   وضعیت پاسخ
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    if (item.MessageText.Length < 30)
                    {
                        @item.MessageText;

                    }
                    else
                    {
                        @(item.MessageText.Substring(0, 30)); <span>...</span>

                    }
                }
            </td>
            <td>
               <span class="eDate">@item.Date.ToString("yyyy-MM-dd")</span>
               --
               <span>@item.Date.ToString("hh:mm")</span>
            </td>
            <td>
                @{
                    if (item.Reply != null)
                    {

                    <label class="label label-success">پاسخ داده شد</label>

                    }
                else{
                    <label class="label label-warning">در انتظار پاسخ</label>
                }
                }
                </td>
            <td>
                <a class="btn btn-link" asp-action="DetailsMessage" asp-route-id="@item.Id">مشاهده</a>
                @*<a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
@{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        قبل
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        بعد
    </a>
</div>
<div class="col-xs-12 margin-top-md">
        <form>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group hidden">
                <input id="SenderId" type="hidden" class="form-control" value="@ViewBag.cid"/>
            </div>
            <div class="form-group">
                <h2 class="control-label">ارسال تیکت جدید</h2>
                <textarea name="MessageText" id="MessageText" class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <input type="button" onclick="sendmsg()" value="ارسال تیکت" class="btn btn-black" />
            </div>
        </form>

</div>


@section Scripts{
    <script>
        function sendmsg(){
    var data={
        SenderId:$("#SenderId").val(),
        MessageText:$("#MessageText").val(),
        Date:new Date().toISOString(),
        Reply:null
    }
    console.log(data)
     $.ajax({
                url:'/Messages/SendMsg',
                type:'POST',
                data:JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                cache: false,
                success: function (data) {
                   console.log(data)
                   if(data==true){
                       window.location.reload();
                   }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
    }        
})
        }
</script>
}