﻿@{ 
    if (User.IsInRole("doctor"))
    {
        Layout = "/Views/Shared/_LayoutDoctor.cshtml";

    }
    else if (User.IsInRole("secretary"))
    {
        Layout = "/Views/Shared/_LayoutUser.cshtml";

    }
    else if (User.IsInRole("webadmin"))
    {
        Layout = "/Views/Shared/_LayoutPanel.cshtml";

    }
    else if(User.IsInRole("admin"))
    {
        Layout = "/Views/Shared/_Layout.cshtml";

    }

}

<h2>تنظمیات کاربری</h2>

<div class="col-xs-12">
    <hr />
    <div class="row">
            @await Html.PartialAsync("_ManageNav")

            @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
