﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "نغییر رمز عبور";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<h4>@ViewData["Title"]</h4>*@
<div class="margin-top-sm">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
</div>
<div class="row">
    <div class="col-md-6 col-xs-12 pull-right">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">تغییر رمز عبور</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
