﻿@model IndexViewModel
@{
    ViewData["Title"] = "پروفایل";
    ViewData.AddActivePage(ManageNavPages.Index);

    if(Context.User.IsInRole("doctor"))
    {
        Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    }
    else if(Context.User.IsInRole("secretary")){
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
     else if(Context.User.IsInRole("webadmin")){
        Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    }
    else if(Context.User.IsInRole("admin")){
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
}

@*<h4>@ViewData["Title"]</h4>*@
<div class="margin-top-sm">
    @Html.Partial("_StatusMessage", Model.StatusMessage)
</div>
<div class="row">
    <div class="col-md-6 col-xs-12 pull-right">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    @*<button asp-action="SendVerificationEmail" class="btn btn-link">ارسال ایمیل تائید</button>*@
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">ذخیره</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
