﻿@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "تائید دو مرحله ای";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="margin-top-sm">
    @*<h4>@ViewData["Title"]</h4>*@
    @if (Model.Is2faEnabled)
    {
        if (Model.RecoveryCodesLeft == 0)
        {
            <div class="alert alert-danger">
                <strong>You have no recovery codes left.</strong>
                <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft == 1)
        {
            <div class="alert alert-danger">
                <strong>You have 1 recovery code left.</strong>
                <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
        }
        else if (Model.RecoveryCodesLeft <= 3)
        {
            <div class="alert alert-warning">
                <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
        }

        <a asp-action="Disable2faWarning" class="btn btn-danger">غیرفعال کردن تنظیم دومرحله ای</a>
        <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">ریست کدهای ریکاوری</a>
    }

    <hr />
    <h5 class="margin-top-sm">نرم افزار تائید کننده</h5>
    @if (!Model.HasAuthenticator)
    {
        <a asp-action="EnableAuthenticator" class="btn btn-default">اضافه کردن نرم افزار تائید کنند</a>
    }
    else
    {
        <a asp-action="EnableAuthenticator" class="btn btn-info">تنظیم نرم افزار تائید کننده</a>
        <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">ریست کلید تائید</a>
    }
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
