﻿@model ClinicWebApp.Models.Clinic

@{
    ViewData["Title"] = "حذف کلینیک";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClinicPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClinicPanel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservationPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservationPanel)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.VisitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitPrice) <i>تومان</i>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd id="StartDate">
            @Convert.ToDateTime(Model.StartDate).ToString("yyyy/MM/dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupportPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupportPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoFile)
        </dt>
        <dd>
            @if(Model.LogoFile!=null){
            <img src="/@Html.DisplayFor(model => model.LogoFile)" class="img-on-page" />
            }        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality.Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-action="Index">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>
@section Scripts{
<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
$(document).ready(function(){
 var jd=moment($("#StartDate").text(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#StartDate").text(jd);

})
</script>
}