﻿@model ClinicWebApp.Models.Clinic

@{
    ViewData["Title"] = "جزئیات کلینیک";
}

<h2>@ViewData["Title"]</h2>
@*<a asp-controller="Account" asp-action="Register" asp-route-id="@Model.Id" class="btn gradient-btn"><i class="fa fa-user"></i> ساخت اکانت کاربری پنل</a>*@
<a asp-controller="UserClinics" asp-action="Index" asp-route-id="@Model.Id" class="btn gradient-btn"><i class="fa fa-users"></i> اکانت های کاربری این کلینیک </a>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClinicPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClinicPanel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservationPanel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservationPanel)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.VisitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitPrice) <i>تومان</i>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd id="StartDate">
            @Convert.ToDateTime(Model.StartDate).ToString("yyyy/MM/dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @String.Format("{0:n0}", double.Parse(Model.Price)) <i>تومان</i>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupportPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupportPercent) <i>%</i>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoFile)
        </dt>
        <dd>
            @if(Model.LogoFile!=null){
            <img src="/@Html.DisplayFor(model => model.LogoFile)" class="img-on-page" />
            }
        </dd>
    </dl>

</div>
<div class="box-footer right">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a> |
    <a asp-action="Index">
        بازگشت به لیست
    </a>
</div>
@section Scripts{
<script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
$(document).ready(function(){
 var jd=moment($("#StartDate").text(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#StartDate").text(jd);

})
</script>
}
