﻿@model ClinicWebApp.Models.Clinic

@{
    ViewData["Title"] = "ویرایش کلینیک";
}

<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12 column2">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Website" /> @Html.DisplayNameFor(model => model.Website)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClinicPanel" /> @Html.DisplayNameFor(model => model.ClinicPanel)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ReservationPanel" /> @Html.DisplayNameFor(model => model.ReservationPanel)
                    </label>
                </div>
            </div>
             <div class="form-group">
                <label asp-for="VisitPrice" class="control-label"></label>
                <input asp-for="VisitPrice" class="price form-control icon-inside" /><i>تومان</i>
                <span asp-validation-for="VisitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                 <input id="Date" type="text" class="form-control" autocomplete="off" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
                <input asp-for="StartDate" value="@ViewData["StartDate"]" type="hidden" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="price form-control icon-inside" /><i>تومان</i>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportPercent" class="control-label"></label>
                <input asp-for="SupportPercent" class="form-control icon-inside" /><i>%</i>
                <span asp-validation-for="SupportPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="4" name="Description" id="Description" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label"></label>
                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                <span asp-validation-for="SpecialityId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="LogoFile" class="control-label"></label><br />
                <input asp-for="LogoFile" type="file" name="LogoFileUploader" class="form-control" />
                <img src="/@Html.DisplayFor(model => model.LogoFile)" class="img-on-page" />
                <span asp-validation-for="LogoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره تغییرات" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
        });
    </script>
    <script>
        (function ($, undefined) {

            "use strict";

            // When ready.
            $(function () {

                var $form = $("form");
                var $input = $form.find(".price");

                $input.on("keyup", function (event) {


                    // When user select text in the document, also abort.
                    var selection = window.getSelection().toString();
                    if (selection !== '') {
                        return;
                    }

                    // When the arrow keys are pressed, abort.
                    if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                        return;
                    }


                    var $this = $(this);

                    // Get the value.
                    var input = $this.val();

                    var input = input.replace(/,/g, "");
                    input = input ? parseInt(input, 10) : 0;

                    $this.val(function () {
                        return (input === 0) ? "" : input.toLocaleString("en-US");
                    });
                });

                /**
                 * ==================================
                 * When Form Submitted
                 * ==================================
                 */
                $form.on("submit", function (event) {

                    //var $this = $(this);
                    var $form = $("form");
                    var $input = $form.find("#Price");
                    var arr = $input.serializeArray();

                    for (var i = 0; i < arr.length; i++) {
                        arr[i].value = arr[i].value.replace(/[($)\s\._\,]+/g, ''); // Sanitize the values.
                    };

                    //console.log(arr);

                    //event.preventDefault();
                });

            });
        })(jQuery);
    </script>
        <script src="~/js/moment.js"></script>
<script src="~/js/moment-jalaali.js"></script>
<script>
$(document).ready(function(){
 var jd=moment($("#StartDate").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#Date").val(jd);

})
     

      $("#Date").change(function(){
      var d=moment($("#Date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#StartDate").val(d);
      })
    </script>
}
