﻿@model IEnumerable<ClinicWebApp.Models.Clinic>

@{
    ViewData["Title"] = "لیست کلینیک ها";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn">ثبت کلینیک جدید</a>
</p>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">ویراش</a> |
                    <a class="btn btn-link" asp-controller="UserClinics" asp-action="Index" asp-route-id="@item.Id">اکانت ها</a> |
                    @{
                        if (item.Website == true)
                        {
                            @:<a class="btn btn-link" href="Websites/Create/@item.Id">وب سایت</a> |
                        }
                        else
                        {
                            @:<a class="btn disabled text-muted">وب سایت</a> |

                        }

                    }
                    <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>