﻿@model IEnumerable<ClinicWebApp.Models.PatientRecord>

@{
    ViewData["Title"] = "سوابق مراجعه بیمار";
}

<div class="toggle">
    <h2 class="toggle-btn">@ViewData["Title"] &nbsp;<i class="fa fa-angle-down"></i></h2>

    <table class="table margin-top-md toggle-content">
        <thead>
            <tr>
                <th>
                    تاریخ مراجعه
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <span class="eDate">@Convert.ToDateTime(item.Reservation.Date).ToString("yyyy-MM-dd")</span>  &nbsp; &nbsp; <small>@Html.DisplayFor(modelItem => item.Reservation.Time)</small>
                </td>
                <td>
                    <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">مشاهده</a> |
                    <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                </td>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </tr>
            }
        </tbody>
    </table>
</div>