﻿@model ClinicWebApp.Models.RecordAttachment

@{
    ViewData["Title"] = "حذف فایل";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>
         <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class="eDate">
            @Convert.ToDateTime(Model.UploadDateTime).ToString("yyyy-MM-dd")
        </dd>
        <dd>
            <img src="/Patients/Recordfile/@Model.FileUrl" class="img-on-page" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-action="Index" asp-route-PatientId="@Model.PatientId">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>
