﻿@model ClinicWebApp.Models.RecordAttachment

@{
    ViewData["Title"] = "مشاهده تصویر";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
#attachment_img{
    max-height:90vh;
}
    </style>
<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>
         <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class="eDate">
            @Convert.ToDateTime(Model.UploadDateTime).ToString("yyyy-MM-dd")
        </dd>
        <dd>
          <img id="attachment_img" src="/Patients/Recordfile/@Model.FileUrl" class="img-responsive center-img" />
        </dd>

    </dl>
    <a class="btn btn-black" id="rotate-left"><i class="fa fa-rotate-left"></i></a>
     <a class="btn btn-black" id="rotate-right"><i class="fa fa-rotate-right"></i></a>
</div>
<div class="box-footer right margin-top-md">
        <a asp-action="Index" asp-route-PatientId="@Model.PatientId">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    <script>

  var delta =0;
    function rotateBy10Deg(d){
        var ele=document.getElementById("attachment_img");
        ele.style.webkitTransform="rotate("+delta+"deg)";
        delta+=d;
    }

$("#rotate-left").click(function(){
    rotateBy10Deg(90);
})
$("#rotate-right").click(function(){
    rotateBy10Deg(-90);
})



    </script>
}
