﻿@model IEnumerable<ClinicWebApp.Models.RecordAttachment>

@{
    ViewData["Title"] = "فایل های پرونده";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="margin-right:15px;">فایل های پرونده @ViewData["patientName"]</h2>
<div class="col-xs-12">
    <hr>
    <a asp-action="Index" asp-controller="Patients">
        بازگشت به لیست بیماران
        <i class="fa fa-angle-left"></i>
    </a>
    <br>
     <a asp-action="Details" asp-controller="Patients" asp-route-Id="@ViewData["PatientId"]">
        بازگشت به پرونده
        <i class="fa fa-angle-left"></i>
    </a>
</div>

<div class="col-xs-12 margin-top-sm">
<a id="uplod-modal-link" data-toggle="modal" onclick="rowbtn(@ViewData["PatientId"])" data-target="#queueModal" class="btn btn-black btn-top">افزودن مدرک</a>
</div>


<div id="queueModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="upform" asp-controller="RecordAttachments" asp-action="Create" enctype="multipart/form-data">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">افزودن فایل به پرونده بیمار</h4>
                </div>
                <div class="modal-body">
                    <p>در حال حاضر <a id="attachLink" class="btn btn-link link-underline" href="">این مدارک</a> در پرونده بیمار موجود است</p>
                    <hr />
                    <input type="hidden" name="PatientId" id="pid-upload" />
                    <input type="hidden" id="rowid" />

                    <input id="FileUrl" name="FileUrl" type='file' style="visibility:hidden;height:0">
                   <label for="FileUrl" class="btn btn-black"><svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>مدرک جدید را انتخاب کنید</span></label>

                </div>

            </div>
        </form>
    </div>
</div>



    <div class="col-xs-12 table-responsive margin-top-md">
<table class="table">
    <thead>
        <tr>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Title)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <form asp-action="Edit">
            <tr>
                <!-- <td>
                  @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td> -->
                <td>
                    <input type='hidden' name="FileUrl" value="@Html.DisplayFor(modelItem => item.FileUrl)"/>
                    <input type='hidden' name="PatientId" value="@Html.DisplayFor(modelItem => item.PatientId)"/>
                    <span class="eDate">@Convert.ToDateTime(item.UploadDateTime).ToString("yyyy-MM-dd")</span>
               @* <span class="getday">@Convert.ToDateTime(item.UploadDateTime).DayOfWeek</span>*@
                </td>
                <td>
                    <a class="btn btn-black" asp-action="Details" asp-route-id="@item.Id">نمایش تصویر</a>
                </td>
                @*<td> 
                    
 <input type='hidden' name="Id" value="@Html.DisplayFor(modelItem => item.Id)"/>
 <input type='text' name="Title" value='@Html.DisplayFor(modelItem => item.Title)'/>
 <button type="submit" class="btn btn-info">ثبت</button>
                   
                </td>*@
                @*<td>
                    <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">مشاهده</a> |
                    <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>*@
            </tr>
            </form>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="padding:8px 0">
                @{ if (ViewData["msg"] != null)
                    {
                        <p class="alert alert-warning padding"><i class="fa fa-warning"></i> @ViewData["msg"]</p>
                    }
                }
            </td>
        </tr>
    </tfoot>
</table>
    </div>
