﻿@model IEnumerable<ClinicWebApp.Models.UserClinic>
@foreach (var item in Model)
{

    <div class="spec-img shadow">
        @if(item.Clinic.LogoFile!=null){
        <img src="~/@item.Clinic.LogoFile">
        }
        else{
        <img src="~/@item.Clinic.Speciality.ImageFile">
        }
    </div>
    <h4> @item.Clinic.FullName</h4>
    <h5> @item.Clinic.Speciality.Title</h5>
    <hr />
}