@model IEnumerable<ClinicWebApp.Models.Extra>

@{
    ViewData["Title"] = "ویزیت امروز";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<style>
    .nc{
        background-color: #dedede;
        position: absolute;
        left: 5px;
        margin-top:5px;
    }
    .check-label input[type="number"]{     
        position: absolute;
        left: 55px; 
    }
    @@media only screen and (max-width:768px){
       .check-label input[type="number"]{     
        position: unset;
        left: unset;
        width: 60%; 
        margin-left: 0;
    } 
    }
    .check-label{
    width: 95%;
     list-style-type: none;
      display:inline-block;
    }
    .check-label span{
        display:inline-block;
    }
    .queuelist li{
        width: 100%;
        position: relative;
    }
    .queuelist li label{
        width:70%;
        cursor:pointer;
    }
    .queuelist li input[type="checkbox"]{
        visibility:visible;
    }
   .check-label-select-temp{
       background-color:#dedede;
   }
    #total__money__recorded{
        disabled:none;
    }
</style>




<input type="hidden" value="@ViewData["pid"]" id="pid_query">
<div class="col-xs-12 reset-padding" role="dialog">
    <form>
        <div class="col-xs-12 reset-padding">
            <!-- Modal content-->
            <div class="col-xs-12 reset-padding">
                <div class="modal-header col-xs-12 reset-padding">
                    <h4 class="modal-title">خدمات انجام شده</h4>
                </div>
                <div class="modal-body col-xs-12 reset-padding">
                   <div id="status"></div>
                    <hr />
                    <input type="hidden" name="PatientId" id="pid-pay" />
                    <input type="hidden" id="reserveid" name="Id" />
<input type="hidden" name="Time" id="timeinput" />
<input type="hidden" name="Date" id="dateinput" />

                    <div class="form-group hidden">
                        <label>جمع مبالغ:</label>
                            <input class="form-control icon-inside" type="text" name="Payment" id="Payment" />
                            <i>تومان</i>              
                    </div>
                    
                <ul class="well col-xs-12 queuelist" id="extra">
                @foreach (var item in @ViewData["extra"] as IEnumerable<ClinicWebApp.Models.Extra>)
                {
                        <li class="check-label" for="@item.Id">
                               <label class="r-label" for="@item.Id"><span>@item.Title</span></label>
                               <span hidden class="row__id"></span>
                               <input class="r-label" id="@item.Id" type="checkbox" value="@item.Amount">
                               <button type="button" class="nc pull-left btn" disabled>NC</button>
                               <input type="number" value="@item.Amount" class="pull-left" disabled> 
                        </li>
                       
                }
                </ul>
                <div class="col-xs-12 reset-padding">
               
              
                     <div class="form-group pull-right">
جمع مبالغ: <input type="text" id="total__money__sub" readonly> تومان
                </div>
                </div>


                </div>
                <div class="modal-footer col-xs-12">
                    <button type="button" id="pay-btn" class="btn gradient-btn">
                        ذخیره
                    </button>
                    <button onclick="window.history.back();" type="button" class="btn btn-default" id="reset-btn">
                        بازگشت
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>






@section Scripts{
      <script>
        //باکس مالی
var get_array=[];
var fn=0;
var rowId = $("#pid_query").val();
        $(document).ready(function () {
            
                get_array=[];
                $.ajax({
                    type: "get",
                    url: '/Reservations/GetExtraPayment?rid='+rowId,
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data)

                       for(var i=0;i<data.data.length;i++){
                            $("input#"+data.data[i].extraId).parent().addClass("check-label-select");
                            $("input#"+data.data[i].extraId).attr("disabled","disabled");
                            $("input#"+data.data[i].extraId).siblings("input[type='number']").prop('disabled',false)
                             $("input#"+data.data[i].extraId).siblings(".nc").prop('disabled',false)


                            $("input#"+data.data[i].extraId).siblings('input[type="number"]').val(data.data[i].amount);
                            
                            
                            $("input#"+data.data[i].extraId).siblings('.row__id').html(data.data[i].id);
                            get_array.push(data.data[i])
                            console.log(get_array)    
                            }
                            
                            
                            for(var i=0;i<get_array.length;i++){
                                fn+=Number(get_array[i].amount)
                                console.log(fn)
                            }
                            $("#total__money__sub").val(fn)
                            
                            }

                            })                           
                        })



                    $('.nc').click(function(){
                        $(this).siblings('input[type="number"]').val(0)
                         fn=0
                        $('input[type="checkbox"]').each(function (index,elem) {
                        if($(this).is(':checked')){
                            fn+=Number($(this).siblings('input[type="number"]').val());
                        }
                        });
                        
                     if($('.check-label-select')>0){
                    fn+=Number($('.check-label-select').children('input[type="number"]').val())
                         }   
                         
                             
                      $("#total__money__sub").val(fn);
                    })



                    


                    $("input[type='number']").change(function(){
                  
                        fn=0
                        $('input[type="checkbox"]').each(function (index,elem) {
                        if($(this).is(':checked')){
                            fn+=Number($(this).siblings('input[type="number"]').val());
                        }
                        });


                      if($('.check-label-select').length>0){
                    fn+=Number($('.check-label-select').children('input[type="number"]').val())
                         }
                 
                        $("#total__money__sub").val(fn);
                        
                    })




                    $("input[type='checkbox']").change(function(){
                          if($(this).is(':checked')){
                              $(this).siblings("input[type='number']").prop('disabled',false)
                              $(".nc").prop('disabled',false)
                              fn+=Number($(this).val())
                          }
                          else{
                            $(this).siblings("input[type='number']").prop('disabled',true)
                            $(".nc").prop('disabled',false)
                              fn-=Number($(this).val())
                          }
                           $("#total__money__sub").val(fn);
                    })




            $(document).on("click", "#pay-btn", function() {
               $(this).prop('disabled',true)
               $('input[type="checkbox"]').each(function (index,elem) {

                    if($(this).is(':checked')){
                     

                    var extra={
                    ExtraId: $(this).prop("id"),
                    ReservationId:Number(rowId),
                    Amount: $(this).siblings("input[type='number']").val()
                    }

                    console.log("extra items",extra) 
                    
                    //send new records
                    $.ajax({
                    type: "post",
                    url: '/Reservations/UpdateExtra',
                    contentType: "application/json",
                    data: JSON.stringify(extra),
                    success: function (data) {
                        console.log("success",data)
                         window.history.back();
                    },
                    error: function(data){
                        console.log(data);
                    }
                    }) 
                   }
                   else{
                       //disabled checkbox__before added
                        fn+=Number($(this).siblings('input[type="number"]').val());
                        console.log(fn)
                        var extradis={
                        Id: $(this).siblings(".row__id").html(),
                        ExtraId: $(this).siblings("input[type='checkbox']").prop("id"),
                        ReservationId:Number(rowId),
                        Amount: $(this).siblings("input[type='number']").val()
                        }

                        $.ajax({
                    type: "post",
                    url: '/Reservations/UpdateExtra',
                    contentType: "application/json",
                    data: JSON.stringify(extradis),
                    success: function (data) {
                        console.log("success",data)
                        window.history.back();
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
                   }
                    
                })

                 //update payment field
                    console.log("total",fn)
                    $("#Payment").val(fn)
/*
                    var data = {
                    Id: Number(rowId),
                    PatientId:Number(pId),
                    Payment:$("#Payment").val(),
                    Time: timeHdn,
                    Date: dateHdn,
                    PaymentType: Number($("#PaymentType").val()),
                    ClinicId:Number(cid),
                    Visited:(visitedHdn?true:false)
                }
                $.ajax({
                    type: "post",
                    //url: '/Reservations/UpdatePayment',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log("success",data)
                        swal({
                            title: "پرداخت ویزیت",
                            text: "پرداخت ویزیت با موفقیت ثبت شد",
                            type: "success",
                            confirmButtonText: '<i class="fa fa-check"></i> قبول',
                        }).then(function () {
                            location.reload();
                        }

                        );
                    },
                    error: function(data){
                        console.log(data);
                    }
                })
            */
        });

       
</script>
        }