﻿@model ClinicWebApp.Models.Reservation

@{
    ViewData["Title"] = "حذف نوبت";
     Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @{
                byte ptype = Convert.ToByte(Model.PaymentType);
                switch (ptype)
                {
                    case 1:
                        <label class="label label-success">نقدی</label>
                        break;
                    case 2:
                        <label class="label label-info">کارتی</label>
                        break;
                    case 3:
                        <label class="label label-primary">آنلاین</label>
                        break;
                    case 4:
                            <label class="label label-primary">ویزیت آنلاین - سایر نقدی</label>
                            break;
                    case 5:
                            <label class="label label-primary">ویزیت آنلاین - سایر کارت</label>
                            break;
                    default:
                        <label class="label label-danger">پرداخت نشده</label>
                        break;
                }
            }
        </dd>
        <dt> @Html.DisplayNameFor(model => model.Date)</dt>
        <dd class="eDate">
            @Model.Date.ToString("yyyy-MM-dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
         
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="resid" value="@ViewData["resid"]" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a onclick="window.history.back()">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>
