﻿@model ClinicWebApp.Models.Reservation

@{
    ViewData["Title"] = "ویرایش رزرو";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

<div class="box-header">
    <i class="flaticon-008-stethoscope"></i>
    <h3>ویرایش نوبت رزرو شده</h3>
</div>
<div class="row">
    <div class="col-sm-4 col-xs-12 pull-right">


 @if(@Model.Acceptance){
     <p class="alert alert-danger">
     به دلیل پذیرش بیمار در این تاریخ امکان جابه جایی وجود ندارد
     </p>
 }
 else{


        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group hidden">
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" type="hidden" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>

            <!-- @{
                if(ViewData["status"]=="1"){
                    <div class="form-group well">
                        ویرایش با موفقیت انجام شد
                    </div>
                }
            } -->
             

          

            <div class="form-group well">
                <input asp-for="PatientId" class="form-control" type="hidden" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
                <label>@ViewData["PatientId"]</label>
           
           

           <!-- ......................... -->
             <div class="form-group hidden">
                <label asp-for="Payment" class="control-label"></label>
                <input asp-for="Payment" value="@ViewData["clinicprice"]" class="form-control icon-inside" type="text" name="Payment" id="Payment" />

                <span asp-validation-for="Payment" class="text-danger"></span>
            </div> 
            <div class="form-group hidden">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control" name="PaymentType" id="PaymentType">
                    <option value="0">پرداخت نشده</option>
                    <option value="1">پرداخت نقدی</option>
                    <option value="2">پرداخت با کارت</option>
                    <option value="3">پرداخت آنلاین</option>
                    <option value="4">ویزیت آنلاین - سایر نقدی</option>
                    <option value="5">ویزیت آنلاین - سایر کارت</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div> 
             <div class="form-group hidden">
                <div class="checkbox">
                    <label>
                        <input asp-for="Visited" /> @Html.DisplayNameFor(model => model.Visited)
                    </label>
                </div>
            </div>
<!-- ......................... -->




   

            <br>
                <label class="eDate">@Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")</label>
                <br>
                <label>@Model.Time</label>
                <!-- <input asp-for="Date" asp-format="{0:yyyy-MM-dd}" type="hidden" class="ndate"/>
                <input id="show_date" type="text" class="form-control" autocomplete="off" /> -->
            </div>
            <!-- <div class="form-group">
                <p>زمان مورد نظر</p>
                 <input asp-for="Time" type="time" class="form-control" />
                <select class="form-control" id="TimeArea"></select>
               
            </div> -->



 <div class="form-group">
                <label class="control-label">تاریخ جدید</label>
                @*<input asp-for="Date" class="form-control" />*@
                <select asp-for="Date" class="form-control" asp-items="ViewBag.rfd" onchange="javascript:GetTimes(this.value);">
                    <option value="-1">--لطفا یک روز را انتخاب کنید--</option>
                </select>

                @*<span asp-validation-for="Date" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">زمان جدید</label>
                @*<input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>*@
                <select asp-for="Time" class="form-control"></select>
            </div>
            @*@ViewBag.min
                <ul>
                    @foreach (var tms in ViewBag.times)
                    {
                        <li>
                            @tms
                        </li>
                    }
                </ul>*@

            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-black" />
            </div>
        </form>

 }
    </div>
</div>

<div class="box-footer right">
    <a onclick="window.history.back()">
        بازگشت به لیست رزروها
        <i class="fa fa-angle-left"></i>
    </a>
</div>




@section Scripts {
   
 <script>
$(document).ready(function(){
 var jd=moment($("#Date").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#show_date").val(jd);

})
     

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>



    <script>
        $('#Date > option:not(:first-of-type)').each(function() {
           var d= new Date($(this).text());
            $(this).text(d.toLocaleDateString('fa-IR'))
        });


       
    </script>
    <script language="javascript" type="text/javascript">
        function GetTimes(_DateId) {
            $('#Time').html("");
            var procemessage;
            $("#Time").html(procemessage).show();
            var url = "/OnlineReserves/GetTimes/";

            $.ajax({
                url: url,
                data: { DateId: _DateId },
                contentType: "application/json; charset=utf-8",
                cache: false,
                type: "GET",
                success: function (data) {
                    console.log(data);
                    //alert(data);
                    $.each(data.freeTimeArray, function (i, value) {
                        $('#Time').append($('<option>').text(value).attr('value', value));
                    });
                   // var markup = "<option value='0'>ساعت انتخابی</option>";
                   // for (var x = 0; x < data.length; x++) {
                   //     markup += "<option value=" + data[x].value + ">" + data[x].value + "</option>";
                   // }
                   //$("#Time").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
}