﻿@model dynamic

@{
    ViewData["Title"] = "گزارش مالی";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
<style>
@@media only screen and (max-width:768px){
    .ui-widget-content{
        width:65%;
    }
}
.just-print{
    display:none;
}
@@media print{
   span.just-print{
    display:inline-block;
} 
hr.just-print{
    display:block;
}
 table { page-break-inside:auto }
   tr    { page-break-inside:avoid; page-break-after:auto }
}
</style>

<img src="~/@ViewData["clinicimg"]" width="200" class="hidden-ds">
<h2 class="hidden-ds">@ViewData["clinicname"]</h2>


<div class="col-xs-12 reset-padding">
    <h2 class="no-print">@Model.title</h2>
    <a class="print no-print" style="position:absolute;left:10px;top:15px" onclick="window.print()"><i class="fa fa-print fa-2x"></i></a>
<hr>
</div>
<form asp-action="Financial" method="get" class="col-xs-12 reset-padding">
    <div class="form-actions no-color">
        <p>
            <div class="col-xs-12 margin-bot-sm reset-padding">
            <span class="just-print">از</span><input required class="serachbox" id="show_sdate" type="text" placeholder="تاریخ شروع گزارش"  autocomplete="off" />
            </div>
            <div class="col-xs-12 margin-bot-sm reset-padding">
            <span class="just-print">تا</span><input required class="serachbox" id="show_edate" type="text" placeholder="تاریخ پایان گزارش" autocomplete="off" />
            </div>
            <input type="hidden" name="sdate" id="sdate" value="@Convert.ToDateTime(ViewData["sdate"]).ToString("yyyy-MM-dd")">
            <input type="hidden" name="edate" id="edate" value="@Convert.ToDateTime(ViewData["edate"]).ToString("yyyy-MM-dd")">
             <div class="col-xs-12 no-print reset-padding">
             <input type="submit" value="جستجو" class="btn btn-black" /> 
            <a asp-action="Financial" asp-controller="Reservations" asp-route-sdate="@DateTime.Now.ToString("yyyy-MM-dd")" asp-route-edate="@DateTime.Now.ToString("yyyy-MM-dd")" class="btn btn-default">گزارش امروز</a>
            <hr>
            </div>
        </p>
    </div>
</form>


 <ul class="nav nav-tabs col-xs-12">
                <li class="active" ><a data-toggle="tab" href="#summarize">گزارش خلاصه</a></li>
                <li><a data-toggle="tab" href="#extra">گزارش جامع خدمات </a></li>
                <li><a data-toggle="tab" href="#online"> پرداخت های آنلاین تائید شده</a></li>
            </ul>

<div class="tab-content col-xs-12 reset-padding">



<div class="tab-pane fade in active" id="summarize">
<div class="col-xs-12 margin-top-sm reset-padding">
<h3>
    <span>جمع مبلغ: </span><label class="label label-info count"></label>
    &nbsp;<span>تومان</span>
    </h3>
    <hr class="just-print">
    <div class="table-responsive col-xs-12 margin-top-sm reset-padding">
    <table class="table table-responsive">
         <thead>
        <tr>
            <th>تاریخ</th>
            <th>مبلغ</th>
        </tr>
        </thead>
        @Html.Raw(Model.dyn)
    </table>
    </div>

    @Html.Raw(Model.msg)
</div>
</div>


<div class="tab-pane fade" id="extra">
<div class="col-xs-12 margin-top-sm reset-padding">
    <h3>
    <span>جمع مبلغ: </span><label class="label label-info count"></label>
    &nbsp;<span>تومان</span>
    </h3>
    <hr class="just-print">
    <div class="table-responsive margin-top-sm col-xs-12 reset-padding">
<table class="table">
    <thead>
   <tr>
        <th>تاریخ</th>
        <th>نام</th>
        <th>شماره تماس</th>
        <th>مبلغ پرداختی</th>
        <th>نوع پرداخت</th>
        <th>خدمات</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in @ViewData["extraFinancial"] as IEnumerable<ClinicWebApp.Models.ExtraPayment>)
{
<tr>
    <td class="eDate">@item.Reservation.Date</td>
    <td>@item.Reservation.Patient.FullName</td>
    <td>@item.Reservation.Patient.Mobile</td>
    <td>@item.Amount</td>
     <td>
          @{
            switch (@item.Reservation.PaymentType)
            {
                case 1: <label>نقدی</label>;
                break;

                 case 2:<label>کارتی</label>;
                break;

                 case 3:<label>آنلاین</label>;
                break;

                case 4:<label>ویزیت آنلاین-سایر نقدی</label>;
                break;

                 case 5:<label>ویزیت آنلاین-سایر کارت</label>;
                break;

                default:<label>-</label>;
                break;

            }
        }
         </td>
    <td>@item.Extra.Title</td>
    
</tr>
}
</tbody>
</table>
    </div> 
</div>
</div>






<div class="tab-pane fade" id="online">
<div class="col-xs-12 margin-top-sm reset-padding">
     <h3>
    <span>جمع مبلغ: </span><label class="label label-info" id="summation"></label>
    &nbsp;<span>تومان</span>
    </h3>
    <hr class="just-print">
    <div class="table-responsive margin-top-sm col-xs-12 reset-padding">
<table class="table" id="online_reserve_table">
    <thead>
   <tr>
        <th>نام</th>
        <th>شماره تماس</th>
        <th>مبلغ پرداختی</th>
        <th>تاریخ پرداخت</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in @ViewData["onlineFinancial"] as IEnumerable<ClinicWebApp.Models.OnlineReserve>)
{
<tr>
    <td>@item.FullName</td>
    <td>@item.Mobile</td>
    <td class="online_price">@item.Payment</td>
    <td class="eDate">@Convert.ToDateTime(item.NowDate).ToString("yyyy-MM-dd")</td>
</tr>
}
</tbody>
</table>
    </div> 
</div>
</div>




<div class="tab-pane fade" id="total">
    <div class="col-xs-12 margin-top-sm reset-padding">
        <h3>
    <span>جمع مبلغ: </span><label class="label label-info count"></label>
    &nbsp;<span>تومان</span>
    </h3>
<div class="table-responsive margin-top-sm col-xs-12 reset-padding">
<table class="table">
    <thead>
    <tr>
        <th>تاریخ</th>
        <th>نام</th>
        <th>شماره تماس</th>
        <th>مبلغ پرداختی</th>
        <th>نوع پرداخت</th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in @ViewData["totalfinancial"] as IEnumerable<ClinicWebApp.Models.Reservation>)
{
<tr>

    <td><span class="eDate">@item.Date</span></td>
    <td>@item.Patient.FullName</td>
    <td>@item.Patient.Mobile</td>
    <td>@((item.Payment!=null)?item.Payment:"0")تومان</td>
    <td>
        @{
            switch (item.PaymentType)
            {
                case 1: <label>نقدی</label>;
                break;

                 case 2:<label>کارتی</label>;
                break;

                 case 3:<label>آنلاین</label>;
                break;

                default:<label>-</label>;
                break;

            }
        }
        
        
        </td>

</tr>
}
</tbody>
</table>
</div>
</div>
</div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>

    @* add camma in price *@
    <script>
        $(document).ready(function () {
            $('.total').each(function (i, obj) {
                var str = ($(this).html()).toString().split('.');
                str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
                $(this).html(str.join('.'));
            });
        })
    </script>

   
    <script>
        $(document).ready(function () {
            $("#show_sdate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
            $("#show_edate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
        });
    </script>


    <script>
          $('.eDate').each(function() {
           var d= new Date($(this).text());
            $(this).text(d.toLocaleDateString('fa-IR'))
        });

        </script>



<script>
    $(document).ready(function(){
    var jed=moment($("#edate").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
    $("#show_edate").val(jed);


    var jsd=moment($("#sdate").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
    $("#show_sdate").val(jsd);
    })
     

      $("#show_sdate").change(function(){
      var d=moment($("#show_sdate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#sdate").val(d);
      })

      $("#show_edate").change(function(){
      var d=moment($("#show_edate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#edate").val(d);
      })
</script>

<script>

    var t=document.getElementsByClassName("total");
    var count=0;
    for(var i=0;i<t.length;i++){
    count+=Number(t[i].innerText);
    }

    $(".count").text(count);
    
    </script>


     <!-- <script>
          $.ajax({
              url:"/Reservations/GetWebsiteInfo",
              method:"get",
              success:function(data){
                  console.log(data);
              },
              error:function(data){
                  console.log(data)
              }
              
          })
      </script> -->
      <script>
          $(document).ready(function(){
                var summation=0;
                $("#online_reserve_table tbody tr td.online_price").each(function(val,index){
                    summation+=Number($(this).html());
                })
                $("#summation").html(summation);
          })
     </script>
}