﻿@model dynamic

@{
    ViewData["Title"] = "کنترل مالی";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int paid = 1;
}

<div class="col-xs-12 reset-padding">
    <h2 class="no-print">کنترل مالی</h2>
    <a class="print no-print" style="position:absolute;left:10px;top:15px" onclick="window.print()"><i class="fa fa-print fa-2x"></i></a>
<hr>
</div>

<!-- <table class="table">
    <thead>
   <tr>
        <th>تاریخ</th>
        <th>نام</th>
        <th>بررسی</th>
    </tr>
    </thead>
<tbody>
@foreach (var item in @ViewData["financialCheck"] as IEnumerable<ClinicWebApp.Models.Reservation>)
{
<tr>
    <td class="eDate"> @item.Date</td>
    <td>@item.Patient.FullName</td>
    <td><a href="" class="btn btn-black">بررسی</a></td>
    
</tr>
}
</tbody>
</table> -->





@foreach (var item in @ViewData["financialCheck"] as IEnumerable<ClinicWebApp.Models.Reservation>)
{


    paid = ((item.Payment != null) ? 1 : 0);

    <div class="col-md-4 col-xs-12 pull-right queue-box" id="@item.Id">
        <label class="order"></label>
    <div class="queue" data-accept="@item.Acceptance">
        <span class="badge badge-primary">
            <i class="fa fa-clock-o"></i> <span class="eDate">@Html.DisplayFor(modelItem => item.Date)</span> -
             @Html.DisplayFor(modelItem => item.Time)
        </span>



        @{
            if (item.Payment == null)
            {

                <p class="pname block" title="پرداخت نشده است" data-toggle="modal" data-target="#moneyModal">@Html.DisplayFor(modelItem => item.Patient.FullName)</p>

            }
            else
            {
                 if (item.PaymentType==3){
                <label class="online-pay">پرداخت آنلاین</label>
                }
                <p class="pname block color" title="پرداخت شد" data-toggle="modal">@Html.DisplayFor(modelItem => item.Patient.FullName)</p>
                
            }

        }


        <span class="pid-box">
             @{
            if (item.Acceptance == true)
            {
                 <label hidden class="acceptance_time">@item.AcceptanceTime</label>
                <input type="hidden" value="1" class="acceptance_hidden">
                  <button type="button" class="btn shadow btn-black">
                        <i class="fa fa-sign-in"></i> پذیرش شد   
                  </button> 
            }
            else
            {
               
                       <button type="button" class="btn shadow btn-default accept-btn">
                        <i class="fa fa-sign-in"></i> پذیرش   
                    </button>       
            }
        }

        <a data-toggle="modal" data-target="#receiptModal" class="receipt_btn pull-left" title="رسید بیمه"><img src="~/images/receipt.svg" width="30"></a>
      <hr>  
            @{
                if(item.Acceptance==true){

                 if (item.Visited == false)
                {
                    <button type="button" class="btn shadow visit-btn">
                        <i class="fa fa-sign-in"></i> ویزیت   
                    </button>
                }
                else
                {
                    <button class="btn btn-black shadow">
                        <i class="fa fa-check icon"></i> ویزیت شد
                    </button>
                }
                
                }
              
            }

            <a href="/Patients/Details/@item.PatientId" class="btn shadow btn-buttonface">
           <i class="fa fa-book icon"></i> پرونده
            </a>

            <input type="hidden" class="visitedHdn" value="@(item.Visited?1:0)" />
            <input type="hidden" class="dateHdn" value="@item.Date" />
            <input type="hidden" class="timeHdn" value="@item.Time" />

            <input type="hidden" class="paymentprice" value="@item.Payment">
            <input type="hidden" class="paymentTypeHdn" value="@item.PaymentType" />
            <input type="hidden" class="paymentsts" value='@paid' />
            <input type="hidden" class="pId" value="@item.PatientId" />
            <input type="hidden" class="rowId" value="@item.Id" />


            <span hidden class="nc">@item.Patient.NoCharge</span>
        </span>
    </div>
    </div>

}



<div id="receiptModal" class="modal fade" role="dialog" dir="rtl">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">رسید بیمه</h4>
                </div>
                <div class="modal-body receipt">
                <div class="hidden-scr">
                        <span id="cinfo">
                        </span>
                    </div>
                    <table>
                    
                        <tr>
                            <td>تاریخ مراجعه</td>
                            <td><span id="patient_date"></span></td>
                        </tr>
                        <tr>
                            <td>ساعت مراجعه</td>
                            <td><span id="patient_time"></span></td>
                        </tr>
                        <tr>
                            <td>نام بیمار</td>
                            <td><span id="patient_name"></span></td>
                        </tr>
                        <tr>
                            <td>مبلغ پرداختی</td>
                            <td><span id="patient_payment"></span></td>
                        </tr>
                        <tr>
                            <td>خدمات انجام شده</td>
                            <td><span id="patient_extra"></span></td>
                        </tr>
                    </table>
                   <p class="receipt-signature-area">مهر و امضا</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-black" onclick="window.print()">
                       چاپ <i class="fa fa-print"></i>
                    </button>
                    <button onclick="location.reload();" type="button" class="btn btn-default">
                        انصراف
                    </button>
                </div>
            </div>
    </div>
</div>






@* money *@
<div id="moneyModal" class="modal fade" role="dialog">
    <form>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content col-xs-12">
                <div class="modal-header col-xs-12">
                    <button type="button" class="close" data-dismiss="modal" onclick="location.reload();">&times;</button>
                    <h4 class="modal-title">پرداخت هزینه</h4>
                </div>
                <div class="modal-body col-xs-12">
                   <div id="status"></div>
                    <hr />
                    <input type="hidden" name="PatientId" id="pid-pay" />
                    <input type="hidden" id="reserveid" name="Id" />
<input type="hidden" name="Time" id="timeinput" />
<input type="hidden" name="Date" id="dateinput" />

                    <div class="form-group hidden">
                        <label>ویزیت پرداختی</label>
                            <input class="form-control icon-inside" type="text" name="Payment" id="Payment" />
                            <i>تومان</i>                      
                    </div>
                 
                <div class="col-xs-12 col-md-9" id="extra">
                @foreach (var item in @ViewData["extra"] as IEnumerable<ClinicWebApp.Models.Extra>)
                {
                        <label class="check-label">
                              <span>@item.Title</span>
                                <span hidden class="row__id"></span>
                               <input id="@item.Id" type="checkbox" value="@item.Amount" disabled>
                               <input type="number" class="inp_number" value="@item.Amount" data-val="@item.Amount" disabled>
                        </label><br>
                }
                </div>
               
               <div class="col-xs-12 col-md-3">
               
                    
                     <div class="form-group">
                    قابل پرداخت: <input type="text" id="total__money__sub" readonly> تومان
                    <br>
                    <br>
                    پرداختی تا این لحظه <label id="total_paid"></label> تومان
                </div>
                <div class="form-group">
                        <select class="form-control" name="PaymentType" id="PaymentType">
                            <option value="1">پرداخت نقدی</option>
                            <option value="2">پرداخت با کارت</option>
                            <option value="3">پرداخت آنلاین</option>
                            <option value="4">ویزیت آنلاین - سایر نقدی</option>
                            <option value="5">ویزیت آنلاین - سایر کارت</option>
                        </select>
                    </div>
                </div>


                </div>
                <div class="modal-footer col-xs-12">
                    <button type="button" class="btn gradient-btn pay-btn">
                        ذخیره
                    </button>
                    <button onclick="location.reload();" type="button" class="btn btn-default" id="reset-btn">
                        انصراف
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
          $('.eDate').each(function() {
           var d= new Date($(this).text());
            $(this).text(d.toLocaleDateString('fa-IR'))
        });

        </script>
}
