﻿@model PaginatedList<ClinicWebApp.Models.Reservation>

@{
    ViewData["Title"] = "رزروهای تائید شده";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />


<div class="box-header">
    <i class="flaticon-008-stethoscope"></i>
    <h3>
        @ViewData["Title"]
    </h3>

    <a asp-action="Index" asp-controller="Patients" class="block">
        لیست بیماران
        <i class="fa fa-angle-left"></i>
    </a>
    <a asp-action="Index" asp-controller="OnlineReserves" class="block">
        لیست رزروهای تائید نشده
        <i class="fa fa-angle-left"></i>
    </a>

</div>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Index" method="get" class="margin-top-md">
    <div class="form-actions no-color searchform">
        <p>
            <div class="col-xs-12 reset-padding">
            @{
                if (ViewData["sdate"] != null)
                {

                    <label> از </label><input class="serachbox" type="hidden" name="sdate" id="sdate" placeholder="تاریخ شروع" value="@Convert.ToDateTime(ViewData["sdate"]).ToString("yyyy/MM/dd")" autocomplete="off" required/>
                }
                else
                {
                    <label> از </label><input class="serachbox" type="hidden" name="sdate" id="sdate" placeholder="تاریخ شروع" value="" autocomplete="off" required/>

                }
                <input class="d-blur" type="text" id="show_sdate" placeholder="تاریخ شروع" autocomplete="off" readonly>
            }
</div>
<div class="col-xs-12 reset-padding margin-top-sm">
            @{
                if (ViewData["edate"] != null)
                {

                <label> تا </label><input class="serachbox" type="hidden" name="edate" id="edate" placeholder="تاریخ پایان" value="@Convert.ToDateTime(ViewData["edate"]).ToString("yyyy/MM/dd")" autocomplete="off" required/>
                    }
                    else
                    {
                <label> تا </label><input class="serachbox" type="hidden" name="edate" id="edate" placeholder="تاریخ پایان" value="" autocomplete="off" required/>

                }
                  <input class="d-blur" type="text" id="show_edate" placeholder="تاریخ پایان" autocomplete="off" readonly>
            }
             </div>
             <div class="col-xs-12 reset-padding margin-top-sm margin-bot-sm">
            <input type="submit" value="جستجو" class="btn btn-default" /> <span class="hitden-xs">|</span>
            <a asp-action="Index" asp-controller="Reservations">همه رزروها</a>
            </div>
        </p>
       
    </div>
</form>
<hr />
<div class="table-responsive col-xs-12">
<table class="table">
    <thead>
        <tr>

            @*<th>
            @Html.DisplayNameFor(model => model.Clinic)
        </th>*@
            <th>
                تاریخ
            </th>
            <th>
                ساعت
            </th>
            <th>
                بیمار
            </th>
            <th>
                هزینه
            </th>
            <th>
                نوع
            </th>
            <th>
                ویزیت شده؟
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            @*<td>
            @Html.DisplayFor(modelItem => item.Clinic.Id)
        </td>*@
            <td class="eDate">
                @item.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @{
                    byte ptype = Convert.ToByte(item.PaymentType);
                    switch (ptype)
                    {
                        case 1:
                            <label class="label label-success">نقدی</label>
                            break;
                        case 2:
                            <label class="label label-info">کارتی</label>
                            break;
                        case 3:
                            <label class="label label-primary">آنلاین</label>
                            break;
                             case 4:
                            <label class="label label-info">ویزیت آنلاین - سایر نقدی</label>
                            break;
                        case 5:
                            <label class="label label-primary">ویزیت آنلاین - سایر کارت</label>
                            break;
                        default:
                            <label class="label label-danger">------</label>
                            break;
                    }

                }

            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Visited)
            </td>


            <td>


                <a class="btn text-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                <a class="btn text-warning" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    صفحه قبل
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    صفحه بعد
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/chart.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#show_edate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
            $("#show_sdate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
        });
    </script>


<script>
$(document).ready(function(){
 var jed=moment($("#edate").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#show_edate").val(jed);


      var jsd=moment($("#sdate").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#show_sdate").val(jsd);

})
     

      $("#show_sdate").change(function(){
      var d=moment($("#show_sdate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#sdate").val(d);
      })

      $("#show_edate").change(function(){
      var d=moment($("#show_edate").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#edate").val(d);
      })
    </script>

<script>
    $(".d-blur").click(function(){
    $("main").addClass("blur-back");
})
$(".d-blur").change(function(){
     $("main").removeClass("blur-back");
})

</script>
    
}
