﻿@model IEnumerable<ClinicWebApp.Models.Reservation>

@{
    ViewData["Title"] = "ویزیت امروز";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

<div class="col-xs-12 reset-padding">
<h2><time></time></h2>
<hr>
<div class="today-sum" style="position:relative;bottom:-5px">
    <label>بیماران نوبت گرفته امروز:</label> <label class="label label-info">@ViewData["total"]</label><br>
    <label>پذیرش شده ها:</label> <label class="label label-info">@ViewData["acceptance"]</label><br>
    <label>ویزیت شده ها:</label> <label class="label label-info">@ViewData["visited"]</label>
</div>
</div>

<div class="table-responsive col-xs-12 margin-top-sm reset-padding">
    
<table class="table">
    <thead>
        <tr>
            <th>
                ساعت
            </th>
            <th>
                بیمار
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
            <td style="padding-right:0">
        @{
        <input type="hidden" id="item_id" value="@item.Id">
       @* <input style="width:120px" type="button" value="ویزیت" class="btn btn-black" onclick='setcheckvalue(@item.Id)'>*@

         if(item.DoctorVisited==true){
        <a style="width:120px" class="btn btn-black" asp-controller="PatientRecords" asp-action="Edit" asp-route-resid="@item.Id">ویزیت شد</a>
         }
         else{
        <input id="btn_set" style="width:120px" type="button" value="ویزیت" class="btn btn-black" onclick='setcheckvalue(@item.Id)'>
         }
     }
      @* <a asp-action="AddFinancialData" asp-route-pid="@item.Id" class="btn btn-default">هزینه ها</a> *@
</td>
        </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/chart.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.fa.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#sdate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
            $("#edate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            });
        });
    </script>
    <script>
        function setcheckvalue(id){
            $("#btn_set").prop('disabled',true);
             var data = {
                Id: id
            }
           $.ajax({
                type: "post",
                url: '/Reservations/EditVisited',
                data: data,
                success: function (data) {
                    console.log(data)
               window.location.href="/PatientRecords/Edit?resid="+data.pr.reservationId;
                },
                error: function () {
                    alert("متاسفانه خطایی رخ داده است");
                }
           });
        }
    </script>
    <script>
        $("time").text(new Date().toLocaleDateString('fa-IR'));
        var _d=new Date();
        var _day=_d.getDay();
        var _fday;
        switch(_day){
            case 0: 
            _fday="یکشنبه";
            break;
            case 1: 
            _fday="دوشنبه";
            break;
            case 2: 
            _fday="سه شنبه";
            break;
            case 3: 
            _fday="چهارشنبه";
            break;
            case 4: 
            _fday="پنجشنبه";
            break;
            case 5: 
            _fday="جمعه";
            break;
            case 6: 
            _fday="شنبه";
            break;

        }
        $("time").prepend(_fday+"&nbsp;&nbsp")
    </script>
}