﻿@{
    ViewData["Title"] = "داشبورد";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-12 reset-padding" id="side-queue">
    <div class="box-header col-xs-12 reset-padding" id="queue-header">
        <h2>بیماران<span id="persiandate"> امروز </span></h2>
        <hr>
    </div>
    <div id="queuelist" class="col-xs-12 reset-padding">
        <label for="queuedate" class="btn btn-default" style="display:inline-block;margin-bottom:20px;margin-top:5px">
            انتخاب تاریخ <i class="fa fa-calendar"></i>
            <input type="text" value="@Convert.ToDateTime(ViewData["date"]).ToShortDateString()" id="queuedate" class="margin-bot-sm" readonly>
        </label>
        <div id="componentcontainer">
            @await Component.InvokeAsync("QueueList", new { dt = Convert.ToDateTime(ViewData["date"]) })
        </div>
    </div>
</div>

@section Scripts{
    <script>
var accept_times=[];


window.onload=function(){
    setorder()
}


$("#side-queue").mouseenter(function(){
    setorder()
})

function setorder(){
    accept_times=[];
$('.acceptance_time').each(function (index, value) {
    let acctime={
        id:$(this).parents(".queue-box").attr("id"),
        time:$(this).html()
    }
accept_times.push(acctime);
accept_times.sort(compare);
setTimeout(setlabel,100)

});
}
   


 

function compare(a, b) {
  const timeA = a.time.toUpperCase();
  const timeB = b.time.toUpperCase();

  let comparison = 0;
  if (timeA > timeB) {
    comparison = 1;
  } else if (timeA < timeB) {
    comparison = -1;
  }
  return comparison;
}


function setlabel(){
    accept_times.forEach((val,index)=>{
$("#"+val.id).children(".order").html(1+index);
})
}

 setorder();

/*$("main").mousemove(function(){
    setorder();
})*/



</script>
}

