﻿@model ClinicWebApp.Models.Category

@{
    ViewData["Title"] = "ویرایش دسته";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4 col-xs-12 pull-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="WebsiteId" class="control-label"></label>
                <input asp-for="WebsiteId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ShowInFrontPage" class="control-label"></label>
                <label class="switch">
                    <input type="checkbox" asp-for="ShowInFrontPage" checked />
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-group margin-top-md">
                <button type="submit" class="btn gradient-btn" onclick="check()"><i class="fa fa-check"></i> ایجاد دسته</button>
            </div>
        </form>
    </div>
</div>
<div class="box-footer right margin-top-sm">
    <a asp-action="Index">
        بازگشت به دسته بندی ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#Title").keyup(function () {
            $("#Slug").val($("#Title").val().replace(/\//g, '-').split(/\s+/).join('-'));
        })
    </script>
    <script>
        function check() {
            $("#Slug").val().replace(/\//g, '-').split(/\s+/).join('-');
        }
    </script>
}

