﻿@model IEnumerable<ClinicWebApp.Models.Category>

@{
    ViewData["Title"] = "دسته بندی مطالب";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-reorder"></i> ایجاد دسته جدید </a>
</p>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowInFrontPage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowInFrontPage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">ویرایش</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>