﻿@model ClinicWebApp.Models.Website

@{
    ViewData["Title"] = "اطلاعات اولیه وب سایت";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<!-- <style>
header span.icons{
    display:none;
}
</style> -->

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">

            <ul class="nav nav-tabs col-xs-12 vertical-xs">
                <li class="active"><a data-toggle="tab" href="#home">مشخصات وب سایت</a></li>
                <li><a data-toggle="tab" href="#menu1">متن استاتیک</a></li>
                <li><a data-toggle="tab" href="#menu2">اطلاعات تماس</a></li>
                <li><a data-toggle="tab" href="#menu3">نقشه</a></li>
                <li><a href="#menu4">قالب <img src="~/images/gemstone.svg" width="20" /></a></li>
                <li class="pull-left"><button type="submit" class="btn gradient-btn" onclick="submitfields()">ذخیره <i class="fa fa-save"></i></button></li>
            </ul>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-7 col-xs-12 pull-right">
                <div class="tab-content margin-top-md">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form-group hidden">
                            <label asp-for="ClinicId" class="control-label"></label>
                            <input asp-for="ClinicId" class="form-control" type="text" value="@ViewData["cid"]" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubTitle" class="control-label"></label>
                            <input asp-for="SubTitle" class="form-control" />
                            <span asp-validation-for="SubTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LogoFileUrl" class="control-label"></label>
                            <input asp-for="LogoFileUrl" type="file" class="form-control" />
                            <span asp-validation-for="LogoFileUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="form-group">
                            <label asp-for="AboutUs" class="control-label"></label>



                            <textarea asp-for="AboutUs" id="AboutUs" name="AboutUs" hidden></textarea>

                             <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
     <!-- <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div> -->
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
      </div>
      <div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
		    <div class="dropdown-menu input-append">
			    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
			    <button class="btn" type="button">Add</button>
        </div>
        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>

      </div>
      
      <div class="btn-group">
        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 37px; height: 30px;" />
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
      </div>
      <!-- <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech=""> -->
    </div>

    <div id="editor" class="md-editor">
    </div>

                            <span asp-validation-for="AboutUs" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AboutUsPicture" class="control-label"></label>
                            <input type="file" asp-for="AboutUsPicture" class="form-control" />
                            <span asp-validation-for="AboutUsPicture" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tel1" class="control-label"></label>
                            <input asp-for="Tel1" class="form-control" />
                            <span asp-validation-for="Tel1" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel2" class="control-label"></label>
                            <input asp-for="Tel2" class="form-control" />
                            <span asp-validation-for="Tel2" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel3" class="control-label"></label>
                            <input asp-for="Tel3" class="form-control" />
                            <span asp-validation-for="Tel3" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel4" class="control-label"></label>
                            <input asp-for="Tel4" class="form-control" />
                            <span asp-validation-for="Tel4" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel5" class="control-label"></label>
                            <input asp-for="Tel5" class="form-control" />
                            <span asp-validation-for="Tel5" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VisitTime" class="control-label"></label>
                            <textarea asp-for="VisitTime" id="VisitTime" class="form-control hidden" rows="4" hidden></textarea>

                                  <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
     <!-- <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          </ul>
        </div> -->
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
        <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
        <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
        <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
        <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
      </div>
      <div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
		    <div class="dropdown-menu input-append">
			    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
			    <button class="btn" type="button">Add</button>
        </div>
        <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>

      </div>
      
      <div class="btn-group">
        <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 37px; height: 30px;" />
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
        <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
      </div>
      <!-- <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech=""> -->
    </div>

    <div id="editorVisit" class="editor sm-editor">
    </div>

                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        @*<div class="map-background"></div>*@
                        <div class="form-group">
                            <p>برای درج نقشه در سایت، کد نقشه را در این قسمت وارد نمائید. در صورت نیاز به راهنما <a href="">این مقاله</a> را مطالعه فرمائید.</p>
                        </div>
                        <div class="form-group">
                            <label asp-for="Map" class="control-label"></label>
                            <textarea id="Mapcode" class="form-control" rows="4"></textarea>

                            <textarea asp-for="Map" class="form-control hidden" rows="4"></textarea>
                            <span asp-validation-for="Map" class="text-danger"></span>


                        </div>

                    </div>
                    <div id="menu4" class="tab-pane fade">
                        @*<div class="form-group col-md-6 pull-right reset-padding">
                                <label asp-for="Theme" class="control-label"></label>
                                <select asp-for="Theme" class="form-control">
                                    <option value="0">پوسته Minimal (پیش فرض)</option>
                                    <option value="1">پوسته HeroSlider</option>
                                    <option value="2">پوسته BlueSky</option>
                                    <option value="3">پوسته DarkNight</option>
                                </select>
                                <span asp-validation-for="Theme" class="text-danger"></span>
                            </div>*@

                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته Minimal (پوسته پیش فرض)</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته BlueSky</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته HeroSlider</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته Dark</label>
                            </a>
                        </div>
                        @*<div class="pull-right reset-padding block-level">
                                <label asp-for="ColorTheme" class="control-label"></label>
                                <input type="color" asp-for="ColorTheme" class="form-control" />
                                <span asp-validation-for="ColorTheme" class="text-danger"></span>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 margin-top-md">
                <img src="~/images/undraw_collection_u2np.svg" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        /*DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });*/
    </script>
    <script>
        function submitfields() {
            $("#AboutUs").val($("#editor").html());
            $("#VisitTime").val($("#editorVisit").html());

            var textAreaVal = $('#Mapcode').val();
            var getIframeSrcFromTextAreaVal = $($(textAreaVal)).filter('iframe').attr('src');
            $("#Map").val(getIframeSrcFromTextAreaVal);
        }


    </script>
        
}