﻿@model ClinicWebApp.Models.Website

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Website</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogoFileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoFileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutUs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutUs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AboutUsPicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AboutUsPicture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ColorTheme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColorTheme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
