﻿@model ClinicWebApp.Models.Website

@{
    ViewData["Title"] = "اطلاعات اولیه وب سایت";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<!-- <style>
header span.icons{
    display:none;
}
</style> -->

   @Html.Raw(TempData["msg"])

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">

            <ul class="nav nav-tabs col-xs-12 vertical-xs">
                <li class="active"><a data-toggle="tab" href="#home">مشخصات وب سایت</a></li>
                <li><a data-toggle="tab" href="#menu1">متن استاتیک</a></li>
                <li><a data-toggle="tab" href="#menu2">اطلاعات تماس</a></li>
                <li><a data-toggle="tab" href="#menu3">نقشه</a></li>
                <li><a href="#menu4">قالب <img src="~/images/gemstone.svg" width="20" /></a></li>
                <li class="pull-left"><button type="submit" class="btn gradient-btn" onclick="submitfields()">ذخیره <i class="fa fa-save"></i></button></li>
            </ul>

            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-7 col-xs-12 pull-right">
                <div class="tab-content margin-top-md">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form-group hidden">
                            <label asp-for="ClinicId" class="control-label"></label>
                            <input asp-for="ClinicId" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubTitle" class="control-label"></label>
                            <input asp-for="SubTitle" class="form-control" />
                            <span asp-validation-for="SubTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LogoFileUrl" class="control-label"></label>
                            <input asp-for="LogoFileUrl" type="file" class="form-control" />
                            <span asp-validation-for="LogoFileUrl" class="text-danger"></span>
                            <img src="@Url.Content("~/"+@Model.LogoFileUrl)" alt="" class="img-on-page" />
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="form-group">
                            <label asp-for="AboutUs" class="control-label"></label>



                            <textarea asp-for="AboutUs" id="AboutUs" name="AboutUs" hidden></textarea>
                           
    <textarea id="txteditor" class="md-editor about">
    </textarea>

                            <span asp-validation-for="AboutUs" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AboutUsPicture" class="control-label"></label>
                            <input type="file" asp-for="AboutUsPicture" class="form-control" />
                            <span asp-validation-for="AboutUsPicture" class="text-danger"></span>
                            <img src="@Url.Content("~/"+@Model.AboutUsPicture)" alt="" class="img-on-page" />

                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tel1" class="control-label"></label>
                            <input asp-for="Tel1" class="form-control" />
                            <span asp-validation-for="Tel1" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel2" class="control-label"></label>
                            <input asp-for="Tel2" class="form-control" />
                            <span asp-validation-for="Tel2" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel3" class="control-label"></label>
                            <input asp-for="Tel3" class="form-control" />
                            <span asp-validation-for="Tel3" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel4" class="control-label"></label>
                            <input asp-for="Tel4" class="form-control" />
                            <span asp-validation-for="Tel4" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                            <label asp-for="Tel5" class="control-label"></label>
                            <input asp-for="Tel5" class="form-control" />
                            <span asp-validation-for="Tel5" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="VisitTime" class="control-label"></label>
                            <textarea asp-for="VisitTime" id="VisitTime" class="form-control" rows="4"></textarea>
            </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        @*<div class="map-background"></div>*@
                        <div class="form-group">
                            <p>برای درج نقشه در سایت، کد نقشه را در این قسمت وارد نمائید. در صورت نیاز به راهنما <a href="">این مقاله</a> را مطالعه فرمائید.</p>
                        </div>
                        <div class="form-group">
                            <label asp-for="Map" class="control-label"></label>
                            @*<textarea id="Mapcode" class="form-control" rows="4"></textarea>*@

                            <textarea asp-for="Map" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Map" class="text-danger"></span>


                        </div>

                    </div>
                    <div id="menu4" class="tab-pane fade">
                        @*<div class="form-group col-md-6 pull-right reset-padding">
                                <label asp-for="Theme" class="control-label"></label>
                                <select asp-for="Theme" class="form-control">
                                    <option value="0">پوسته Minimal (پیش فرض)</option>
                                    <option value="1">پوسته HeroSlider</option>
                                    <option value="2">پوسته BlueSky</option>
                                    <option value="3">پوسته DarkNight</option>
                                </select>
                                <span asp-validation-for="Theme" class="text-danger"></span>
                            </div>*@

                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته Minimal (پوسته پیش فرض)</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته BlueSky</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته HeroSlider</label>
                            </a>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#">
                                <div class="ui-frame">
                                    <img src="~/images/screen_minimal.png" />
                                </div>
                                <label>پوسته Dark</label>
                            </a>
                        </div>
                        @*<div class="pull-right reset-padding block-level">
                                <label asp-for="ColorTheme" class="control-label"></label>
                                <input type="color" asp-for="ColorTheme" class="form-control" />
                                <span asp-validation-for="ColorTheme" class="text-danger"></span>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12 margin-top-md">
                <img src="~/images/undraw_collection_u2np.svg" />
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
          $("#txteditor.about").val($("#AboutUs").val());

        /*DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });

        document.getElementById("editor").innerHTML = $("#AboutUs").val();*/
    </script>
    <script>
        
        document.getElementById("editorVisit").innerHTML = $("#VisitTime").val();

        /*if ($("#Map").val() != null) {
            $("#Mapcode").val('<iframe src="' + $("#Map").val() + '" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>');
        }*/

    </script>

    <script>
        function submitfields() {
            $("#AboutUs").val(editor.getData());

            /*var textAreaVal = $('#Mapcode').val();
            var getIframeSrcFromTextAreaVal = $($(textAreaVal)).filter('iframe').attr('src');
            $("#Map").val(getIframeSrcFromTextAreaVal);*/

        }
    </script>

}