﻿@model IEnumerable<ClinicWebApp.Models.AspNetUsers>

@{
    ViewData["Title"] = "لیست کاربران";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Register" asp-controller="Account" class="btn gradient-btn">ثبت نام کاربر جدید</a>
</p>
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
