body{
    background-color: #fff;
    overflow: hidden;
}
p{
    line-height: 2;
}
/* header */
header{
    /* background-color: #001E41; */
    background: rgb(14,2,71);
/* background: linear-gradient(90deg, rgba(14,2,71,1) 0%, rgba(53,69,111,1) 35%, rgba(219,215,255,1) 100%); */
background: linear-gradient(90deg, rgb(214, 211, 239) 0%, rgb(86, 109, 171) 35%,rgb(33, 22, 84) 100% );
height: 90vh;
    color: #fff;
    padding-top: 200px;
    padding-right: 100px;
    /* width: 95%;
    margin: 0 auto; */
    border-radius:0 0 10px 10px;
}
header h1,header h2,header a{
    margin-bottom: 30px;
    font-weight: 100;
}
header .btn{
    font-size: 1.3em;
}
.logo{
    width: 200px;
    float: left;
    margin-left: 100px;
}
/* btn-round */
.btn-round{
    background-color: #ccc;
    width:70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(0, -100%);
}
.btn-round img{
    width: 30px;
    margin-top:15px;
    opacity: 0.7;
}

/*nav*/
nav {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}


/*carousel*/

.carousel {
    height: 70vh;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
    height: 70vh;
}

.carousel-control img {
    width: 70px;
    margin-top: 30vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.carousel-caption h3, .carousel-caption p {
    margin-right: 30px;
}
.carousel-box {
    direction: ltr;
    padding: 20px;
}

.owl-controls .owl-buttons div {
    padding: 5px 9px;
    transition: 0.5s ease all;
    margin-top:60px;
}

.owl-buttons i {
    margin-top: 2px;
}

.owl-buttons img {
    width: 30px;
}

.owl-controls .owl-buttons div {
    position: absolute;
    box-shadow: 5px 10px 46px 10px #dddddd;
    border-radius: 10px;
    height: 100px;
    padding-top: 35px;
}

.owl-controls .owl-buttons .owl-prev {
    left: 0;
    top: 35px;
}

.owl-controls .owl-buttons .owl-prev img {
    margin: 0 auto;
}

.owl-controls .owl-buttons .owl-next {
    right: 0;
    top: 35px;
}

.owl-controls .owl-buttons .owl-next img {
    margin: 0 auto;
}

.center {
    text-align: center;
}
/*hero*/

.hero {
    background-image: url(../images/board.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 10%;
}

.hero h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 25px;
}

.hero p {
    font-size: 1.5em;
}

/*contact*/

.contact {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.contact i {
    color: #fff;
}

.contact a {
    color: #fff;
}

.social i {
    font-size: 1.2em;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}
/* about */
#about{
    margin-top: 70px;
    padding:50px;
}
#about::after{
    content: "";
    background: url('../images/sound.svg');
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
#about div{
    background-color: rgba(255,255,255,0.8);
}
#about p{
    text-align: justify;
    color: #7f7f7f;
    font-size: 1.1em;
    font-weight: 300;
}
#about h3{
    margin-bottom: 30px;
    color: #000;
}
#about span{
    float: left;
}
.border-box{
    border: 1px solid rgba(123,123,123,0.2);
padding:40px;
border-radius: 5px;
opacity: 0.98;
}
.border-box:hover{
    opacity: 1;
}
a .border-box{
    color: #000;
}
h3 i:before{
    font-size: 2em !important;
    margin-left: 0 !important;
}
.section{
    margin: 70px auto;
}

/* category */

#category h3{
    margin-bottom: 50px;
}
#category .item img{
    width: 100px;
}
#category .border-box{
    width: 70%;
    margin: 0 auto;
}
.more{
    color: #0070c9;
    font-weight: 500;
}
/* articles */
#articles h4{
    line-height: 2;
}
#articles img{
    height: 40vh;
}
#articles h3{
    margin-bottom: 50px;
}
/* visit */
#visit .back-img
{
    opacity: 0.1;
    width: 500px;
    position: absolute;
    right: -40px;
    z-index: -1;
    transform: rotate(-45deg)
}
.section-img{
    width: 300px;
}
#visit .text p{
   line-height: 3;
   margin-top: 30px;
}