﻿@model ClinicWebApp.Models.WebsitePost
<link rel="stylesheet" href="~/trumbowyg/dist/ui/trumbowyg.min.css">
@{
    ViewData["Title"] = "پست مطلب جدید";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" type="text/css" href="~/taggle/css/taggle.css">

<form asp-action="Create" enctype="multipart/form-data">

<div class="col-xs-12">
<h2 class="pull-right">@ViewData["Title"]</h2>
<button type="submit" class="btn btn-black pull-left" style="margin:15px 5px;" onclick="check();"><i class="fa fa-check"></i> انتشار</button>
<a type="button" class="btn btn-black pull-left" style="margin:15px 5px;" asp-action="Index"><i class="fa fa-chevron-left"></i> بازگشت به لیست</a>

</div>

    <div class="row">
        <div class="col-md-12 col-xs-12 pull-right">
<hr />
            <div class="col-md-8 col-xs-12 pull-right reset-padding-right">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="WebsiteId" type="hidden" value="@ViewData["WebsiteId"]" class="form-control" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" required/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <div class="form-horizontal">
                        <label class="control-label col-sm-4">/@ViewData["websiteUrl"]</label>
                        <div class="col-sm-8 reset-padding">
                            <input asp-for="Slug" class="form-control" required />
                        </div>
                    </div>
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostContent" class="control-label"></label>
                    <textarea asp-for="PostContent" id="PostContent" name="PostContent" class="hidden"></textarea>
 <textarea name="txteditor" id="txteditor" rows="50" cols="80"></textarea>
                    <span asp-validation-for="PostContent" class="text-danger"></span>
                </div>
                </div>

            <div class="col-md-4 col-xs-12 side-box">

                <div class="form-group">
                     <label asp-for="Date" class="control-label"></label>
                 <input asp-for="Date" type="hidden" class="ndate"/>
                <input id="show_date" type="text" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Tag" class="control-label"></label>
                    <input asp-for="Tag" id="Tag" type="text" class="form-control" />
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<input asp-for="MainPicture" type="file" class="form-control" />*@
                    <label asp-for="MainPicture" class="block-level"></label>
                    <input onchange="updateImageDisplay()" type="file" name="MainPicture" id="file-1" class="mainpagepic inputfile inputfile-1" data-multiple-caption="{count} فایل انتخاب شده است" multiple />
                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>تصویر جدید را انتخاب کنید</span></label>
                    <div id="selectedFiles"></div>
                    <span asp-validation-for="MainPicture" class="text-danger"></span>

                </div>
               @*<div class="form-group">
                    <label asp-for="TextBased" class="control-label"></label>
                    <label class="switch">
                        <input asp-for="TextBased" checked />
                        <span class="slider round"></span>
                    </label>
                </div>*@
                <div class="form-group hidden">
                    <label asp-for="Comment" class="control-label"></label>
                    <label class="switch">
                        <input asp-for="Comment" checked />
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Visible" class="control-label"></label>
                    <label class="switch">
                        <input asp-for="Visible" checked />
                        <span class="slider round"></span>
                    </label>
                </div>
           
                <div class="col-xs-12 margin-top-sm">
               <label>سئو</label>
                    <br><small>مقادیر این بخش، در صفحه نمایش داده نمی شود
                        و جهت بهینه سازی موتورهای جستجو استفاده می گردد
                    </small>
                <hr>
                <div class="form-group">
                    <label asp-for="Keywords"></label>
                    <br><small>تنها کلمات کلیدی اصلی صفحه را بنویسید و بین آنها را با ویرگول جدا کنید</small>
                    <input asp-for="Keywords" class="form-control"/>
                </div>

                 <div class="form-group">
                    <label asp-for="Description"></label>
                    <br>
                    <small>یک توضیح مختصر از محتوای صفحه بنویسید. این توضیح در نتایج جستجو نمایش داده می شود</small>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                </div>
                </div>
                </div>
 
            </div>
        </div>

    </div>
</form>
<div class="box-footer right margin-top-sm">
    <a asp-action="Index">
        همه پست ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#show_date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            }).datepicker("setDate", 'now');
        });
    </script>

 <script>
$(document).ready(function(){
 var jd=moment($("#show_date").val(), 'jYYYY-jM-jD').format('YYYY/M/D');
      $("#Date").val(jd);

})

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>


    <script>
        $("#Title").keyup(function () {
            $("#Slug").val($("#Title").val().replace(/\//g, '-').split(/\s+/).join('-'));
        })
    </script>


   

    


    <script>
        function check() {
            $("#Slug").val().replace(/\//g, '-').split(/\s+/).join('-');


            $("#PostContent").val(editor.getData());
        }
    </script>



}