﻿@model ClinicWebApp.Models.WebsitePost

@{
    ViewData["Title"] = "حذف پست";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="eDate">
            @Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd>
            @Html.Raw(Model.PostContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainPicture)
        </dt>
        <dd>
            @{
                if (Model.MainPicture != null)
                {
                    <img src="/@Model.MainPicture" class="img-on-page" />

                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
      
       
        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-action="Index">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>