﻿@model IEnumerable<ClinicWebApp.Models.WebsitePost>

@{
    ViewData["Title"] = "مطالب وب سایت";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";

}
@Html.Raw(TempData["msg"])
<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-reorder"></i> پست مطلب جدید </a>
</p>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="eDate">
                     @Convert.ToDateTime(item.Date).ToString("yyyy-MM-dd")
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Tag)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">ویرایش</a> |
                    <!-- <a href="/Post/@item.Id" class="btn btn-link">مشاهده پست</a> | -->
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>