﻿@model ClinicWebApp.Models.UserClinic

@{
    ViewData["Title"] = "حذف";
}

@*<h2>@ViewData["Title"]</h2>*@

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف <b>@Html.DisplayFor(model => model.User.UserName)</b> از کلینیک  <b>@Html.DisplayFor(model => model.Clinic.FullName)</b> می باشید؟</h3>
<div class="margin-top-md">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف کاربر" class="btn btn-danger" />
        <div class="box-footer right margin-top-md">
            <a onclick="history.go(-1);">
                بازگشت به لیست
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
    </form>
</div>
