﻿@model IEnumerable<ClinicWebApp.Models.UserClinic>

@{
    ViewData["Title"] = "Index";
}


    <h2>کاربران کلینیک <b>@ViewData["ClinicName"]</b> </h2>

    <p class="margin-top-sm">
        <a asp-controller="Account" asp-action="Register" asp-route-id="@ViewData["id"]" class="btn gradient-btn"><i class="fa fa-user"></i> ساخت اکانت کاربری پنل</a>
    </p>
    <div class="table-resposnive">
    <table class="table margin-top-md">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.Clinic)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            کلینیک @Html.DisplayFor(modelItem => item.Clinic.FullName)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="AspNetUsers" asp-route-id="@item.UserId">ویرایش</a> |
                        <a asp-action="Details" asp-controller="AspNetUserRoles" asp-route-id="@item.UserId">جزئیات</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="box-footer right margin-top-sm">
        <a asp-action="Details" asp-controller="Clinics" asp-route-id="@ViewData["id"]">
            بازگشت به لیست کاربران
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    </div>