﻿@model ClinicWebApp.Models.WebsiteContactForm

@{
    ViewData["Title"] = "ویرایش پیام";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" type="text/css" href="~/taggle/css/taggle.css">


<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6 col-xs-12 pull-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group hidden">
                <label asp-for="WebsiteId" class="control-label"></label>
                <select asp-for="WebsiteId" class="form-control" asp-items="ViewBag.WebsiteId"></select>
                <span asp-validation-for="WebsiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>

                 <input asp-for="Date" asp-format="{0:yyyy-MM-dd}" type="hidden" class="ndate"/>
                <input id="show_date" type="text" class="form-control" autocomplete="off" />

                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea rows="10" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="FileUrl" class="control-label"></label>
                    <input asp-for="FileUrl" class="form-control" />
                    <span asp-validation-for="FileUrl" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Verify" class="control-label"></label>
                <input asp-for="Verify" class="checkbox" />
                <span asp-validation-for="Verify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-black" />
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            $("#show_date").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy/mm/dd"
            })
        });
    </script>

 <script>
$(document).ready(function(){
 var jd=moment($("#Date").val(), 'YYYY-M-D').format('jYYYY/jM/jD');
      $("#show_date").val(jd);

})

      $("#show_date").change(function(){
      var d=moment($("#show_date").val(), 'jYYYY/jM/jD').format('YYYY-M-D');
      $("#Date").val(d);
      })
    </script>
}
