﻿@model IEnumerable<ClinicWebApp.Models.WebsiteContactForm>

@{
    ViewData["Title"] = "نظرات";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";

}

<h2>@ViewData["Title"]</h2>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verify)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style='@(item.Verify? "background-color:#fff" : "background-color:#dedede")'>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="eDate">
                @item.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @{
                    if (item.Message.Length < 30)
                    {
                        @item.Message;

                    }
                    else
                    {
                        @(item.Message.Substring(0, 30)); <span>...</span>

                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verify)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-black" asp-route-id="@item.Id">مشاهده و تائید</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>