﻿@model ClinicWebApp.Models.Notification

@{
    ViewData["Title"] = "تنظیم پیام جدید";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Notification1" class="control-label"></label>
                <textarea name="Notification1" id="Notification1" class="form-control noresize" rows="3"></textarea>
                <span asp-validation-for="Notification1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <select asp-for="ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>
            </div>
            <div class="form-group toggle-box margin-top-md">

                <!-- Rounded switch -->
                @*<i>انتشار</i>
        <label class="switch">
            <input asp-for="Enabled" checked />
            <span class="slider round"></span>
        </label>
        <i>پیش نویس</i>*@
                <label>
                    <input asp-for="Enabled" checked />نمایش به پزشک
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-black">
                    ارسال <i class="fa fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="box-footer right">
    <a asp-action="Index">
        بازگشت به لیست
        <i class="fa fa-angle-left"></i>
    </a>
</div>

