﻿@model ClinicWebApp.Models.Notification

@{
    ViewData["Title"] = "نمایش پیام";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notification1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notification1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="eDate">
            @Convert.ToDateTime(Model.Date).ToString("yyyy-MM-dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clinic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clinic.FullName)
        </dd>
    </dl>
</div>
<div class="box-footer right">
    <a asp-action="Edit" asp-route-id="@Model.Id">
        ویرایش
    </a> |
    <a asp-action="Index">
        بازگشت به لیست
    </a>
</div>