﻿@model IEnumerable<ClinicWebApp.Models.Notification>

@{
    ViewData["Title"] = "پیام های ارسال شده";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-envelope"></i> ارسال پیام جدید </a>
</p>
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notification1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{
                    if (item.Notification1.Length < 30)
                    {
                        @item.Notification1;

                    }
                    else
                    {
                        @(item.Notification1.Substring(0, 30)); <span>...</span>

                    }
                }

            </td>
            <td class="eDate">
            @item.Date.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.FullName)
            </td>
            <td>
                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">نمایش پیام</a> |
                <a class="btn btn-link" asp-action="Edit" asp-route-id="@item.Id">ویراش</a> |
                <a class="btn btn-link" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>
