﻿@model IEnumerable<ClinicWebApp.Models.Notification>

<div class="box-header">
    <h3><span class="flaticon-006-chevron"></span>بورد مطب</h3>
</div>
<ul class="notification">
    @foreach (var item in Model)
    {
        <li>
            <div class="alert alert-warning">
                <small><i class="fa fa-clock-o"></i> <span class="eDate">@Convert.ToDateTime(item.Date).ToString("yyyy-MM-dd")</span></small>
                @item.Notification1
            </div>
        </li>
    }
</ul>