﻿@model ClinicWebApp.Models.Note

@{
    ViewData["Title"] = "حذف";
      Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<h2>@ViewData["Title"]</h2>*@

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف یادداشت <b>@Model.Title</b> می باشید؟</h3>
<div class="margin-top-md">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف یادداشت" class="btn btn-danger" />
        <div class="box-footer right margin-top-md">
            <a onclick="history.go(-1);">
                بازگشت به لیست
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
    </form>
</div>
