﻿@model IEnumerable<ClinicWebApp.Models.Note>

@{
    ViewData["Title"] = "دفتر یادداشت";
       Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-xs-12 reset-padding">
    <h2>دفتر یادداشت</h2>
<hr>
    <p class="margin-top-sm">
        <a asp-action="Create" class="btn btn-black"><i class="fa fa-pencil"></i> افزودن</a>
    </p>
    <div class="table-resposnive">
    <table class="table margin-top-md">
        <thead>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.NoteText)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                     <td class="eDate">@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.NoteText)
                    </td>
                    
                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a>
                        <a  class="btn btn-black" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    </div>