﻿@model ClinicWebApp.Models.WebsitePage

@{
    ViewData["Title"] = "ایجاد صفحه جدید";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<form class="col-xs-12" asp-action="Create" enctype="multipart/form-data">
<div class="col-xs-12">
        <h2 class="pull-right">@ViewData["Title"]</h2>
        <button type="submit" class="btn btn-black pull-left" style="margin:15px 5px;" onclick="check();"><i class="fa fa-check"></i> انتشار</button>
<a type="button" class="btn btn-black pull-left" style="margin:15px 5px;" asp-action="Index"><i class="fa fa-chevron-left"></i> بازگشت به لیست</a>
</div>
   
        <div class="col-md-12 col-xs-12 margin-top-sm">
             <hr>
            <div class="col-md-8 col-xs-12 pull-right reset-padding-right">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group hidden">
                    <label asp-for="WebsiteId" class="control-label"></label>
                    <input asp-for="WebsiteId" value="@ViewData["WebsiteId"]" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" required/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slug" class="control-label"></label>
                    <input asp-for="Slug" class="form-control" required/>
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageContent" class="control-label"></label>
                    <textarea asp-for="PageContent" id="PageContent" name="PageContent" class="hidden"></textarea>
                    <!-- The toolbar will be rendered in this container. -->
            <textarea name="txteditor" id="txteditor" rows="10" cols="80"></textarea>
                    <span asp-validation-for="PageContent" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 side-box">
                <div class="form-group hidden">
                    @*<input asp-for="MainPicture" type="file" class="form-control" />*@
                    <label asp-for="PagePicture" class="block-level"></label>
                    <input type="file" onchange="updateImageDisplay()" name="PagePicture" id="file-1" class="mainpagepic inputfile inputfile-1" data-multiple-caption="{count} فایل انتخاب شده است" multiple />
                    <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>تصویر جدید را انتخاب کنید</span></label>
                    <div id="selectedMainPic"></div>
                    <span asp-validation-for="PagePicture" class="text-danger"></span>

                </div>
                <div class="form-group hidden">
                    <label asp-for="ParentPage" class="control-label"></label>
                    <select asp-for="ParentPage" class="form-control" asp-items="ViewBag.pages">
                        <option  value="0">--انتخاب کنید--</option>
                    </select>
                    <span asp-validation-for="ParentPage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShowInMenu" class="control-label"></label>
                    <label class="switch">
                        <input asp-for="ShowInMenu" checked />
                        <span class="slider round"></span>
                    </label>
                </div>

 <div class="form-group">
                    <label asp-for="ShowInFrontPage" class="control-label"></label>
                    <label class="switch">
                        <input asp-for="ShowInFrontPage"/>
                        <span class="slider round"></span>
                    </label>
                </div>

                 <div class="form-group">
                    <label asp-for="Theme">انتخاب پوسته</label>
                    <select class="form-control" asp-for="Theme">
                    <option value="0">پوسته پیش فرض</option>
                    <option value="1">درباره</option>
                    <option value="2">تماس</option>
                    <option value="3">گالری</option>
                    <option value="4">پیام</option>
                    <option value="5">بلاگ</option>
                    </select>
                    <small>تم های از پیش تعریف شده دارای استایل نوشته شده هستند
                        و تنها کافیست انتخاب شوند. محتوای آن ها به صورت اتوماتیک در صفحه لود می شود
                    </small>
                </div>
                
               
        </div>

    </div>
</form>
<div class="box-footer right margin-top-sm col-xs-12">
    <a asp-action="Index">
        همه صفحات ها
        <i class="fa fa-angle-left"></i>
    </a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        /*DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');
                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });*/
    </script>


    <script>
        $("#Title").keyup(function () {
            $("#Slug").val($("#Title").val().replace(/\//g, '-').split(/\s+/).join('-'));
        })
    </script>
  <!--  <script>

        'use strict';

        ; (function (document, window, index) {
            var inputs = document.querySelectorAll('.inputfile');
            Array.prototype.forEach.call(inputs, function (input) {
                var label = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener('change', function (e) {
                    var fileName = '';
                    if (this.files && this.files.length > 1)
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    else
                        fileName = e.target.value.split('\\').pop();

                    if (fileName)
                        label.querySelector('span').innerHTML = fileName;
                    else
                        label.innerHTML = labelVal;
                });

                // Firefox bug fix
                input.addEventListener('focus', function () { input.classList.add('has-focus'); });
                input.addEventListener('blur', function () { input.classList.remove('has-focus'); });
            });
        }(document, window, 0));
    </script>
    <script>
        var selDiv = "";
        document.addEventListener("DOMContentLoaded", init, false);
        function init() {
            document.querySelector('#file-1').addEventListener('change', handleFileSelect, false);
            selDiv = document.querySelector("#selectedMainPic");
        }

        function handleFileSelect(e) {

            if (!e.target.files || !window.FileReader) return;

            selDiv.innerHTML = "";

            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            filesArr.forEach(function (f) {
                //var f = files[i];
                if (!f.type.match("image.*")) {
                    return;
                }

                var reader = new FileReader();
                reader.onload = function (e) {
                    var html = "<img src=\"" + e.target.result + "\">";
                    selDiv.innerHTML += html;
                }
                reader.readAsDataURL(f);
            });

        }
    </script>-->
    <script>
        function check() {
            $("#Slug").val().replace(/\//g, '-').split(/\s+/).join('-');

        
            $("#PageContent").val(editor.getData());
        }
    </script>

}

