﻿@model ClinicWebApp.Models.WebsitePage

@{
    ViewData["Title"] = "حذف صفحه";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";

}

<h2>@ViewData["Title"]</h2>

<h3 class="alert alert-danger"><i class="fa fa-warning"></i> آیا مطمئن به حذف هستید؟ این عملیات قابل برگشت نمی باشد.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>
        <dd>
            @Html.Raw(Model.PageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PagePicture)
        </dt>
        <dd>
            @{
                if (Model.PagePicture!=null)
                {
                    <img src="/@Model.PagePicture" class="img-on-page" />

                }
            }

        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.ParentPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentPage)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.ShowInMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInMenu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInFrontPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInFrontPage)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
    <div class="box-footer right margin-top-md">
        <a asp-action="Index">
            بازگشت به لیست
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
</div>