﻿@model ClinicWebApp.Models.WebsitePage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebsitePage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PagePicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PagePicture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInMenu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInFrontPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInFrontPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
