﻿@model IEnumerable<ClinicWebApp.Models.WebsitePage>

@{
    ViewData["Title"] = "صفحات وب سایت";
   Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p class="margin-top-sm">
    <a asp-action="Create" class="btn gradient-btn"><i class="fa fa-reorder"></i> ایجاد صفحه جدید </a>
</p>
<div class="table-responsive">
<table class="table margin-top-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ParentPage)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShowInMenu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var pagelist = Model.ToList();
        }
        @foreach (var item in pagelist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                @*<td>
                    @{
                        if (item.ParentPage == 0)
                        {
                            @:<label>-</label>
                        }
                        else
                        {   
                        int inx=Convert.ToInt32(item.ParentPage);
                        var obj=pagelist.FirstOrDefault(m=>m.Id==inx);
                        <label>@obj.Title</label>
                        }
                    }
                </td>*@
                <td>
                    @{
                        if(item.ShowInMenu){
<label class='label label-info'>نمایش در منو</label>
                        }
                        else{
                            <label class='label label-success'>عدم نمایش در منو</label>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">ویرایش</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">مشاهده</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>